[2020-08-31 18:16] codyoss commented on #645
@profsmallpine Thanks for the report.

1. Can you please tell me which version of google.golang.org/api you are pulling using?
2. Can you please provide the exact error message you are seeing?
3. Does this error only occur once and then a retry fixes it? Or does it come up ever X minutes?

[2020-09-02 22:51] MordFustang21 commented on #637
Tried again using the scopes provided and a couple others and am still receiving
`Actor does not have permission to create group` errors
[code]

[2020-09-03 18:05] profsmallpine commented on #645
We are using `v0.22.0`.

The exact error message is `googleapi: Error 400: Precondition check failed., failedPrecondition`.

This error occurs once and then a retry fixes it. I am attaching a screenshot to give an idea of regularlity.

<img width="453" alt="Screen Shot 2020-09-03 at 12 04 51 PM" src="https://user-images.githubusercontent.com/7328006/92151101-c3fe4e00-eddd-11ea-8d32-65dbf38f5d33.pn

[2020-09-03 18:22] codyoss commented on #645
@profsmallpine Could you please try upgrading to v0.31.0. There might be something that has sense been fixed in the generated code. Also, a few releases back the level of detail provided in error messages improved. I would be interested to see if we can get more context into what is going on here.

Also, how are you acquiring your access token? Some the the errors seem to be pretty much one hour a

[2020-09-03 21:18] profsmallpine commented on #645
Yes, I will update the version we are running and continue to monitor.

We are creating the service as we need it and allowing the underlying go http transport is refreshing the token. I don't think the issue lives here, but there could definitely be an edge cause I'm not handling. Given that the job retries a handful of seconds later and succeeds, I'm drawing a blank for where this error is comin

[2020-09-08 15:35] codyoss commented on #637
If you have a support contract with GCP I suggest reaching out through that channel as they can help take a deeper look here. Now that you are passing in the correct scopes the only thing that I can think this could be is an issue with the service account not having the correct permission structure.

[2020-09-08 18:57] Schparky opened #651 "In v0.31, Directory API User.CustomSchemas is broken"
The `CustomSchemas` property of `User` in the Directory API is broken. It was formerly a `map[string]json.RawMessage` but was changed to `map[string]UserCustomProperties`. `UserCustomProperties` is now defined as an empty struct:
[code]

[2020-09-08 19:29] codyoss commented on #651
Thanks for the report. This is a known issue and will be fixed in the next release. I will keep this open until a new release is cut with the fix. For now, please continue to use v0.30.0.

[2020-09-09 15:17] #378 closed

[2020-09-09 15:19] codyoss opened #652 "support impersonating admin users for gSuite APIs"
Followup tracking issue to #378.

[2020-09-09 15:22] codyoss commented on #378
An option has been added to support user/service-account impersonation of another service account. I created a new separate issue, linked above, to track supporting impersonating a gSuite admin user.

[2020-09-09 20:07] carnott-snap commented on #652
Is it possible to implement this feature using default credentials without minting subtokens like I do in `git.sr.ht/~urandom/dwd`?

[2020-09-09 22:23] codyoss commented on #652
@carnott-snap When you say "without minting subtokens" what do you mean?

[2020-09-09 22:52] carnott-snap commented on #652
I use environments where only the application default credentials are accessable, so no json service account keys. If you look at the linked library, I achieve gsuite admin impersonation via making a new `oauth2.Token` based on the response from `cloud.google.com/go/iam/credentials/apiv1.IamCredentialsClient.SignJwt`. This new token correctly impersonates the admin, and I can confirm works as expe

[2020-09-10 14:04] codyoss commented on #652
If the question is, would we support application default credentials(ADC) for sourcing the base credentials -- the answer is yes.

[2020-09-11 14:12] codyoss commented on #590
This is now complete. PRs now have a static title and are generated with the same version as they are tidied with.

[2020-09-11 14:12] #590 closed

[2020-09-11 14:37] codyoss commented on #651
This is now fixed on HEAD and will be released early next week.

[2020-09-11 14:37] #651 closed

[2020-09-11 14:38] codyoss commented on #645
@profsmallpine Just checking back in, did you find the source of the issue?

[2020-09-11 15:05] codyoss commented on #545
Sorry I lost track of this issue. Were you able to find a solution?

If you want to pass an HTTP Client used for token fetches you can do that by embedding one in the context passed to `config.TokenSource`. Here is an example: https://pkg.go.dev/golang.org/x/oauth2?tab=doc#example-Config-CustomHTTP

[2020-09-11 15:13] codyoss commented on #468
Closing as bug has been reported internally: 154313078. There is nothing more to due from this libraries perspective.

[2020-09-11 15:13] #468 closed

[2020-09-11 15:19] codyoss commented on #458
I believe a project number is also valid here, closing.

[2020-09-11 15:19] #458 closed

[2020-09-11 18:41] #519 closed

[2020-09-15 22:21] profsmallpine opened #665 "SDK Leaving Connections Open"
We recently upgraded from v0.22.0 to v.0.31.0, and we were hit with numerous "too many files open". After downgrading, these errors stopped occurring. There is the obvious culprit where go's default http client does not specify a timeout. I could not find any changes from 22 -> 31 that would cause this issue, but it must be hidden in there somewhere. Any ideas?

[2020-09-15 22:22] profsmallpine commented on #645
After upgrading, we ran into another issue (#665) and had to rollback.

[2020-09-16 08:57] richzw commented on #328
Per the comment of UserCancellationTimeMillis

	// UserCancellationTimeMillis: The time at which the subscription was
	// canceled by the user, in milliseconds since the epoch. Only present
	// if cancelReason is 0.

It seems UserCancellationTimeMillis is only set when cancelReaons is 0

[2020-09-16 13:50] codyoss commented on #665
I need a little more information to go off of here.

- What clients are your creating, how many?
- Can you provide a code snippet to reproduce?
- Can you paste the full error message as received and show where you get it from?
- What version of Go are you using?

If you are creating multiple clients, you should not need to. They are thread safe. I have seen similar errors to this in the past becau

[2020-09-16 16:45] profsmallpine commented on #665
We are syncing many gmail accounts using push notifications. When a webhook hits our application, we call:

`service, err := gmail.NewService(ctx, option.WithScopes(gmail.GmailReadonlyScope), option.WithTokenSource(s.Config.TokenSource(ctx, token)))`

which creates a new client on the fly. I am assuming you are saying this is not necessary. We can create a service when the app starts up and use th

[2020-09-16 18:19] codyoss commented on #665
Yes.

How are you getting your `token` variable today? Most users of these libraries will they don't need to pass in a TokenSource as, by default, our clients try to load credentials by ADC. See the [following link](https://pkg.go.dev/golang.org/x/oauth2/google#FindDefaultCredentials) about how we try to source credentials for you. If you are using a service account in your local environment I sug

[2020-09-16 18:29] profsmallpine commented on #665
The ClientID + ClientSecret are passed in via the config above when the app starts up, defined by:

[code]

However, the access and refresh token comes from our database for each different gmail account we are managing:

[code]

This is how the token is defined. It's not immediately clear to me how this would get loaded if we have a single client.

[2020-09-16 19:33] codyoss commented on #665
Thank you for better explaining your use-case. One option that might work for you is something like this:

[code]

This would still create a client for each webhook response, but you are re-using the same underlying transport.

[2020-09-16 19:46] blucas opened #667 "Apigee - Organizations.Apis.Get(...) fails to Unmarshal successful response"
### Golang Version
1.14
### Client Library & Version
[apigee/v1](https://github.com/googleapis/google-api-go-client/tree/v0.31.0/apigee/v1) - v0.31.0
### Problem
When attempting to unmarshal the HTTP response received from `Organizations.Apis.Get()` the following error is returned:

### Assessment
`GoogleCloudApigeeV1EntityMetadata` declares `CreatedAt` and `LastModifiedAt` will be marshalled into

[2020-09-16 20:27] codyoss commented on #667
This client is auto-generated, and according to the spec this is right: https://github.com/googleapis/google-api-go-client/blob/master/apigee/v1/apigee-api.json#L7029-L7032. But looking at your your output it seems to be a wrong. Could you open an issue on issuetracker.google.com?

[2020-09-16 20:39] blucas commented on #667
@codyoss Thanks for the quick reply.  I've tried to raise the issue on the link you provided, but I'm unsure as to what **Component** I'm supposed to use for the issue.  Can you help me identify the correct choice so I can raise the issue?

[2020-09-16 21:57] codyoss commented on #667
I was unable to find a public component, but I did file an issue internally on your behalf.

Internal Issue: 168736975

I will post back when I hear more.

[2020-09-17 16:16] blucas opened #669 "Apigee - Organizations.Apis.Create question"
### Golang Version
1.14
### Client Library & Version
[apigee/v1](https://github.com/googleapis/google-api-go-client/tree/v0.31.0/apigee/v1) - v0.31.0
### Question
According to the documentation `Organizations.Apis.Create(...)` supports  "Import an API proxy configuration bundle", but I'm not sure how to accomplish this.  The documentation states one must supply a `GoogleApiHttpBody` but that `stru

[2020-09-17 19:39] blucas commented on #667
Thanks @codyoss

[2020-09-18 16:31] codyoss commented on #669
Thanks for the question.

No, some APIs have a type like this. The data field here represents an arbitrary config Payload.

I would recommend asking this question over in the [Apigee Customer Support](https://community.apigee.com/content/apigee-customer-support).

[2020-09-18 16:31] #669 closed

[2020-09-18 17:45] chiragtayal opened #671 "UnmarshallJSON() for type Route in compute.v1 go sdk"
https://godoc.org/google.golang.org/api/compute/v1#Route
[code]

I am receiving `v1.compute.routes.insert` AuditLog from Pubsub then trying to unmarshall into compute.Route and it fails with following error
[code]

AuditLog:
[code]

Code:
[code]

[2020-09-18 21:38] DerekDuchesne opened #672 "idtoken: Missing IAP JWT validation steps"
It looks like several of the guidelines to validate IAP JWTs defined in https://cloud.google.com/iap/docs/signed-headers-howto#verifying_the_jwt_payload are skipped. Google's own provided library doesn't seem to be providing the best practice documented.

- No 30 second skew when validating `exp`.
- `iat` is not validated.
- `iss` is not validated. (This validation is also recommended for generic

[2020-09-18 21:41] codyoss commented on #671
Thanks for the report. The error seems valid to me here, the type declared in the schema for Route.Priority is indeed a integer not a string:

[code]

Cloud you please file this issue [here](https://issuetracker.google.com/issues/new?component=187203&template=1162662).

[2020-09-18 21:53] codyoss commented on #672
The idtoken package may be used outside of the context of IAP, in which case the issuer is not `https://cloud.google.com/iap`. The implementation is meant to be generic to fit for a few different use-cases. For this reason we return the parsed payload so the caller can validate any additional claims that fit their use-case.

[2020-09-18 21:55] someone1 commented on #672
It seems to [acknowledge](https://github.com/googleapis/google-api-go-client/blob/master/idtoken/validate.go#L27) that some tokens will come from IAP though - so wouldn't it already be aware of the separate use cases and can implement the best practices recommended?

[2020-09-21 05:29] hanneshayashi commented on #281
I am trying to do the exact same this as the OP, but the suggested workaround doesn't seem to work for me. However, it DOES work with "AnyoneCanAddSelf" (`event.ForceSendFields = append(event.ForceSendFields, "AnyoneCanAddSelf")`).
I suspect this mioght be because Reminders is actually an object, so the code can't find it the node if it is just referenced by "UseDefault"? I also tried the followin

[2020-09-21 14:13] codyoss commented on #281
@hanneshayashi, please provide the snippet of code you are trying.

[2020-09-22 05:36] hanneshayashi commented on #281
Never mind. I did not realize that every property has its own "ForceSendFields", which totally makes sense. I was setting the top-most property, which (of course) didn't work.
Just in case anyone else is ever confused about this:
You need to set the ForceSendFields property on the same level you want to force-send a field. For example:
`event.**Reminders**.ForceSendFields = append(event.**Reminder

[2020-09-22 23:36] someone1 commented on #672
@codyoss - to work around this package and implement best practices for IAP (allowing 30 second skew for expiration), we would have to ignore the returned `err` from this package if we are protecting IAP and the error text matches
`idtoken: token expired`

It would be useful if the package did the check itself, or at least exports the expiration error so we aren't forced into error string matching

[2020-09-23 13:56] codyoss commented on #672
Hey,

First off, thanks for bring this to my attention. I have brought these changes up to internal stakeholders. I want to make sure that we would drive a change like this consistently across the various languages we provide client libraries for. For now, I am putting this on hold until we have a consensus around what the different libraries are validating and what they should. I will ping back w

[2020-09-24 11:35] Thoro opened #678 "Impersonating user as service account"
Hi

I'm trying to get the signature / sendAs option for a specific user, here's my current code:

[code]

It quits with:
[code]

Is this already a supported use-case? What's wrong with my settings?

Thanks for any help!

[2020-09-24 14:07] codyoss commented on #678
This type of impersonation is not yet supported in our Go libraries, directly. That newly added option only works for impersonating a service account. We do plan to support this feature though(impersonating an admin user /w Domain wide delegation), the tracking issue is #652.

[2020-09-24 14:07] #678 closed

[2020-09-24 14:13] Thoro commented on #678
Okay, I saw this, but was not sure if it applies, since I want to impersonate a normal non-admin user with a service account that has domain wide delegation

[2020-09-24 14:14] codyoss commented on #678
Yes, the idea is the same :)

[2020-09-28 13:58] jsandler18 commented on #671
Hello, my team received this issue, and it seems like an error with UnmarshalJSON.  Javascript and by extension JSON does not have integer types.  The only number type is a [64-bit double-precision floating point number](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number).  Doubles cannot fully represent all possible Int64, so when AuditLogs are converted from

[2020-09-28 21:59] tonglil commented on #672
Would you accept PRs for validating things like token issued after expiry and other JWT fields?

[2020-09-29 09:10] misho-kr commented on #671
The JSON format clearly allows for integers -- https://www.json.org/json-en.html

Also, if I understand correctly the description of this issue, the problem is the JSON audit-log event does not match the schema which is used to generate the `compute.Route` struct in Go:

https://raw.githubusercontent.com/googleapis/google-api-go-client/master/compute/v1/compute-api.json

[code]

[2020-09-29 13:52] codyoss commented on #672
@tonglil That comment is more in relation to the auto-generated clients found in this repository, not the auth libraries that also happen to live in this repository.

[2020-09-29 15:01] someone1 commented on #672
doing some homework here, the python [google-auth](https://google-auth.readthedocs.io/en/latest/index.html) package does do more than the `idtoken` golang package in question:

* It will [validate issuers](https://github.com/googleapis/google-auth-library-python/blob/master/google/oauth2/id_token.py#L153)
* Has built-in support for [Firebase token authentication ](https://github.com/googleapis/goo

[2020-09-29 17:55] codyoss commented on #667
@blucas Can you please confirm the url for your cURL output you gave?

[2020-09-30 14:47] codyoss commented on #667
It appears the response is not from https://apigee.googleapis.com which is the API this client is intended to work with.

[2020-09-30 14:47] #667 closed

[2020-09-30 14:48] codyoss commented on #665
I believe the solution posted above should work for you. Closing due to lack of response.

[2020-09-30 14:48] #665 closed

[2020-09-30 14:54] codyoss commented on #504
Closing as there seems to be no reason to move right now.

[2020-09-30 14:54] #504 closed

[2020-09-30 14:54] codyoss commented on #522
Closing due to lack of response.

[2020-09-30 14:54] #522 closed

[2020-09-30 14:56] codyoss commented on #545
I believe the supplying the client through the context as mentioned above should work here. Let me know if it did not.

[2020-09-30 14:56] #545 closed

[2020-09-30 14:58] codyoss commented on #637
Were you able to get this working or find an viable workaround?

[2020-09-30 15:00] codyoss commented on #645
Were you able to figure out the issue here?

[2020-09-30 15:42] derekperkins commented on #637
Thanks for the follow up, we still have not been able to get this working. We opened a case with our support contract, but that has been slow going.

[2020-10-01 15:34] hphilipps opened #685 "gensupport: resumable uploads shouldn't use a hardcoded retryDeadline"
There is a hardcoded `retryDeadline` of 32s for each chunk of a resumable upload which seems rather short for reliable uploads: https://github.com/googleapis/google-api-go-client/blob/master/internal/gensupport/resumable.go#L27

When doing many resumable uploads to GCS we often encounter 503 responses for some objects lasting for longer than 32s, which makes the whole upload for that object fail.

[2020-10-01 21:08] profsmallpine commented on #645
I noticed we were still having the issue after upgrading without any better error messages. However, we had to revert the changes given the transport issues. I am going to circle back to this project in a couple of weeks and see if I can get more information. Thanks for you assistance on this bad boy.

[2020-10-02 17:31] AlexandraRoatis opened #688 "service-account.json should be moved into testdata dir"
The [service-account.json](https://github.com/googleapis/google-api-go-client/blob/master/internal/service-account.json) file used for [testing](https://github.com/googleapis/google-api-go-client/blob/e3feaebafd82a4d315b4e3562ce80588abf64619/internal/creds_test.go#L40) is copied by `go mod vendor` to other projects where it can be marked as a security vulnerability by automated tooling.

Proposed

[2020-10-02 18:11] Rulox opened #689 "sheets: SourceColumnOffset of 0 is not sending the 0 in API request (PivotGroup)"
Reference: https://github.com/googleapis/google-api-go-client/blob/master/sheets/v4/sheets-gen.go#L7805

In that line, the `omitEmpty` is making that if I set `SourceColumnOffset` to 0, the request won't include the value `{"sortOrder":"ASCENDING"}` instead of `{"sortOrder":"ASCENDING","sourceColumnOffset":0}` This is causing my code to fail with this 400 error (in a `batchUpdate` call):

[code]

[2020-10-02 19:03] codyoss commented on #689
Hey,

To better help you could you please give me a little more information:

- What version of Go are you using?
- What version of google.golang.org/api are you pulling in?
- "This code was working before, has anything changed on the API side?" Did you upgrade a dependency and things stopped working?

`omitempty` is added to each field of all of the req/resp structs. If you need need to send any

[2020-10-02 19:26] codyoss commented on #688
Thanks for the report, opened a PR.

[2020-10-05 09:43] Rulox commented on #689
Thanks @codyoss

Sorry I should have given more info:
* Go version: `go1.13.15 darwin/amd64`
* `google.golang.org/api` version: I've tried with 0.5.0 (the one we have) and I tried with 0.32.0 just in case it was a problem, both failed.

This code runs once in a while, and suddenly it stopped working with this error, so no, no update dependency or anything (it uses its own vendor folder so not a ch

[2020-10-05 09:43] #689 closed

[2020-10-05 13:46] #688 closed

[2020-10-05 15:10] #611 closed

[2020-10-06 14:02] Mistic92 opened #693 "Recommendations AI client for prediction"
Hi, how to use current Recommendations AI client package to get predictions? Is it not yet implemented?

[2020-10-06 14:11] codyoss commented on #693
It sounds like you are looking for https://pkg.go.dev/google.golang.org/api/ml/v1#pkg-overview.

[2020-10-06 14:11] #693 closed

[2020-10-06 14:17] Mistic92 commented on #693
Hm probably. I'm looking for go client for [this](https://cloud.google.com/recommendations-ai/docs/predict#getting_a_recommendation)

So I should use ```import "google.golang.org/api/ml/v1"``` or ```google.golang.org/api/recommendationengine/v1beta1```?

I found something with this path but I'm not 100% sure if this will work
[code]

[2020-10-08 17:59] blucas commented on #667
@codyoss sorry for the late response.  That is correct, instead of using apigee.googleapis.com I am using Apigee Edge.  I assumed the APIs would be the same.  I guess that is not the case 😞

[2020-10-09 22:35] MyMirelHub opened #697 "Can't import google.golang.org/api/smartdevicemanagement/v1"
*Version*:  go1.15.2 linux/amd64

To reproduce

[code]
or

[code]
*Output:*
[code]

Package is here https://github.com/googleapis/google-api-go-client/blob/master/smartdevicemanagement/v1/smartdevicemanagement-gen.go

[2020-10-09 22:47] MyMirelHub commented on #697
It seems like it hasn't been published yet https://pkg.go.dev/mod/google.golang.org/api?tab=packages

[2020-10-10 01:50] akshaybabloo opened #698 "ml: How to Generate Log URL"
Is there a way to generate Log URL for ML Jobs? As of now this is what I am doing.

[code]

[2020-10-10 07:38] wildwind123 opened #699 "can't import google.golang.org/api/calendar/v3"
`go get -v google.golang.org/api/calendar/v3`
`get "google.golang.org/api/calendar/v3": found meta tag get.metaImport{Prefix:"google.golang.org/api", VCS:"git", RepoRoot:"https://github.com/googleapis/google-api-go-client"} at //google.golang.org/api/calendar/v3?go-get=1
get "google.golang.org/api/calendar/v3": verifying non-authoritative meta tag
google.golang.org/api (download)`
already 3 hours

[2020-10-11 23:01] akshaybabloo opened #701 "Unable to added nested structs to Firestore"
I am having issue showing the data that is part to nested struct. Example:

[code]

Above code should be able to do something like this:

[code]

But I get (screenshot)

<img width="325" alt="Screen Shot 2020-10-10 at 6 20 03 PM" src="https://user-images.githubusercontent.com/7360286/95692474-8b764d80-0c82-11eb-8ffe-6e404e165b2d.png">

[2020-10-12 01:07] #699 closed

[2020-10-12 13:47] codyoss commented on #697
@MyMirelHub Correct. This client was added after the last release. I anticipate a release sometime this week. But if you want to experiment before the next release is cut you can always pull head: `go get google.golang.org/api@HEAD`

[2020-10-12 13:47] #697 closed

[2020-10-12 14:04] codyoss commented on #698
I think you have the right idea for constructing resource names, if that is what you are ask. In case you are not aware we do provide client libraries for reading log messages that may be beneficial depending on your use case.

[2020-10-12 14:04] #698 closed

[2020-10-12 14:07] codyoss commented on #701
`firebase.google.com/go/v4` is actually not apart of this repo. It looks like you are looking for: https://github.com/firebase/firebase-admin-go

[2020-10-12 14:07] #701 closed

[2020-10-12 14:38] AldoPL-UT opened #702 "Change display name and organizer in Google Calendar API"
I want to create event via google calendar api using Go. I found out that the sender is whoever responsible in client_id I provide in the google API, in this case me. Can I edit this sender, so that it is not sent from me? I want the sender to be whoever create the event via my program. (I have the user database so I can retrieve the displayname from my DB)

Also about editing the organizer, I tri

[2020-10-12 15:12] tbpg commented on #699
Thanks for the report. We recommend using Go Modules with a module proxy. By default, Go uses proxy.golang.org. That will dramatically speed up your dependency downloads (https://dev.to/tbpalsulich/why-go-modules-are-faster-than-gopath-blj) and insulate you from failures like this.

[2020-10-12 17:09] codyoss commented on #702
Hey,

Thanks for the questions.

Yes, but it can be a little tricky. It involves domain-wide-delegation and impersonating a user. This is not yet fully supported in these libraries. It is possible, but it takes a little extra work to get done right now. Please see discussion on #378 for some pointers about how to do this today.

From glancing at [the docs](https://developers.google.com/calendar/v3

[2020-10-12 17:09] #702 closed

[2020-10-13 08:52] cention-mujibur-rahman opened #704 "Google hangout chat space api call return error"
Hello all,
I am having trouble while calling the SpacesListCall -> Do(). It is because,
https://github.com/googleapis/google-api-go-client/blob/85852b8ab6693201138dc654eb0a4ab786257a79/chat/v1/chat-gen.go#L1959
The above line expecting a query param which is not right.
In the documention here (https://developers.google.com/hangouts/chat/reference/rest/v1/spaces/list) is straight forward which does

[2020-10-13 14:03] codyoss commented on #704
Hey @cention-mujibur-rahman,

Are you getting an error?

If you look two lines above the quoted line you will see some default URL parameters are added onto all requests, so the encoding is always needed.

[2020-10-16 19:36] derekperkins commented on #637
Still working through this with support. They have yet to even understand the issue after a few weeks and apparently haven't read any of what we've done here.

[2020-10-18 12:35] csandanov opened #709 "sql: instance user deletion has no username param"
I've noticed there's no username in params in sql service method for db instance user deletion. Is this a bug?

https://github.com/googleapis/google-api-go-client/blob/master/sql/v1beta4/sql-gen.go#L10580

[2020-10-19 02:14] kwesiRutledge opened #710 ""Error 400: Missing/Invalid attribute value: id, invalid" Occurs When Getting a Google Group that I Manage"
I am running a command of the flavor:

`r, err := groupsSrv.Groups.Get("googleGroupIDGoesHere").Do()`

where groupsSrv is a service created by the function groupssettings.New(). After running it, I always receive the error: "Error 400: Missing/Invalid attribute value: id, invalid". I have no idea why I'm getting this error. I am a "manager" for the group and can clearly see it when I log into the

[2020-10-19 02:15] kwesiRutledge opened #711 "Receiving "Error 400: Missing/Invalid attribute value: id, invalid" when Getting a Group that I Manage"
I am running a command of the flavor:

`r, err := groupsSrv.Groups.Get("googleGroupIDGoesHere").Do()`

where groupsSrv is a service created by the function groupssettings.New(). After running it, I always receive the error: "Error 400: Missing/Invalid attribute value: id, invalid". I have no idea why I'm getting this error. I am a "manager" for the group and can clearly see it when I log into the

[2020-10-19 12:10] dowgird opened #712 "compute: misformatted comment for Operation"
This is the docstring generated for Operation:
[code]

It's weirdly formatted and renderss badly in HTML, for example here: https://pkg.go.dev/google.golang.org/api@v0.33.0/compute/v1#Operation

I'm referring to compute/v0.alpha/compute-gen.go, PR #707

[2020-10-19 13:28] ololosha228 opened #713 "Bug: missed "google.golang.org/grpc/naming" package"
Looks like sheets api is broken.

[code]

gomod is on, fetched all updates which i could find. week ago this lib was worked so well.

@codyoss

[2020-10-19 13:39] ololosha228 commented on #713
Found possible problem:

Original git repo ([this one](https://code.googlesource.com/google-api-go-client)) is outdated. Go get couldn't find **this** repo, cause it has single remote, which is google git, who knews.

@codyoss  it is necessary to check google git repo, is it working well, if not, chek out go get softlink to this repository

[2020-10-19 13:48] codyoss commented on #713
This repository is now considered the source of truth, with the other being a mirror. Please update your remotes accordingly.

I will look into why there are syncing issues.

[2020-10-19 13:48] #713 closed

[2020-10-19 13:55] codyoss commented on #712
Thanks for pointing this out. Appears to be the same issue as #544. I will track the progress of the issue here and close other issues. Also related to #457.

[2020-10-19 13:57] codyoss commented on #544
Tracking issue on 712.

[2020-10-19 13:57] #544 closed

[2020-10-19 14:09] codyoss commented on #710
Dupe of #711

[2020-10-19 14:09] #710 closed

[2020-10-19 14:45] ololosha228 commented on #713
@codyoss thanks for fast respond! As i said, looks like google git just doesn't have remote data of this repo (which is helps `go get` to pull updates from github releases and not google). Maybe it can solve this trouble.

## To guys, who came to this issue from search how to fix:

I simply forcely deleted old repo from gopath, and run `go get -u -v` and that's works:

[code]

[2020-10-19 14:56] codyoss commented on #709
It looks to be optional and can be added with: https://github.com/googleapis/google-api-go-client/blob/0fbc62c070ac4e4fa4f988bde7db83efe4d4808e/sql/v1beta4/sql-gen.go#L10596.

[2020-10-19 14:56] #709 closed

[2020-10-19 19:13] codyoss commented on #711
Hey,

From what I can gather from the [api docs](https://developers.google.com/admin-sdk/groups-settings/v1/reference/groups/get) it seems the groupUniqueId should be "The group's email address".

[2020-10-19 19:13] #711 closed

[2020-10-23 06:48] cention-mujibur-rahman commented on #704
Hey codyoss,
Sorry for late reply.
Nevermind, I used to do http request than the pkg. I'll step by step error details later time.

Thanks

[2020-10-23 14:31] codyoss commented on #704
Okay. Closing this for now. Please feel free to re-open or create a new issue if you have some steps.

[2020-10-23 14:31] #704 closed

[2020-10-27 21:59] henriqueoelze opened #727 "androidpublisher: PaymentState should be a pointer type"
Working with the api, I notice that PendingState is not using a pointer, but the value 0 is a valid information to business:
https://github.com/googleapis/google-api-go-client/blob/8001663557ac8d144131ea92d9829a0d8e668ab7/androidpublisher/v3/androidpublisher-gen.go#L1932

I believe will be best to change it to a pointer like the `PurchaseType` (example).

I notice that because when I call the `.Ma

[2020-10-27 22:18] codyoss commented on #727
It looks like the case when this is not sent is when a subscription has lapsed or expired. I think it should be possible to check the `UserCancellationTimeMillis` and `ExpiryTimeMillis` currently to see if you need to look at payment state, right?

But I agree, this field could be made a pointer type to remove any ambiguity. These files are auto-generated, so it is the generator that needs to be u

[2020-10-28 02:20] yzy19912 opened #728 "displayvideo/v1 batch http support"
Does current displayvideo/v1 has func to support batch HTTP call?

[2020-10-28 14:04] codyoss commented on #728
There are a few batch/bulk methods on in this api. Checkout the godoc for details: https://pkg.go.dev/google.golang.org/api/displayvideo/v1.

[2020-10-28 14:04] #728 closed

[2020-10-28 14:31] henriqueoelze commented on #727
Thanks @codyoss . Fell free to implement, it is not a problem at all for me 😄 .
My suggestion of a pull request is more related to timing, so if it will take a lot of time because of priorities, I can help with that, otherwise, go ahead.

[2020-10-29 19:08] joshk0 opened #731 "option: Unclear best practice and documentation for option.ImpersonateCredentials"
In #625, this comment was added to better explain the role of scopes in impersonation for the new option.ImpersonateCredentials feature.

[code]

Despite this comment, in my code, if I do this:

[code]

and then try to use `bq`, I always get the error of a 403 from the call to [generateAccessToken](https://cloud.google.com/iam/docs/reference/credentials/rest/v1/projects.serviceAccounts/generateAcc

[2020-10-30 15:06] codyoss commented on #731
Hey @joshk0,

Thank you for the detailed feedback, this was very helpful.

Most of our clients, by default, set the `https://www.googleapis.com/auth/cloud-platform` scope. It appears bigquery does not though which is why you are having some trouble here.

This is a good point. Although the scope may be broad the token is still limited by what polices the service account being impersonated has been

[2020-10-30 18:24] partha2312 opened #734 "AccountsNetworkReportGenerateCall Do function returns an arrray of GenerateNetworkReportResponse ?"
Hello,

I am trying to integrate AdMob v1 API to generate AdMob reports.

My Code
[code]

I am getting the following error thrown from [here](https://github.com/googleapis/google-api-go-client/blob/master/admob/v1/admob-gen.go#L1993)

[code]

I tried the following code before this [line](https://github.com/googleapis/google-api-go-client/blob/master/admob/v1/admob-gen.go#L1984)
[code]
I was able t

[2020-11-02 15:42] codyoss commented on #734
Hey, you are right. This is a duplicate of #468. There is an internal issue filled that I was re-ping.

[2020-11-02 15:42] #734 closed

[2020-11-02 15:43] codyoss commented on #734
I will comment back on the original bug if I hear an update.

[2020-11-02 15:48] partha2312 commented on #734
Thanks.

[2020-11-03 01:53] wwlian opened #736 "Backwards-incompatible change to TransferJobsService.Get in storagetransfer"
https://github.com/googleapis/google-api-go-client/pull/716 updates the parameters for TransferJobsService.Get from `(jobName string)` to `(jobName string, projectId string)`, breaking existing call sites. My understanding is that backwards in-compatible interface changes shouldn't occur between [minor versions](https://semver.org/).

[2020-11-03 15:54] codyoss commented on #736
Hey, these client are auto-generated from the public discovery doc listing. You are right this does appear to be a breaking change in the api though. I would recommend filling a bug at https://issuetracker.google.com/ against the storage transfer component. Because of changes like this that happen to the services, this repository floats a semver version of v0.X.0.

[2020-11-03 15:54] #736 closed

[2020-11-05 13:25] alexanderad opened #742 "Apigee's method organizations.environments.list missing?"
It appears there is a missing method `organizations.environments.list` (https://cloud.google.com/apigee/docs/reference/apis/apigee/rest/v1/organizations.environments/list)

It does not appear in both spec file `apigee-api.json` and a generated service code `apigee-gen.go`:
[code]

Others, like `.create` or `.get` are present:
[code]

[2020-11-05 15:31] codyoss commented on #742
Hey,

The spec is pulled from the public listing: "https://apigee.googleapis.com/$discovery/rest?version=v1". You are right it appears to not be there yet. I am not sure when this method was added but sometimes they can take a little bit of time to roll out. Once the public listing is updated the new method will be auto-generated to the client library. I will leave this issue open for now and chec

[2020-11-05 15:58] alexanderad commented on #742
Ah, I see. I'm going to raise this question with GCP/Apigee support to see if there anything they can do. Environment is one of the foundational entities in Apigee Hybrid, I believe it exists for quite some time now.

[2020-11-09 18:55] actgardner opened #745 "compute/v1.Network AutoCreateSubnetworks cannot be set to false"
`AutoCreateSubnets` seems to have ternary logic, based on the description:

[code]

- `AutoCreateSubnetworks == true` means "create a subnet in each region"
- `AutoCreateSubnetworks == false` means "let the user manually create subnets"
- `AutoCreateSubnetworks` being omitted from the request creates a legacy network

Right now it's impossible to set `AutoCreateSubnetworks == false` because of the

[2020-11-09 18:56] actgardner commented on #745
nvm I just found `ForceSendFields` in https://github.com/googleapis/google-api-go-client/issues/432

[2020-11-09 18:56] #745 closed

[2020-11-10 12:56] dwrz opened #748 "Sheet cell values read as zero"
We are sporadically seeing sheet cell values read as zero, when instead those cells hold values calculated by formulas. We are using `google.golang.org/api v0.31.0` with ` go1.15.4 linux/amd64`. Re-reading the sheets sometimes fixes this immediately, other times, it will take a few attempts before the sheet is read correctly.

This problem started on October 27. Unfortunately, I'm not sure if the

[2020-11-10 16:54] codyoss commented on #748
Hey,

This sounds like more of a backend service question or bug. I would recommend reaching out with one of the recommendations on that teams [support page](https://developers.google.com/sheets/api/support).

[2020-11-10 16:54] #748 closed

[2020-11-13 06:23] aylei opened #750 "IAM: support STS token source"
When using [workload identity federation](https://cloud.google.com/iam/docs/workload-identity-federation), one follows the steps described in [Accessing resources from an OIDC identity provider](https://cloud.google.com/iam/docs/access-resources-oidc):

1. Get a token from the OIDC provider
2. Exchange the token for a federated access token through the [STS API](https://cloud.google.com/iam/docs/r

[2020-11-16 22:33] msukuma opened #751 "youtube/v3 #search.PublishedAfter is not working"
[code]
I keep getting this error
[code]

however if remove the call to `PublishedAfter` it works but then I have to filter for videos published after a certain date.
[code]

I get the same error when I try to make this request via [developers.google.com/youtube/v3/docs/search/list](https://developers.google.com/youtube/v3/docs/search/list?apix_params=%7B%22part%22%3A%5B%22snippet%22%5D%2C%22forMin

[2020-11-16 22:49] ahmedtd commented on #278
It's not a good idea to use the client certificate in MasterAuth; this is an old bootstrapping access method.  We explicitly recommend against using it in our hardening guide [1].

Note, this doesn't mean that you can't use x509 client certificates to authenticate to your cluster, you will just need to create them using the Kubernetes CSR mechanism (`kubectl create csr`).

However, GKE clusters ar

[2020-11-17 15:18] tbpg commented on #750
Thanks for the feature request. We have some work in progress to improve the auth experience, but don't have an ETA on this specific idea.

[2020-11-17 15:24] tbpg commented on #751
Hi. Sorry about that. This seems like an issue with the underlying API, given it works without that parameter, then gives you an unhelpful error when you add the parameter. Would you mind filing an issue at https://issuetracker.google.com/issues/new?component=186600&template=874803? There's unfortunately not much we can do from the library side.

[2020-11-17 15:24] #751 closed

[2020-11-18 10:49] aofei opened #752 "drive: FilesGetCall.Download did not unmarshal the body in the error response"
Just now I happened to notice that the [`FilesGetCall.Download`](https://github.com/googleapis/google-api-go-client/blob/84df58a8914832693858b396c6099dee1756bf13/drive/v3/drive-gen.go#L7050) threw me this error:

[code]

The returned `error` is still [`*googleapi.Error`](https://pkg.go.dev/google.golang.org/api/googleapi#Error), which is fine. But in its fields, only `Code` and `Body` have values.

[2020-11-19 17:36] Rahul-chunduru opened #755 "Never ending pagination of reports.activities.list"
I have observed that in some cases, Reports API response has the same `nextPageToken` even though the Activities.Items.length = 0. In such cases, the current *ActivitiesListCall  Pages(..) method - google-api-go-client/admin/reports/v1/admin-gen.go: line 1320, shall loop indefinitely.

To avoid this, a check for Activities.Items.length == 0 should also be used as a stopping condition in disjunctio

[2020-11-20 17:41] tbpg commented on #752
Thanks for the issue. I'm not sure why that's the case for this call. Here is what appears to be the relevant function:
https://github.com/googleapis/google-api-go-client/blob/84df58a8914832693858b396c6099dee1756bf13/googleapi/googleapi.go#L165-L178

Note that it doesn't try to parse the body as JSON, per the function comment. It seems that all `"media"` requests use `CheckMediaResponse`, which ma

[2020-11-20 18:00] tbpg commented on #755
Thanks for the issue. From https://google.aip.dev/158:

So, this appears to be a bug in the underlying API. Would you mind filing an issue at https://issuetracker.google.com/? There isn't much we can do on the client library side, as we should follow the AIP. So, I'm going to close this.

[2020-11-20 18:00] #755 closed

[2020-11-25 16:58] daveneeley commented on #160
Chat feature request in #640

[2020-11-25 17:09] daveneeley opened #763 "Chat: Token element in DeprecatedEvent"
The [chat api](https://chat.googleapis.com/$discovery/rest?version=v1) specifies a Token element for DeprecatedEvent, with the following description:

[code]

In absence of #640, I was hoping to use this as an alternate method for validating incoming messages with the go client. All the generated clients have the same language, but the facility for revoking/regenerating the token was not obvious t

[2020-11-25 19:55] IvanDmytrenko opened #764 "googleapi: Error 400: Precondition check failed., failedPrecondition using Google Application Default Credentials"
Hi there, I'm trying to work with gmail API using  Google Application Default Credentials, but all methods return not so informative errors `googleapi: Error 400: Precondition check failed`

Version: v0.35.0

Also, I followed all the steps to setup domain-wide delegation on Google cloud platform and GSuite.
https://prnt.sc/vq2puj
https://prnt.sc/vq2rtt

`

    ctx := context.Background()
    c, er

[2020-11-25 20:08] MrJoy commented on #645
To offer some context:  I see the same intermittent issue, and I'm using the Ruby client library.  So, it's likely that this isn't a bug in the client library, but rather an issue with the internal state of Google's systems.  The resolution then would be to encourage developers to retry if they encounter this error.

[2020-11-26 18:11] IvanDmytrenko commented on #764
I've solved the problem using option.WithTokenSorce with pre-established JWT instead of option.WithCredentialsFile.

[code]

**Very important:** Use user email within your G-Suites domain in `config.Subject`, **Not a service email like** `<name>@iam.gserviceaccount.com`

[2020-11-26 18:11] #764 closed

[2020-11-30 06:01] Liu-Chunhui opened #765 "dataflow : unknown field 'Environment' in struct literal of type LaunchFlexTemplateParameter"
Hi team,

I am using the latest DataFlow API v0.35.0 `google.golang.org/api/dataflow/v1b3`.

I tried to execute/run a DataFlow flex template job from `Cloud Functions` and received following error:

[code]

But the document shows `Environment` is available https://pkg.go.dev/google.golang.org/api@v0.35.0/dataflow/v1b3#LaunchFlexTemplateParameter

Thanks

John

[2020-12-01 20:21] tbpg commented on #763
Thanks for the issue. Off of the top of my head, I'm not sure what the answer is. I looked at the Chat API Configuration page, but didn't see any mentions of a token...

[2020-12-01 20:24] tbpg commented on #765
Hey @Liu-Chunhui, would you mind sharing a complete code sample and what version of google.golang.org/api you're using? Is this an error returned from the API or a compiler error?

[2020-12-02 19:59] codyoss commented on #763
I might try to reach out through one of the methods listed on the [Chat API support page](https://developers.google.com/hangouts/chat/support).

[2020-12-03 01:16] wgordon17 commented on #645
I'm hitting the same in the Python client library

[2020-12-03 15:28] codyoss commented on #752
Thanks for the issue @aofei. @tbpg I assume this is a special case for storage, at least I know that api does not conform to the aip and has xml endpoints... We could keep using this method for storage and move all other apis to use `CheckResponse`. That way we can give the opportunity to parse out extra info for apis that conform but not slow down storage errors that we know will not parse into J

[2020-12-03 15:36] tbpg commented on #752
Sounds good to me.

[2020-12-03 16:17] bh7cw opened #767 "image: image.Deprecated is deprecated: The deprecation status associated with this image"
golang-ci lint shows the error:
[code]
According to:
[code]
Deprecated was supported, but it's deprecated now.

According to [doc](https://cloud.google.com/compute/docs/reference/rest/v1/images/deprecate), `deprecated` is still supported.

How to check the deprecated status of image through api?

[2020-12-03 16:38] codyoss commented on #767
Hey, thanks for the report. This field is not actually deprecated. `staticcheck` just reports it as such because the godoc starts with `Deprecated:`. It looks like our generator writes docs as `(fieldname): (description)` and the field name here happens to be `Deprecated `. The offending code lies here: https://github.com/googleapis/google-api-go-client/blob/master/google-api-go-generator/gen.go#L

[2020-12-03 20:13] bh7cw commented on #767
Hah, okay. Thank you for quick reply and clarification.

[2020-12-07 15:28] codyoss commented on #321
Since this package has moved internal, is no way for outside users to call `RegisterHooks`. If you are looking to emulate this behavior, even in a case without context, I suggest creating a middleware pre-processor. You can pass in your customized `http.Client` with [option.WithHTTPClient](https://pkg.go.dev/google.golang.org/api/option#WithHTTPClient).

[2020-12-07 15:28] #321 closed

[2020-12-07 15:41] codyoss commented on #426
As this has not been a problem in over a year I will close out this issue for now. If this comes up and bites us in the future will re-consider.

[2020-12-07 15:41] #426 closed

[2020-12-07 15:45] codyoss commented on #434
This issue is now being tracked at googleapis/google-cloud-go#1962. This case should be considered when we evaluate options. If the decided solution does not end up supporting proxy settings this issue will be reopened to track that feature.

[2020-12-07 15:45] #434 closed

[2020-12-07 15:47] codyoss commented on #457
This is the same issue as #712, will track progress there.

[2020-12-07 15:47] #457 closed

[2020-12-07 15:56] codyoss commented on #582
Because of how things like our `option` package is structured more packages get loaded than are actually required. We export other package types in `option` so there is no easy fix. To lessen this burden in the future we could break up the option package in a v2. Have a base option package that only works on types from this library and the stdlib. Then we could also have sub-packages for things li

[2020-12-07 15:58] codyoss commented on #637
@derekperkins I am going to close this issue out for now since this was being worked on with the support channel. I don't think the issue here is within the generated client. If the generated clients do require changes to support this though please feel free to reach back out.

[2020-12-07 15:58] #637 closed

[2020-12-07 16:03] codyoss commented on #645
It looks like there is an issue for this on [issuetracker](https://issuetracker.google.com/issues/174447720). This will now be tracked there.

[2020-12-07 16:03] #645 closed

[2020-12-07 16:30] codyoss commented on #671
@jsandler18 This appears to be an issue with the discovery doc spec. Here is how a another api handles a similar field: https://github.com/googleapis/google-api-go-client/blob/0a77335b68ee0dbe83a16c60a8a9426a4dfba370/localservices/v1/localservices-api.json#L245-L249

Notice even though the format is an int the type is a string. This tells the libraries how to unmarshall the data. Cloud you please

[2020-12-07 16:30] #671 closed

[2020-12-07 16:32] codyoss commented on #763
Since this issue does not seem related to the generated client I suggest reaching out though the link provided above.

[2020-12-07 16:32] #763 closed

[2020-12-07 17:38] Capstan commented on #321
I don't see how that solves my problem, which is people opting out of the middleware processing in general, either by accident or intent. I want to be able to _catch_ those cases, and if I'm never invoked, I can never see the `nil` context or the missing context keys.

[2020-12-07 17:40] Capstan commented on #321
Would we at least be able to insert an explicit panic on a nil context in `send.go`? Controllable by configuration?

[2020-12-07 17:43] codyoss commented on #765
I think you should only be getting an error like that if you are using an older version of google.golang.org/api. It looks like this field was not added until v0.33.0. I would double check and make sure you are [specifying your dependencies](https://cloud.google.com/functions/docs/first-go#specifying_dependencies) correctly for your cloud function. Please feel free to reopen if you are still havin

[2020-12-07 17:43] #765 closed

[2020-12-07 17:52] codyoss commented on #742
Since it appears you have raised this though a support channel I will close out this issue. Once the api is publicly available in the spec it will be generated.

[2020-12-07 17:52] #742 closed

[2020-12-07 19:46] codyoss opened #775 "transport/bytestream: TestClientWrite_CloseAndRecvFails is flaky"
Fix this test.

[2020-12-07 21:15] mterwill opened #777 "idtoken: Impersonation support"
#625 added support for impersonating service accounts where clients authenticate with an access token. It does not support ID tokens, generated with [`projects.serviceAccounts.generateIdToken`](https://cloud.google.com/iam/docs/reference/credentials/rest/v1/projects.serviceAccounts/generateIdToken). The `idtoken` package accordingly does not support impersonation:

https://github.com/googleapis/go

[2020-12-07 22:05] codyoss commented on #777
Yes, this is something that I would like to. The work has just not been prioritized yet. I will update this issue when there are plans to add this support in.

[2020-12-08 05:53] boom3k opened #778 "GroupsMigration archive insert issue"
[code]

Error :
Missing argument to conversion to 'googleapi.MediaOption': googleapi.MediaOption()

--------------------------------------------------------------------------------------------------------------------------
Also, when using service.Archive.Insert without the mediaOption parameter it breaks stating that the file was not inserted due to it not being a "message/rfc822" type, yet when

[2020-12-08 15:18] codyoss commented on #778
Hey,

MeidaOptions are an optional argument, so if you don't have one to pass you can write: 'service.Archive.Insert("groupemail@domain.com").Media(media).Do()'

Although an option that is commonly set in cases like these is `googleapi.ContentType("something")` which will set the Context-Type header for uploads. Hope that helps!

[2020-12-08 15:18] #778 closed

[2020-12-08 16:23] mterwill commented on #777
@codyoss I took a pass at implementing this!

[2020-12-08 17:04] codyoss commented on #777
Thank you for your interests in this feature! I am going to hold off on reviewing the PR for now though as we are still figuring out the impersonation story across the various languages we support for our clients today, this is one reason the feature is in an experimental status today. I will post back here when I have a better picture of what we would like to support.

In the meantime though you

[2020-12-08 17:09] mterwill commented on #777
Sounds good, thanks!

[2020-12-08 17:10] boom3k commented on #778
Understood, but when I try to upload an eml I get the following error:
googleapi: Error 400: Media type 'text/plain; charset=utf-8' is not supported. , badRequest
panic: googleapi: Error 400: Media type 'text/plain; charset=utf-8' is not supported. , badRequest

Here is the code:
`media, err := os.Open("x.eml")
	if err != nil {
		log.Println(err.Error())
		panic(err)
	}

	res, err := service.Archi

[2020-12-08 17:11] codyoss commented on #777
Thanks for understanding!

[2020-12-08 17:15] codyoss commented on #778
As I mentioned above [googleapi.ContentType](https://pkg.go.dev/google.golang.org/api/googleapi#ContentType) is used to set the header. Have you given that a try?

[2020-12-08 21:34] #767 closed

[2020-12-08 22:35] boom3k commented on #778
Yes that worked! I wish there was more documentation that helped explain that directly. My team was blaming this one the library but this is more of a documentation thing. Thank you so much @codyoss!

[2020-12-09 16:27] codyoss commented on #321
Following up internally.

[2020-12-10 15:45] codyoss opened #785 "idtoken: NewValidator broken after #738"
[code]

The above change appears to be the faulting change.

Using `cloud.google.com/go v0.72.0` + `google.golang.org/api v0.35.0` works. Upgrading either with 1 minor version causes runtime errors.

Reproducing code:
[code]

The fault happens during `idtoken.NewValidator`, where the self-signing JWT token source is not set, due to the changes in this PR. There is no error returned from running `N

[2020-12-10 15:52] codyoss commented on #785
@bendiknesbo Do you have a use case for needing an authenticated client for these validation requests? If you don't pass in that option I think your code will still work, would you mind trying that?

[2020-12-10 15:54] codyoss commented on #785
If you are not passing [WithHTTPClient](https://pkg.go.dev/google.golang.org/api/idtoken#WithHTTPClient) just calling the function [Validate](https://pkg.go.dev/google.golang.org/api/idtoken#Validate) might work just as well for your use case.

[2020-12-11 16:54] #752 closed

[2020-12-11 19:59] codyoss commented on #582
Closing for reasons listed in comment above.

[2020-12-11 19:59] #582 closed

[2020-12-11 22:05] codyoss opened #790 "transport/grpc: TestDialWithDirectPathEnabled failures"
From the builds:
[code]

[2020-12-11 22:06] codyoss commented on #790
@mohanli-ml Can you take a look at this?

[2020-12-11 23:20] mohanli-ml commented on #790
@codyoss I can not reproduce the error from HEAD, i.e., on a DirectPath enabled cloud VM, the following command can pass.
`git clone https://github.com/googleapis/google-api-go-client.git`
`cd google-api-go-client/transport/grpc/`
`go test -v -run="TestDialWithDirectPathEnabled"`
Can you tell me how to reproduce the error?

[2020-12-14 00:28] Sytten commented on #378
It is not really how this should be used and I can't find any example anywhere. I am trying to make it work on my dev machine where I am using user credentials, but I always get a 403:
[code]
I put the email in the target field, is that the right thing? @codyoss

[2020-12-14 03:57] tennix opened #796 "internal: can't use impersonate service account credentials with TokenSource"
With external OIDC workload identity, for example EKS OIDC, we can't use the impersonated service account token.
[code]
With the above code snippet, I found that the client actually uses the `oidcTokenSource` instead of the impersonated service account's temporary token. Since the oidcTokenSource does not have the GCS permission, the client will report the following error:

[code]

After digging i

[2020-12-14 04:02] tennix commented on #796
I've tested #797, it works for me. So hopefully it can fix this issue.

[2020-12-14 15:49] codyoss commented on #378
Hey @Sytten Please open a new issue if you have a question related to the PR.

Looking at the error it sounds like a scoping issue. Try passing option.WithScopes("https://www.googleapis.com/auth/cloud-platform") and see if that fixes your issue. If you are still facing issues after this please open a new issue with a reproducer.

[2020-12-14 17:03] codyoss commented on #796
Thank you for your detailed explanation, I will take a look at your PR!

[2020-12-14 17:28] #796 closed

[2020-12-14 19:36] joshk0 commented on #378
Feel free to follow #731 to get this behavior improved, @Sytten . That's exactly what I ran into as well.

[2020-12-14 22:46] Sytten commented on #378
Thank you all for the answers, it really was not obvious. I will have to read a bit more about scopes too, I thought they were somewhat deprecated in favor of roles.

[2020-12-15 07:09] DeanThompson opened #798 "translate: the translate request should send via POST method rather than GET"
We encountered 400 and 413 errors using the Go SDK. The same texts work well with Python SDK. Also opened an issue [google-cloud-go#3464](https://github.com/googleapis/google-cloud-go/issues/3464).

After walking through the source codes, I found that the Go SDK uses GET method ([translate-gen.go#L1057](https://github.com/googleapis/google-api-go-client/blob/master/translate/v2/translate-gen.go#L1

[2020-12-15 15:50] codyoss commented on #798
The python method you are comparing to is comparable to [Translate](https://pkg.go.dev/google.golang.org/api@v0.36.0/translate/v2#TranslationsService.Translate). That is the post method. Closing this issue and will look at the other one.

[2020-12-15 15:50] #798 closed

[2020-12-16 15:31] codyoss commented on #790
@mohanli-ml I am not sure how to reproduce this. But it seems to happen occasionally(It just happened again today on our continuous build).

[2020-12-16 15:32] codyoss commented on #790
I am going to skip the test for now to keep the branch green, but this should still be investigated.

[2020-12-17 01:12] steph9009 opened #801 "[api/drive/v3] No substitute to deprecated ResumableMedia, ProgressUpdater still implemented but can't be used without it"
[ResumableMedia](https://pkg.go.dev/google.golang.org/api/drive/v3#FilesCreateCall.ResumableMedia) function is deprecated in v3 of Drive API, but if i understood correctly it's the only way to upload a file in chunks (and to resume it in case of failure) and there's no provided substitute.

Furthermore, by deprecating ResumableMedia, [ProgressUpdater](https://pkg.go.dev/google.golang.org/api/drive

[2020-12-17 08:29] utsavgupta opened #802 "idtoken: Option to add Proxy to the RoundTripper"
At the moment there is no straightforward way of adding a proxy url to the round tripper.

The iapClient.Transport cannot be converted to *http.Transport either.

Can we have an option to specify an initial transport in while creating a new client ? Or at least pass the Proxy URL ?

[2020-12-17 15:47] codyoss commented on #802
Hey @utsavgupta,

If you would like to set a proxy we have two options today that might work for you.

1. You can pass in your own http.Client with [option.WithHTTPClient](https://pkg.go.dev/google.golang.org/api/option#WithHTTPClient). You would need to make sure this client provides the proper authentication. I would recommend using one of the methods from the [transport/http](https://pkg.go.dev

[2020-12-17 15:47] #802 closed

[2020-12-17 15:50] codyoss commented on #801
Currently there is not. Closing as a dupe of #452.

[2020-12-17 15:50] #801 closed

[2020-12-17 15:50] codyoss commented on #801
If there is extra context that is not in the other issue, fell free to inline it there. Thanks!

[2020-12-17 15:57] steph9009 commented on #801
i'm truly sorry for duplicated issue: i searched before opening it, i swear... 😔

[2020-12-17 16:21] codyoss commented on #801
No worries!

[2020-12-18 07:14] ArchanaArige opened #804 "idtoken: invalid token, token must have three segments error"
I am validating the idToken issued by Google, using this package. But I am getting the error " invalid token, token must have three segments; found 2 ".  IdToken is in the right format. Please guide.

[2020-12-24 03:21] harpratap commented on #434
@sarandia Can you provide the part where you create http client and pass it to your bigQuery client? I cannot seem to make it work with this -
[code]
I keep getting `401, NoAuth` so not sure how to get an authenticated http client

[2020-12-24 09:21] harpratap commented on #802
@codyoss Slightly off tangent, but how does one get an authenticated http client from the transport package?

[2020-12-24 17:45] codyoss commented on #802
When creating the `http.Client` be sure to pass in the scopes required for the requests you will be making: `option.WithScopes`.

[2020-12-25 07:07] harpratap commented on #802
@codyoss Thanks, that seems to make it work partially. But now it looks like the storage APIs are being called through the proxy but not the oauth2 API. Any idea how to make ALL of the calls made by this Storage client go through this proxy?
My current implementation is here - https://github.com/rakutentech/shibuya/pull/9/commits/4f219ede882d216caa8e6cc44c43a501d489f274

[2020-12-30 21:35] Sytten commented on #378
Ok I found my issue on local desktop. I forgot that the gcloud config doesn't change the application default credentials and it was thus using another account causing the 403. It is really not obvious since it doesn't really print the account that was used initially in the delegation.

[2020-12-31 13:57] rodrigopavan opened #813 "Compute: How to filter instances based on networkInterfaces"
How can I/It's possible filter instances base on **network** attribute inside networkInterfaces?

I've tried a few things like:
`req := c.ComputeService.Instances.List(projectID, zoneName).Filter('networkInterfaces[0].network=" + networkSelfLink + "')`

`req := c.ComputeService.Instances.List(projectID, zoneName).Filter('networkInterfaces.network=" + networkSelfLink + "')`

But, none of them works

[2021-01-02 12:43] Volcore opened #814 "Google Ads API Support"
Hi,

Happy new year and thanks for this great project!

It doesn't look like the Google Ads API (https://developers.google.com/google-ads/api/docs/client-libs) is currently supported in Go. It seems like google-api-go-client would be the place it would live at.

Is this going to happen, and is there an ETA for when it will happen? We're currently holding off (and have been for at least 6 months),

[2021-01-05 15:03] codyoss commented on #814
Hey,

Thanks for your interest in Ads client libraries. This project is used to generate apis from Googles public discovery doc listing, which Ads is not a part of. I suggest sending this request through the [Ads forums](https://groups.google.com/g/adwords-api).

[2021-01-05 15:03] #814 closed

[2021-01-05 15:09] codyoss commented on #813
By looking at the [docs](https://cloud.google.com/compute/docs/reference/rest/v1/instances/list) it appears `items[].networkInterfaces[].network` might be what you are looking for.

[2021-01-05 15:09] #813 closed

[2021-01-05 15:21] rodrigopavan commented on #813
@codyoss , doens't works...

{
  "error": {
    "code": 400,
    "message": "Invalid value for field 'filter': 'networkInterfaces[].network=\"https://www.googleapis.com/compute/v1/projects/ns1-ddi-integration-proj-01/global/networks/default\"'. Invalid list filter expression.",
    "errors": [
      {
        "message": "Invalid value for field 'filter': 'networkInterfaces[].network=\"https://www.

[2021-01-05 15:22] codyoss commented on #802
If you are setting the proxy on the client you and not through an environment variable you will need to make sure the oauth2 client also uses that client as well. This can be achieved by setting a context value with [oauth.HTTPClient](https://pkg.go.dev/golang.org/x/oauth2#pkg-variables). Hope that helps.

[2021-01-05 15:23] rodrigopavan opened #815 "Compute: How to filter instances based on networkInterfaces"
How can I/It's possible filter instances base on network attribute inside networkInterfaces?

I've tried a few things like:
req := c.ComputeService.Instances.List(projectID, zoneName).Filter('networkInterfaces[0].network=" + networkSelfLink + "')

req := c.ComputeService.Instances.List(projectID, zoneName).Filter('networkInterfaces.network=" + networkSelfLink + "')

req := c.ComputeService.Instanc

[2021-01-05 15:43] codyoss commented on #815
Closing as duplicate of #813. Let's keep all discussion on one issue.

[2021-01-05 15:43] #815 closed

[2021-01-05 15:46] rodrigopavan commented on #815
@codyoss , that one was closed, can you reopen?

[2021-01-05 15:54] codyoss commented on #813
Sorry for the misdirection. If this field could be filtered on you could do it with a `:`, see [AIP-160](https://google.aip.dev/160) for example syntax. I did also find an open issue related to unable to filter on networkinterfaces though as well: [issue](https://b.corp.google.com/issues/73455339). If this is the case the issue is not with this client, but the backend service. I would recommend re

[2021-01-05 16:30] codyoss commented on #804
This check guarantees the to token contains three base64 encoded segments separated by a `.`. It sounds like whatever token was sent to this method does not match the format.

A couple of questions:
- Can you confirm what you token looks like, does it match this format?
-  Are you able to reproduce this locally?
- Where/How are you getting this token?

[2021-01-10 10:53] guywithacube opened #821 "cloudshell: AddPublicKeyRequest.Key documentation malformed / unclear"
The comment for AddPublicKeyRequest.Key is not readable.

[code]

Specifically, the last sentence:

It appears similarly malformed on [the documentation for the REST API](https://cloud.google.com/shell/docs/reference/rest/v1/users.environments/addPublicKey#google.cloud.shell.v1.CloudShellService.AddPublicKey).

[2021-01-11 15:41] codyoss commented on #821
Thanks for the report I will file an internal issue to get this fixed as this repository just generates code from the public discovery document listing. This should read:

"It should be structured as <format> <content>, where <content> part is encoded with Base64."

Internal bug: 177220782

[2021-01-11 15:41] #821 closed

[2021-01-11 17:12] #775 closed

[2021-01-11 19:22] guywithacube commented on #821
@codyoss

I just wanted to confirm, do you mean to say that it _should_ read as:

Or is it meant to read as otherwise?

Thanks for the help! 🙂

[2021-01-11 19:40] codyoss commented on #821
Whoops I copied the incorrect text. Should be:

`It should be structured as <format> <content>, where <content> part is encoded with Base64.`

[2021-01-11 19:42] guywithacube commented on #821
Fantastic.

Thank you!

[2021-01-11 23:38] #712 closed

[2021-01-14 06:24] sunkararp opened #826 "Creating consent errors out must specify user_id matching"
When our app tried to create the user consent, it got the below error...

`_{ "error": { "code": 400, "message": "Consents must specify user_id matching "^[\\p{L}\\p{N}_\\-]{1,256}$".", "status": "INVALID_ARGUMENT" } }_`

Any help to resolve this error is much appreciated.

Below is the consent payload...
`{
   'user_id': 'removed@4privacy.com',
   'policies': [{
     'resource_attributes': [{

[2021-01-14 15:31] codyoss commented on #826
@sunkararp Can you please provide me with some more information here.

1. Where version of the library are you using.
2. What client are you using?
3. Can you provide a simple reproducer?

[2021-01-14 16:42] sunkararp commented on #826
I was using simple plain vanilla code samples from Google docs from [here](https://cloud.google.com/healthcare/docs/quickstart)

#1:
- C:\Program Files (x86)\Google\Cloud SDK>gcloud version
--Google Cloud SDK 323.0.0
-- bq 2.0.64
--core 2021.01.08
-- gsutil 4.57

#2:
- I was POSTing json payload using windows Powershell, followed this [link](https://cloud.google.com/healthcare/docs/how-tos/consent

[2021-01-14 18:06] codyoss commented on #826
It appears you might be looking for help with the healthcare api. I would suggest reaching out on one of the contact methods on the [healthcare support page](https://cloud.google.com/healthcare/docs/getting-support). This issue tracker is for Go client libraries. Hope the link is useful.

[2021-01-14 18:06] #826 closed

[2021-01-14 20:03] codyoss commented on #804
Closing due to lack of response. Please feel free to re-open if you are still having issues and can share more information.

[2021-01-14 20:03] #804 closed

[2021-01-18 19:38] arianitu opened #832 "compute.v1.DisksService.CreateSnapshot not creating snapshot, but no errors (quota hit for snapshots, but API reports no errors)"
I'm using the API method:

[code]

This method successfully gets called, err == nil and I have printed op.Error and op.Warnings, the first is nil and the second is an empty array.

When I look at the returned operation, it says the status is "RUNNING". In reality, the disk snapshot does not get created, nor is there an API errors reported when I go to https://console.developers.google.com/apis/api

[2021-01-18 19:42] arianitu commented on #832
I do have the operation id if there is a way to take a look at it. In the operation response, it returns a link like so:

[code]

Is there a way to look at this after the fact?

[2021-01-18 19:55] arianitu commented on #832
This is the debug code I used as well:

[code]

It gets passed all of these with no errors.

[2021-01-18 20:21] arianitu commented on #832
It looks like I'm hitting a Quota, but the API is not responding with an error when a quota is hit. I attempted to create a snapshot from the UI and I got the correct message:

"Max 1,000 snapshots reached".

Does the API not support errors when quotas are hit?

[2021-01-19 15:59] codyoss commented on #832
The first request is unlikely to have issues as it returns a long running operation. You will want to check the status of the operation. Here is an example of how to do that: https://github.com/googleapis/google-api-go-client/blob/99672a90d8e348f86d7e8862e1769a05da26e74a/examples/operation_progress.go#L34

[2021-01-19 15:59] #832 closed

[2021-01-21 13:10] forking-renovate[bot] opened #837 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-01-30 17:36] james-lawrence commented on #388
@jadekler that package should be removed just because of the panic attack it causes people, at least until it switches to opt in on the background tasks.

[2021-02-01 17:26] codyoss commented on #785
It is not expected that you use a validated client with this function. If you have a valid use case for this please let me know and we can discuss more. It is true our client has become more restrictive about when to use self-signed JWTs but this is correct as an audience, default or user set, should be provided when using this feature. It was a bug that this worked before. Closing as by design.

[2021-02-01 17:26] #785 closed

[2021-02-01 21:23] dgpc commented on #180
I'm afraid I'm no longer at the company that was using this client library.. Not sure if this is something @i0exception still cares about?

[2021-02-02 04:13] treeder commented on #282
@JustinBeckwith I assume assigning me was a mistake? :)

[2021-02-02 04:19] JustinBeckwith commented on #282
Yup, just a script run amok.  Feel free to ignore!

[2021-02-03 22:57] mpokryva opened #856 "run: Client doesn't replace routes if app is running in Cloud Run."
**Client**

v1 Cloud Run (https://pkg.go.dev/google.golang.org/api/run/v1?utm_source=godoc)

**Environment**

* Cloud Run

* Using gcr.io/distroless/static image

**Go Environment**

Not related to go environment, only specified library.

**Code**

[code]

**Expected behavior**

https://cloud.google.com/run/docs/reference/rest/v1/namespaces.configurations/get#path-parameters says:

**Actual behavi

[2021-02-04 16:41] codyoss commented on #856
Hey,

I see a couple of mistakes here.

1. Cloud run uses region endpoints so you will need to set an endpoint override.
2. Looking at the docs it seems name should be formatted: `namespaces/%s/configurations/%s`

Here is an example of a some code that seemed to work for me, I think you should be able to adapt it to your usecase:

[code]

Hope that helps!

[2021-02-04 16:41] #856 closed

[2021-02-05 12:50] mykter commented on #329
For what it's worth the cast and then code check approach wasn't obvious to me: it might be helpful to include it in the README or examples.

[2021-02-06 07:16] Rajeshravir opened #861 "compute: Unable to remove/delete labels using compute setLabels"
I am trying to remove existing labels on a compute instance using `compute/v1`'s `setLabels` method but I am unable to find support for the same.

Things that I have tried are

In the below snippet, values `k3` and `k4` are existing label keys which I am trying to remove by sending them in NullFields or ForceSendFields but both do not seem to work.

[code]

Since the label keys are inside the labe

[2021-02-06 07:33] Rajeshravir commented on #861
Related issue [https://github.com/googleapis/google-api-go-client/issues/201](https://github.com/googleapis/google-api-go-client/issues/201) As resolved in that issue, the expectation would be `NullFields: []string{"labels.k3"}` to work in compute setLabels and delete the `k3` label in the instance.

[2021-02-06 12:42] Rajeshravir commented on #861
I must have confused with some other GCP client library. Realised that compute API setLabels overwrites labels, closing issue.

[2021-02-06 12:42] #861 closed

[2021-02-08 10:06] eamirgh opened #864 "sheets: Error on defineing multiple ranges."
There is an unclarity in defining multiple ranges on sheets v4 API since there is no example in the documents.
To reproduce:
On the QuickStart example if we use a multiple ranged string, for example `Sheet1!A12:C12,Sheet1!A14:C14,Sheet1!A29:C29,Sheet1!A31:C31,Sheet1!A46:C46`
or
`Sheet1!A12:C12,A14:C14,A29:C29,A31:C31,A46:C46` ,
which are a valid range in sheet1 sheet, We will get "Unable to write

[2021-02-08 15:34] codyoss commented on #864
Hey,

This client is auto-generated and the issue tracker here is used more so for the generated code itself. It sounds like your question is related to the API itself. I would recommend reaching out from one of the ways listed on the [Sheets Support Page](https://developers.google.com/sheets/api/support). Hope the helps.

[2021-02-08 15:34] #864 closed

[2021-02-09 18:48] codyoss commented on #329
@mykter Thanks for the suggestion: https://github.com/googleapis/google-api-go-client/pull/867

[2021-02-10 10:50] wittayaarm opened #868 "เลขหรัสบัตรเติมเงินทรูมันนี่1000"
เลขหรัสบัตรเติมเงินทรูมันนี่1000

__Originally posted by @wittayaarm in https://github.com/wittayaarm/Unknow/issues/1#issuecomment-751860961__

__Originally posted by @wittayaarm in https://github.com/govindarajit/payment-gateway-with-googlePay/issues/2__

__Originally posted by @wittayaarm in https://github.com/googleapis/google-api-php-client/issues/2045__

__Originally posted by @wittayaarm in

[2021-02-10 11:24] #868 closed

[2021-02-12 16:40] dwrz commented on #748
Hello, @codyoss the issue eventually disappeared for us, but returned this week.

I filed a report on the Issue Tracker, here: https://issuetracker.google.com/issues/179925692. I am not sure the engineer that responded to that request understood the issue (they suggested implementing try/catch), but there seems to be an insinuation there that the issue is on the client side.

Do you have any insig

[2021-02-12 21:17] bouk opened #873 "idtoken: support authorized_user credential type"
Right now there's no way to get an ID token if your credentials are user credentials e.g. if you're signed into gcloud locally.

Right now I have to exec out into `gcloud auth print-identity-token` to get a token, it would be great if this library supported it natively.

[2021-02-16 11:53] bouk commented on #873
I managed to work around this, as follows:

[code]

This code will wrap the google oauth TokenSource to pass through its id_token

[2021-02-16 15:40] codyoss commented on #873
Hey @bouk you are correct that we don't currently support this, but this was done intentionally at the time of writing. The identity token spec we follow states this is optional: [AIP 4116](https://google.aip.dev/auth/4116). That being said I am curious if the other language libraries we support currently have this feature. @bshaffer do you know if user credentials are used in other languages?

[2021-02-16 17:26] bouk commented on #873
The python SDK seems to support it at least, since that's what gcloud uses under the hood (I assume?)

[2021-02-16 22:47] codyoss commented on #873
@bouk It looks like the python auth library [only works with service accounts](https://github.com/googleapis/google-auth-library-python/blob/d4d7f3815e0cea3c9f39a5204a4f001de99568e9/google/oauth2/id_token.py#L247) as well. I am not against this request, but I would prefer to be consistent with what our other libraries in other languages are doing.

[2021-03-01 13:27] 0marq opened #900 "Fields with type bool and json tag omitempty should be *bool"
Hello,

I was using the `sqladmin` package (google.golang.org/api/sqladmin/v1beta4) and I encountered a bug.

When creating an CloudSQL instance I tried to disable the public IP address. I had to do so by setting the field `Settings.IpConfiguration.Ipv4Enabled` with value false, but the Golang Google API Client kept creating an instance without the expected value.

To debug what was happening, I p

[2021-03-01 14:28] xrstf opened #901 "Cannot remove RecoveryPhone from users via directoryv1 API"
I have a user in my organization who has a recovery phone number set. I want to remove this phone number via the go client, but the request never has any effect. I can _add_ and _change_ the recovery phone, but never remove it. I tried v0.36.0 and v0.4.0.

Playing around with the codebase a bit, removing the `omitempty` flag from the `User` struct's `RecoveryPhone` field fixes the problem immediat

[2021-03-01 15:17] xrstf commented on #901
NB: This can be fixed by manually setting ForceSendFields like so:

[code]

[2021-03-01 17:03] codyoss commented on #901
ForceSendFields is the correct way to handle this case.

[2021-03-01 17:03] #901 closed

[2021-03-01 18:17] codyoss commented on #900
Hey @0marq this is a design choice by this api. To get around false values, and other default values, being sent please see: [ForceSendFields](https://pkg.go.dev/google.golang.org/api#hdr-ForceSendFields).

[2021-03-01 18:17] #900 closed

[2021-03-02 09:24] 0marq commented on #900
Works like a charm ! Thanks for the tip and the quick answer !

[2021-03-03 10:47] fishhead108 commented on #185
Any news here?

[2021-03-04 11:46] timestee opened #906 "seems can not get the newest revision immediately after the file changed on gdrive"
using api v3 to list and sync excel files on gdrive.

[code]

Just a simple test case.

At `2021-03-04T15:14:16+08:00`, got test.xlsx state:
Md5Checksum: 668395eb4b0db465efaf631df3aefd86
ModifiedTime: 2021-03-04T07:13:02.100Z

At `2021-03-04T15:16:06+08:00`, got test.xlsx state:
Md5Checksum: 668395eb4b0db465efaf631df3aefd86
ModifiedTime: 2021-03-04T07:13:02.100Z

At `2021-03-04T15:16:28+08:00`, go

[2021-03-04 15:51] codyoss commented on #906
Hey,

This issue tracker is primarily used to report issues related to the generated code itself. If you have specific questions for a given API I would recommend reaching out by one of the methods listed on that services support page. In that case of Drive that can be [found here](https://developers.google.com/drive/api/v3/support). Please reach back out here if you find your answer though to hel

[2021-03-04 15:51] #906 closed

[2021-03-15 15:37] danielkucera opened #926 "Client crashing when homedir set to /dev/null"
We used to use user `guest` which has home set to `/dev/null`
With version 0.15 it was working fine. After upgrading to latest release, we started to get following error:
[code]
this is most probably caused by following commit:
https://github.com/googleapis/google-api-go-client/commit/c130fbf47401c663846f83d9b1b553dce7af0478

There is a condition which is true when the file does not exist:

https:

[2021-03-16 16:32] youngnicks opened #931 "safebrowsing v4: 403 With API KEY"
I am trying to use the Google Safe Browsing `ThreatListUpdates.Fetch`, but am getting `403: The caller does not have permission, forbidden`. The API_KEY is working with curl, so why is it not working with the go module?

[code]

[code]

[2021-03-16 17:16] codyoss commented on #926
Hey,

Are you setting `GOOGLE_API_USE_CLIENT_CERTIFICATE` to true? I believe this is the correct behavior for this feature. If you would like to use this auth feature and keep /dev/null set I suggest using the client option instead: [option.WithClientCertSource](https://pkg.go.dev/google.golang.org/api/option#WithClientCertSource).

[2021-03-16 18:30] danielkucera commented on #926
I see now, we were using version v0.30.0 where the default behavior is to check if the file exists and no such variable is checked:

https://github.com/googleapis/google-api-go-client/blob/dcbe36d62163edc6a7dca06c1d9f34881a2283b7/transport/cert/default_cert.go#L62-L70

[2021-03-16 20:32] codyoss commented on #926
This feature appears to be guarded by an environment variable in the current release. Closing as I believe the requested behavior is the way it works on latest.

[2021-03-16 20:32] #926 closed

[2021-03-16 21:00] youngnicks commented on #931
It looks like the issue is with the TRICK_TO_BILL, URL, ANY_PLATFORM list. Once I removed that, it started working. It would be nice to send a 400 instead of a 403 for when a list doesn't exist, but that is part of the Google API and not this project.

[2021-03-16 21:00] #931 closed

[2021-03-18 10:55] 3ks opened #938 "Bug: admin api sdk can not handle zero-value correct"
# Backgroud

I wanna to control the [User](https://pkg.go.dev/google.golang.org/api/admin/directory/v1@v0.13.0#User) state through the API.

The principle is to modify the value of the `Suspended` field through the SDK

# Actual situation

I can only disable users, but not enable them.

# Problem Cause

[code]

When I want to enable the account, I need to assign `Suspended` to false, but for `bool

[2021-03-18 14:56] codyoss commented on #938
Please reference docs on [ForceSendFields](https://pkg.go.dev/google.golang.org/api#hdr-ForceSendFields).

[2021-03-18 14:56] #938 closed

[2021-03-18 17:09] 3ks commented on #938
That's great thank you, it's due to my lack of proficiency with the SDK.

[2021-03-18 17:52] codyoss commented on #938
No worries, glad I could help!

[2021-03-19 18:47] estenssoros opened #941 "cloudidentity/v1 missing OperationService"
I noticed that methods in the cloudidentity/v1.Service return an *Operation similar to the cloudresourcemanager/v2.  In cloudresourcemamanger we are able to poll the status of the operation via the OperationService and eventually unmarshal the result. It seems this Service is missing for the cloudidentity/v1. Is this by design? If so, how are we supposed to check the status of the API call?

cloud

[2021-03-22 18:13] codyoss commented on #941
Hey, thank you for filing the issue. I agree something does not seem quite right here. Services that expose these long running operations should provide apis for working with those operations. These apis are generally found at "${basePath}/${apiVersion}/operations/${opID}". It seems like this service is not exposing those endpoints. As this seems to be an issue with the service can I ask you to pl

[2021-03-22 18:13] #941 closed

[2021-03-24 21:18] codyoss opened #948 "add integration test for dwd impersonation"

[2021-03-25 00:59] kortschak opened #950 "docs: improve godoc generation for functions"
The godoc comments that are generated for the Go API client code lacks information that is present for other languages, for example python.

Take for example the YouTube live broadcasts API functions. In the `liveBroadCasts` [`insert`](https://googleapis.github.io/google-api-python-client/docs/dyn/youtube_v3.liveBroadcasts.html#insert) documentation all the input parameters are described.

[code]

[2021-03-25 14:25] codyoss commented on #950
Thanks for the suggestion. I will take a look and see how other languages are handling this today.

[2021-03-25 14:33] #652 closed

[2021-03-25 14:33] codyoss commented on #777
Please try out our impersonate preview and feel free to provide any feedback: https://github.com/googleapis/google-api-go-client/releases/tag/v0.44.0-impersonate-preview

[2021-03-25 14:33] #777 closed

[2021-03-25 14:33] codyoss commented on #731
Please try out our impersonate preview and feel free to provide any feedback: https://github.com/googleapis/google-api-go-client/releases/tag/v0.44.0-impersonate-preview

[2021-03-25 14:33] #731 closed

[2021-03-25 14:33] codyoss commented on #378
Please try out our impersonate preview and feel free to provide any feedback: https://github.com/googleapis/google-api-go-client/releases/tag/v0.44.0-impersonate-preview

[2021-03-25 15:03] Sytten commented on #378
How is it different than what we do currently?

[2021-03-25 15:21] codyoss commented on #378
It is a little different in that the new package gives you a TokenSource to work with that you will then pass into the client with a client option, [see example](https://pkg.go.dev/google.golang.org/api@v0.44.0-impersonate-preview/impersonate#example-CredentialsTokenSource-ServiceAccount). It provides more flexibility particularly when constraining to tighter scopes. The package also support creat

[2021-03-25 15:54] Sytten commented on #378
Thanks @salrashid123 that is exactly what I wanted!

[2021-03-26 00:01] salrashid123 commented on #378
just one note on the preview implementation...   I realize that in normal cases it doens't make sense to set a `duration` field while getting an impersonated token because the auth client would autorefresh it anyway (i.,e if in the example above if you set it to  expire in 120s, the client lib woud just refresh it anyway automatically so might as well not set it and use the default `3600s`)

howev

[2021-03-29 14:43] codyoss commented on #378
@salrashid123

If the duration of the token is configured impersonated token will not be auto-refreshed. So I think this covers what you are asking about?
https://github.com/googleapis/google-api-go-client/blob/impersonate-preview/impersonate/impersonate.go#L80

[2021-03-29 16:29] salrashid123 commented on #378
its a bit different than that:

1. user U impersonates svc_account S1.
2. S1 has access to GCS buckets A,B,C
3. user U gets the raw access token T1  for S1
4. user U takes T1 and then downscopes its permission to have access to only bucket A and gets token T2
5. user gives T2 to some other system...at that point, T2 still represents S1 but has access to only bucket A

the think i''m pointing out i

[2021-03-29 17:01] failure-checker[bot] opened #957 "Warning: a recent release failed"
The following release PRs may have failed:

* #956
* #955
* #954
* #927

[2021-03-29 18:43] codyoss commented on #957
The issue is erroneous.

[2021-03-29 18:43] #957 closed

[2021-03-29 19:01] failure-checker[bot] opened #958 "Warning: a recent release failed"
The following release PRs may have failed:

* #946
* #956
* #955
* #954
* #927

[2021-03-30 10:40] mipearson commented on #179
Hello from 2021! It looks like this still doesn't exist, unless I'm not looking hard enough ..

[2021-03-30 12:04] thozza opened #960 "Return more structured errors (e.g. when deleting resources)"
I'm implementing a Go code, which will clean up resources after canceled CloudBuild job. The resources include instances and disks. Disks are used by the instances which are being cleaned up.

I'm doing the operations in this order:
1. Delete all Instances left after the canceled CloudBuild job.
2. Delete all disks left after the canceled CloudBuild job.

However while I'm trying to delete disks,

[2021-03-30 14:31] codyoss commented on #179
@mipearson For gmail please continue to use this client for now.

[2021-03-30 14:35] mikhailshilkov opened #961 "flatPath missing in the discovery document's RestMethod"
[`RestMethod`](https://github.com/googleapis/google-api-go-client/blob/2855950c5037c80caea1dbd6cec6e9e21a91e9f4/discovery/v1/discovery-gen.go#L698) struct should define a `FlatPath` property which is widely used in the existing discovery documents and is outlined in the [API reference](https://developers.google.com/discovery/v1/reference/apis):

[2021-03-30 14:36] codyoss commented on #960
If you need to inspect the error the current recommendation is to convert it to a `*googleapi.Error`: See the following example in our docs: https://pkg.go.dev/google.golang.org/api#hdr-Inspecting_errors

[2021-03-30 14:36] #960 closed

[2021-03-30 15:32] #958 closed

[2021-03-31 03:37] sontt-1215 opened #962 "Response after create event with conference data"
Hi development team !!!
I want to get full entrypoints (although i only create with meeting).
So how can I get the entire data of Entry Point?
Because in addition to meeting I want to get phone, sip, more.... (I checked and found it when testing directly via Google API, but my response is always only have meeting)
This is my request
[code]
and this is response.
![Screenshot from 2021-03-31 10-47-0

[2021-03-31 04:28] #962 closed

[2021-04-01 20:30] #950 closed

[2021-04-01 20:55] codyoss commented on #961
This issue tracker is used mainly for the generated client themselves. This appears to be a feature request for the discovery service. I have filled an internal bug 184288835 raising this feature request.

[2021-04-01 20:55] #961 closed

[2021-04-08 21:05] codyoss commented on #185
There is no update to share as of right now, but I have raised this feature request internally. If we supported this we would support such an environment variable in all languages, not just Go.

[2021-04-09 10:20] tbpg commented on #185
For Go in particular, you can use [`option.WithCredentialsJSON`](https://pkg.go.dev/google.golang.org/api/option#WithCredentialsJSON) and combine it with [`os.Getenv`](https://golang.org/pkg/os/#Getenv) to do this today.

Something like:
[code]

If you want to make it work for local development and prod, you can check if the `_JSON` env var exists first, and fall back to no `option.WithCredentials

[2021-04-09 22:08] codyoss commented on #961
@mikhailshilkov It [has been added](https://github.com/googleapis/google-api-go-client/blob/3d19c369d96f0bcb8a31548a4df4325840c29542/discovery/v1/discovery-gen.go#L709)!

Thank you for pointing this out!

[2021-04-11 06:09] 3ks opened #978 "verificationCodes.generate fail with invalid input"
After successfully creating the account, I tried to generate a verification code using the email and id and got the same error:

[code]

I can't figure out what the problem is from the error message, can you help me?

api: https://developers.google.com/admin-sdk/directory/reference/rest/v1/verificationCodes/generate

[2021-04-11 06:18] 3ks commented on #978
This issue has been resolved, users with disabled status cannot generate verification code

[2021-04-11 06:18] #978 closed

[2021-04-12 10:22] silverark opened #981 "Android Management API not disabling system settings"
When enabling Kiosk mode in the android management API the KioskCustomization options only works when the `KioskCustomLauncherEnabled` is set to true. When you supply your own app using `installType KIOSK`  these settings do not work. This means you can't Block the settings page from showing! Or disable notifications on the system.

It's essential that we can stop the users accessing the setting p

[2021-04-12 13:54] silverark commented on #981
Found the issue after a couple of days of testing! As usual it's not you, it's me :-)

The KioskCustomLauncherEnabled setting are ignored if the  following is present in main <activity> <intent-filter>
<category android:name="android.intent.category.HOME" />

As soon as I remove it, things started working again.

[2021-04-12 13:54] #981 closed

[2021-04-12 13:56] jankrynauw opened #982 "Incorrect documentation for Cloud Run (managed)"
https://github.com/googleapis/google-api-go-client/blob/e8cf7f70a1e0160405dd0f789a006e6b6074fbdb/run/v1/run-gen.go#L9489

For Cloud Run (Managed), the namespace should be replaced with both projects and locations details.  For example:
`projects/{project}/locations/{location}`

[2021-04-12 17:58] codyoss commented on #982
Hey @jankrynauw thanks for the docs issue. This repo is autogenerated contains auto-generated code and is not the source of truth for these comments. Would you mind filling this issue on the [Cloud Run issue tracker](https://issuetracker.google.com/issues/new?component=608076&template=0).

[2021-04-12 17:58] #982 closed

[2021-04-15 17:24] princebillyGK commented on #160
You deserves a medal. You saved my day I was stuck in here for 2 hour. This works perfectly

[2021-04-15 19:29] cwalkatron opened #986 "Unarchiving a user is ineffective unless Archived is sent in ForceSendFields"
The following code does nothing.

[code]

However, adding `Archived` to `ForceSendFields` makes it work. This is not obvious.

[code]

[2021-04-15 20:19] codyoss commented on #986
Hey, sorry you had trouble with this. For boolean fields like this the `ForceSendFields` field is required because the struct is labeled as with the json tag `omitempty`, cause default values not to be serialized. Besides the docs found on the struct we also include an explanation in our package docs: [ForceSendFields](https://pkg.go.dev/google.golang.org/api#hdr-ForceSendFields). If you have sugg

[2021-04-15 20:19] #986 closed

[2021-04-24 17:07] Sytten commented on #185
I think this really important for dev environments. Currently the SDK doesn't encrypt credentials (weird decision in my opinion) so devs that care about security must store them somewhere else. What I would like is decrypt the file in memory and pass it to the application directly.

[2021-04-30 15:27] mterwill commented on #777
@codyoss – works great, thanks! Any idea when the new package will be generally released?

[2021-04-30 15:38] codyoss commented on #777
@mterwill  Planning on cutting a release with this next week. Can follow https://github.com/googleapis/google-api-go-client/pull/991 for progress. A release will be cut shortly after the cherry pick.

[2021-04-30 17:23] mterwill commented on #777
Thank you!

[2021-05-03 16:13] codyoss commented on #652
Now in a main release: https://github.com/googleapis/google-api-go-client/releases/tag/v0.46.0

[2021-05-03 16:13] codyoss commented on #777
Now in a main release: https://github.com/googleapis/google-api-go-client/releases/tag/v0.46.0

[2021-05-03 16:13] codyoss commented on #731
Now in a main release: https://github.com/googleapis/google-api-go-client/releases/tag/v0.46.0

[2021-05-06 12:54] chornij opened #1010 "admob: json: cannot unmarshal array into Go value of type admob.GenerateMediationReportResponse"
When I try to get estimated earnings grouped by date, country, and platform googleapis server returning an error:

Instead of returning a single GenerateMediationReportResponse object (with single ReportFooter, ReportHeader and ReportRow props), it returning an array of objects (one ReportFooter, one ReportHeader and multiple ReportRow).

The actual result can be viewed in [oauth playground](https

[2021-05-06 14:47] codyoss commented on #1010
Hey,

It does appear that the response object is not correct for this call, thank you for the report. This appears to be a problem with the published API  spec and not the client library that is generated from that spec. There was another similar issue to this it appears: #468. I am going to close this issue in favor of updating that one thread. I have re-bumped internal bug 154313078. I will repo

[2021-05-06 14:47] #1010 closed

[2021-05-12 15:13] SamuelNeves opened #1019 "Not able to filter Firewall Rules by targetTags,sourceTags, or other list properties"
Hello I am trying to filter  firewall rules, by sourceTags,targetTags an other fields that are lists and I am receiving the following error:

Piece of code:
`req := computeService.Firewalls.List(project).Filter("sourceTags=allow-http-tag")`

error:
`2021/05/12 15:10:04 googleapi: Error 400: Invalid value for field 'filter': 'sourceTags[]=*'. Invalid list filter expression., invalid
exit status 1`

[2021-05-12 15:16] eahrend opened #1020 "Documentation: Using Proxy-Authorization in idtoken library."
Currently the only documentation regarding Proxy-Authorization is listed here:
https://cloud.google.com/iap/docs/authentication-howto#authenticating_from_proxy-authorization_header

I'm not sure if it's just me but the documentation on GCP's page was kind of vague and I spent a decent amount of time seeing how I could prevent the idtoken http client from overriding my authorization header, and whi

[2021-05-12 15:34] codyoss commented on #1020
@eahrend Thank you for the feedback. I think the best place for an example like this might be along side the IAP documentation. I will keep this issue open for tracking purposed for now, but may close and file an internal issue in the future. Thank you for bringing this use case up!

[2021-05-12 15:40] eahrend commented on #1020
@codyoss No worries! Appreciate it.

[2021-05-13 18:23] codyoss commented on #1019
Hey, thanks for the report. I don't believe that this is an issue with our generated client, but possibly the API itself. I have filed http://issuetracker.google.com/issues/188066355 for tracking.

[2021-05-13 18:23] #1019 closed

[2021-05-18 09:16] JanPetr commented on #459
Hello! I have the same question - I'd like to search Assets & Claims with Golang, but still cannot find it in the client. Is it implemented somewhere already or is it still missing from Golang client? Thank you!

[2021-05-22 21:28] Killian264 opened #1034 "Google Youtube API V3 PlaylistItemSnippet Position 0 Is Ignored"
#### Environment details

  - Programming language: Golang
  - OS: WSL2 Windows
  - Language runtime version: go version go1.16 linux/amd64
  - Package version: 0.47.0

#### Steps to reproduce

  1. Create a playlist
  2. Add video to a playlist
  3. Add video to a playlist at position 0
  4. Notice that it is added to the end of the playlist rather than the first position.

[code]

#### Note
Play

[2021-05-23 01:56] Killian264 commented on #1034
I had forgotten about ForceSendFields you can ignore this.

[2021-05-23 01:56] #1034 closed

[2021-05-24 10:01] liamvdv opened #1037 "drive.Service.Files.List() does not have .PageSize(n), quickstart guide not working"
Hi, I'm trying out the drive api with the official quickstart guide (https://developers.google.com/drive/api/v3/quickstart/go).
It doesn't work, because `drive.Service.Files.List()` returns `*FilesListCall`, which **does not** have a `PageSize(n)` method. Thus the code example provided doesn't work.

Reading the `drive-gen.go` source code didn't give me a clue to what other function I should use i

[2021-05-24 15:23] codyoss commented on #1037
Hey @liamvdv it looks like you are using `google.golang.org/api/drive/v2` but that quickstart is for v3. I double checked and v3 does have the PageSize method. Hope that helps!

[2021-05-24 15:23] #1037 closed

[2021-05-24 15:49] liamvdv commented on #1037
Okey great, thanks! I didn't think of that. Have a nice day!

[2021-05-26 10:02] sneko opened #1041 "sheets: appending a new row breaks above "Array result was not expanded because it would overwrite data""
Hi,

I have a document that gets a new row each time a webhook is triggered.

My column B should be generated based on another tab. The formula in B2 is something like:
[code]

Anyway, it works well when adding row on my own through the UI, but when it's from a Golang script by injecting this line:
[code]

I get this error:
[code]

What's weird is if I go to B608 and just press backspace the error

[2021-05-26 16:43] codyoss commented on #1041
Hey, I am not too familiar with this API. This issue tracker is primary used for questions and features for the generated code. Since this question is related to the API I would suggest reaching out with one of the methods listed on the [Sheets Support page](https://developers.google.com/sheets/api/support).

These docs may help for ValueRange:

Sorry I could not be of more help.

[2021-05-26 16:43] #1041 closed

[2021-05-30 11:48] hashier opened #1047 "Some of the dependencies are vulnerable to CVE-2021-3121 (8.6 High)"
#### Environment details

  - Programming language: go
  - OS: any
  - Language runtime version: any
  - Package version: master (de0697d0b8df0ef9c8c801e872c24eca453b943e)

#### Steps to reproduce

  1. Look into https://github.com/googleapis/google-api-go-client/blob/master/go.sum
  2. See that some of the dependencies are

[code]
Which are vulnerable to https://nvd.nist.gov/vuln/detail/CVE-2021-

[2021-05-30 12:45] hashier opened #1048 "Dependencies vulnerable to CVE-2018-17848 CVE-2018-17847 CVE-2018-17846 CVE-2018-17143 CVE-2018-17142"
#### Environment details

  - Programming language: go
  - OS: any
  - Language runtime version: any
  - Package version: master (de0697d0b8df0ef9c8c801e872c24eca453b943e)

#### Steps to reproduce

  1. Look into https://github.com/googleapis/google-api-go-client/blob/master/go.sum
  2. See that some of the dependencies are

[code]
Which are vulnerable to CVE-2018-17848 CVE-2018-17847 CVE-2018-178

[2021-05-30 14:10] hashier commented on #1048
Ah nevermind. It should use MVS and use a save version:
[code]

[2021-05-30 14:10] #1048 closed

[2021-05-30 14:11] hashier commented on #1047
Nevermind, my bad. It uses MVS and uses a none vulnerable version
[code]

[2021-06-01 14:32] codyoss commented on #1047
In the future please follow our [Security Policy](https://github.com/googleapis/google-api-go-client/blob/master/SECURITY.md) for security related issues. You can find it at the root of our repo of the [create new issue page](https://github.com/googleapis/google-api-go-client/issues/new/choose).

[2021-06-01 14:32] #1047 closed

[2021-06-05 03:01] afumagalli opened #1055 "false values for booleans are ignored unless included in ForceSendFields [admin API]"
#### Environment details

  - Programming language: Go
  - OS: macOS 11.4
  - Language runtime version: 1.13
  - Package version: 0.47.0

#### Steps to reproduce

  1. Make a Patch or Update to a user with `Suspension = true`
[code]

  2. This will correctly suspend the user. Now do the opposite by making the same request with `Suspension = false`
[code]

  3. The user will unexpectedly remain sus

[2021-06-07 02:43] codyoss commented on #1055
Hey, this is by design and fields like this are the reason while `ForceSendFields` exists. This is because all of the JSON structs include omitempty on fields. Hope that helps.

[2021-06-07 18:19] afumagalli commented on #1055
Can the documentation at least be updated to illustrate this? The comment I pasted above is not clear that `ForceSendFields` is necessary to reason about `nil` vs `false`

[2021-06-07 18:24] codyoss commented on #1055
@afumagalli That seems reasonable to me, this is also called out in the package docs: https://pkg.go.dev/google.golang.org/api#hdr-ForceSendFields

[2021-06-08 20:56] manoharkoukuntla opened #1062 "Support for Ad Manager API"

[2021-06-08 21:14] codyoss commented on #1062
Hey @manoharkoukuntla thanks for the request. This repository automatically generates all of the apis listed on the public discovery doc listing. If an API is not listed there it is not generated. If you would like to request this feature I recommend you reach out with one of the links on the [Ads support page](https://developers.google.com/ad-manager/api/community).

[2021-06-08 21:14] #1062 closed

[2021-06-09 11:59] Thearas commented on #236
Hi, I meet the same problem, it seems that `https://oauth2.googleapis.com/tokeninfo?id_token=XYZ123` is the right endpoint. See <https://developers.google.com/identity/sign-in/web/backend-auth#calling-the-tokeninfo-endpoint>.

[2021-06-09 12:44] du5 commented on #452
Try this.

[code]

[2021-06-09 12:49] du5 commented on #452
but i can not add a progress bar on download.

[2021-06-09 14:12] codyoss commented on #236
@Thearas If it is id tokens that you want to validate you may use [idtoken.Validate](https://pkg.go.dev/google.golang.org/api/idtoken#Validate)

[2021-06-09 14:15] Thearas commented on #236
Thanks, that's what I want!

[2021-06-15 18:15] maxlever opened #1072 "How to pass in multiple client options?"
### What I'm trying to do:

Hello! I'm looking to create an idtoken client with BOTH a custom timeout and custom service credentials. Apologies if this has already been asked. Would love someone to point me in the right direction! Thank you so much for your help.

### What I've tried:

[code]
I've also tried
[code]
and
[code]
### Error messages

[code]

[code]

[code]

[2021-06-15 18:20] codyoss commented on #1072
Hey @maxlever,

Apply is called for you so you just need to pass the options you wish to use, example:

[code]

Hope that helps!

[2021-06-15 18:20] #1072 closed

[2021-06-16 13:42] maxlever opened #1074 "Using WithHTTPClient & WithCredentialsJSON: NewTransport error"
### What you're trying to do

Hello again! I'm trying to create a client with both timeout and service creds. Following up on #1072 -- thanks for your help @codyoss -- I tried the suggested syntax of passing in multiple client options. the syntax works, but it seems the issue is that it doesn't like using a custom client with custom credentials. What am I missing?

### What code you've tried
[code

[2021-06-16 14:56] codyoss commented on #1074
Hey @maxlever you are right, I think we could do a better job with the error message here. Usually client and cred options are not to be used at the same time as they can lead to undesirable behaviors; having an unauthenticated client. When passing in a HTTP client it is expected that this client is already set up to handle auth, which in this case it is not.

Here is a workaround that should allo

[2021-06-16 18:16] maxlever commented on #1074
Thank you @codyoss ! That appears to work! Thanks for letting me know about this:

[2021-06-16 18:16] #1074 closed

[2021-06-18 11:36] richzw opened #1077 "androidpublisher: purchases.products.acknowledge return 400 and 409 sometime"
We try to do acknowledge google play purchase on the server-side through [purchases.products.acknowledge](https://developers.google.com/android-publisher/api-ref/rest/v3/purchases.products/acknowledge) with golang

However, the following errors come up sometime

[code]

[code]

Is there anything am I missing? or how to solve those errors?

[2021-06-22 13:41] codyoss commented on #1077
Hey @richzw sorry you are having issues using this API. This issue tracker is primary for the generated client itself and not for questions about this API. I am currently unable to find a support page for this API though so I have opened an internal bug to find out where the correct place to ask this question. Internal bug 191748868.

[2021-06-22 15:57] codyoss commented on #1077
Please reach out via this form: https://support.google.com/googleplay/android-developer/gethelp?visit_id=637599741297094070-2434654640&rd=1#. It can be found under the [Getting started](https://developers.google.com/android-publisher) section on the API overview page.

[2021-06-22 15:57] #1077 closed

[2021-06-25 11:23] archy-bold commented on #459
Why isn't the Content ID API included in the client? It seems it's a massive afterthought for YouTube as retrieving things like assets is never simple.

[2021-06-28 09:12] apstndb opened #1092 "idtoken package has been broken since v0.49.0 when service_account credential is used"
#### Environment details

  - Programming language: Go
  - OS: macOS
  - Language runtime version: Go 1.16.2
  - Package version: v0.49.0

#### Steps to reproduce

Minimal reproducible code.

[code]
In `v0.49.0`:
[code]

In `v0.48.0`, it succeed.

It seems to be related with this comment https://github.com/googleapis/google-api-go-client/pull/1075#discussion_r653919814 and `idtoken` package doesn'

[2021-06-28 18:50] denissimonovski opened #1094 "AutoComplete for the Compute package"
I'm using a JetBrains IDE. I can't make auto complete work for the Compute package.
Some packages work ok, like networkmanagement.
For compute I tried go get, git clone locally, go install nothing works.
I say compute.NewService(ctx) and NewService is not found.
Can someone tell me why this is?

[2021-06-29 09:12] bweston92 commented on #1092
I opened an issue on the docs that is a temporary work around for this: https://github.com/GoogleCloudPlatform/golang-samples/issues/2125

[2021-06-29 13:37] codyoss commented on #1092
Thank you for the report, I will investigate why this is happening.

[2021-06-29 13:48] codyoss commented on #1094
@denissimonovski I am not sure why this would be that way, but my best guess would be that Goland is having a hard time computing auto complete for such a large single package. I would suggest opening up an issue with JetBrains. Sorry I could not be of more help.

[2021-06-29 13:48] #1094 closed

[2021-06-30 18:45] #1092 closed

[2021-06-30 18:58] codyoss commented on #1092
https://github.com/googleapis/google-api-go-client/releases/tag/v0.50.0 includes the fix!

[2021-06-30 20:23] bweston92 commented on #1092
Hey @codyoss thanks for taking the time to put a fix in :) appreciated.

[2021-06-30 20:30] codyoss commented on #1092
Of course! 😸

[2021-07-20 10:49] hue-n-gnk commented on #550
@codyoss  Hi, how is it going?
It's more than 1 year for the digging. Do you have a plan for fixing it?

[2021-07-20 15:54] codyoss commented on #550
@hue-n-gnk Sorry, this slipped off my radar. I have just opened a PR that should unblock this use-case. Thanks for pinging the issue!

[2021-07-31 20:26] AmanRaj1608 opened #1141 "Unable to retrieve token from web"
I am trying to use get all the events on my Calendar. I'm using [this code](https://github.com/googleworkspace/go-samples/blob/master/calendar/quickstart/quickstart.go)

On this function, after I get the auth token URL, I go to the page allow and redirect to get the token. Then when I enter it gives an error.

[code]

Error flow -
Verifying state
![image](https://user-images.githubusercontent.com/

[2021-07-31 20:30] AmanRaj1608 commented on #1141
My credentials are like this

![image](https://user-images.githubusercontent.com/42104907/127751746-98d5d7ca-de1e-4baa-b670-31b051ff6149.png)

Which I created from

![image](https://user-images.githubusercontent.com/42104907/127751788-80eb5380-71ea-4b48-aca3-79b1c7aed82a.png)

[2021-08-01 09:17] AmanRaj1608 commented on #1141
I wasn't copying the whole token.

[2021-08-01 09:17] #1141 closed

[2021-08-02 08:44] jacklberk opened #1144 "Adsense v2 api"
Hi apologies if this has been asked, google is currently sunsetting 1.4 api, is v2 api for adsense in progress?

https://developers.google.com/adsense/management/migrating

[2021-08-03 14:31] codyoss commented on #1144
If this is the client you are referring to it looks like it already exists. https://github.com/googleapis/google-api-go-client/tree/master/adsense/v2. Let me know if you have further questions. Closing as I believe this is what you are referencing.

[2021-08-03 14:31] #1144 closed

[2021-08-04 18:00] radsec opened #1148 "CloudIdentity - CheckTransitiveMembership - API URL generation error"
#### Environment details

  - Programming language: golang
  - OS: MacOS
  - Language runtime version: 1.16.5
  - Package version: 0.52.0

#### Steps to reproduce

1. Client code generation, from a service account:
[code]

2. Code snipet running the CheckFunction
[code]
  Long error output --> scroll down as I have highlighted the problem URL being generated.
[code]

  The error appears in the URL

[2021-08-04 18:32] radsec commented on #1148
I am just dumb, this is not a bug...my b.

[2021-08-04 18:32] #1148 closed

[2021-08-06 00:47] jacklberk commented on #1144
OK thanks let me check it out

[2021-08-06 06:03] rolandjitsu commented on #91
@jba Having the same issue, I cannot see the `id_token` in the userinfo payload:
[code]
[code]

But maybe I'm missing something?

[2021-08-09 15:16] codyoss commented on #672
Closing this issue for now as by design. Method states what it is validating today and returns a payload so further validation may be done by the use should they choose.

[2021-08-09 15:16] #672 closed

[2021-08-09 15:38] #550 closed

[2021-08-09 15:40] codyoss commented on #328
Closing this for now as I think my last comment is still valid.

[2021-08-09 15:40] #328 closed

[2021-08-09 15:43] codyoss commented on #397
Tests are currently fast-enough. Closing for now until this becomes more prevalent.

[2021-08-09 15:43] #397 closed

[2021-08-09 15:46] codyoss commented on #750
This should now be supported by the underlying oauth2 package: https://pkg.go.dev/golang.org/x/oauth2/google#hdr-Workload_Identity_Federation

[2021-08-09 15:47] codyoss commented on #790
Closing this for now as I don't believe this is an issue any longer.

[2021-08-09 15:47] #790 closed

[2021-08-09 15:54] codyoss commented on #361
I am not sure if this is still an issue. If it is I would suggest reaching out with one of the options on the [Compute API support page](https://cloud.google.com/compute/docs/support). This seems like a feature request for the backend and not this auto-generated client.

[2021-08-09 15:54] #361 closed

[2021-08-09 15:59] codyoss commented on #1020
This is now being tracked internally at b/195938959. Closing this issue. Thanks again for this feedback!

[2021-08-09 15:59] #1020 closed

[2021-08-09 22:59] treeder opened #1156 "firebaseremoteconfig doesn't seem to support CredentialsFromJSON"
I use the same `ClientOption`'s in other services, but when I use it with firebaseremoteconfig, I get an OAuth error:

[code]

code:

[code]

Unless I'm using it wrong?  Not very clear how to use remote config with this lib.

[2021-08-10 10:01] apstndb commented on #750
`golang.org/x/oauth2/google` supports `external_account` typed JSON credentials but underlying `golang.org/x/oauth2/google/internal/externalaccount` is not exported.
I think this PR should be re-opened for more general `oauth2.TokenSource` like [`STSTokenSource`](https://github.com/salrashid123/oauth2).

[2021-08-10 14:59] codyoss commented on #1156
This worked for me:

[code]

That error seems to be coming from the oauth2 package. You might be able to inspect is more my casting it: https://pkg.go.dev/golang.org/x/oauth2#RetrieveError

[2021-08-10 15:04] codyoss commented on #750
That package should not need to be exported. Methods like [CredentialsFromJSON](https://pkg.go.dev/golang.org/x/oauth2/google#CredentialsFromJSON) will now do the right thing [if the type](https://github.com/golang/oauth2/blob/6f1e6394065a17f7c4e686dad23e06b6843e20e0/google/google.go#L167-L180) is an `"external_account"`.

[2021-08-10 16:41] treeder commented on #1156
Thank @codyoss , I was missing that scope, after adding that line it worked. Thanks for the help!

[2021-08-10 16:41] #1156 closed

[2021-08-10 21:52] jarrodhroberson opened #1158 "Add ability to create an Anonymous user from the Go Auth Client."
I would like the ability to create "Anonymous" user accounts from Go code on the server side.

Right now the only way I can see to create them is with the JavaScript client, or one of the mobile clients, which I am not using.

Only workaround I can see is possibly using a Cloud Function written in JavaScript so I can use the JavaScript client.
But that is a hack workaround that will just lower coh

[2021-08-10 22:04] codyoss commented on #1158
Hey @jarrodhroberson, thanks for taking time to file an issue. Can you help me better understand what you mean by Anonymous user accounts. Are you talking about google accounts? If you could link me to an example of the equivalent in JS that may be helpful and\or the JS client you are talking about.

[2021-08-11 07:32] apstndb commented on #750
`external_account` type credentials which is supported by `CredentialsFromJSON` is not flexible because it processes STS subject token only from file path or URL.
https://github.com/golang/oauth2/blob/faf39c7919d5800bdcad2fbcb2a330c3fdd0ef96/google/google.go#L100-L126
https://github.com/golang/oauth2/blob/faf39c7919d5800bdcad2fbcb2a330c3fdd0ef96/google/internal/externalaccount/basecredentials.go#L

[2021-08-11 14:28] codyoss commented on #750
Could you provide some psudocode for how you would envision working with with such an api. I am not quite understanding how the current implementation does not provide enough flexibility for what you are trying to accomplish.

[2021-08-13 11:51] apstndb commented on #750
I have written PoC code. `golang.org/x/oauth2/google` package doesn't support that use-case.
https://github.com/apstndb/image-pull-secret-controller/blob/ae414e44a30ebdef331d59a5dc32d9a27af84feb/controllers/imagepullsecret_controller.go#L95-L115
I have used Kubernetes TokenRequest API(it can be replaced by Service Account Token Volume Projection sometimes) but I think there are more situations whi

[2021-08-16 10:25] jarrodhroberson commented on #1158
Like explained here.

[firebase.auth.Auth#signinanonymously](https://firebase.google.com/docs/reference/js/firebase.auth.Auth#signinanonymously)

`firebase.auth().signInAnonymously().catch(function(error) {
  // Handle Errors here.
  var errorCode = error.code;
  var errorMessage = error.message;

  if (errorCode === 'auth/operation-not-allowed') {
    alert('You must enable Anonymous auth in the

[2021-08-16 10:38] jarrodhroberson commented on #1158
I figured out how to do this with the raw REST api.

[code]

This is obviously not the best way to do this, I totally expect it to break at some point because of changes.

A well documented method on the existing client to do this would be greatly appreciated.

[2021-08-18 06:40] anoriqq opened #1170 "How to configure API key in the recommended way when using option.WithHTTPClient"
I'm using youtube.Service with API key authentication.
Currently, I'm creating youbute.Service by passing my own configured HTTPClient to youtube.New.

[code]

youtube.New and transport.APIKey are deprecated, so I'm trying to replace them with youtube.NewService.
However, if I use option.WithHTTPClient for youtube.NewService, option.WithAPIKey will be ignored.

Is there any other way than to conti

[2021-08-18 14:58] codyoss commented on #1170
Hey @anoriqq thanks for reaching out. Are you doing anything special with your HTTP client where you need to pass in a custom client? If not, I would recommend just doing

[code]

The default client should work great for most use-cases.

[2021-08-18 19:16] anoriqq commented on #1170
Thank you for answering.

I'm applying Prometheus and AWS X-Ray by wrapping http.Roundtripper for monitoring and analysis.
Also changing timeout.

[2021-08-18 19:24] codyoss commented on #1170
In that case you may want to make use of one of the methods in this package: https://pkg.go.dev/google.golang.org/api/transport/http. Specifically the NewTransport method might be what you are looking for. Then you can create a new http.Client with that transport and send it in to the service with the HTTP client option. Will that fix your use case?

[2021-08-18 19:48] anoriqq commented on #1170
Solved in my use case! :100:
Thank you very much for providing us with useful information!

[2021-08-18 19:48] #1170 closed

[2021-08-22 17:19] misterjacko opened #1177 "docs: incorrect documentaion for compute ResourcePolicyDailyCycle struct"
The description for the `daysInCycle` property of compute's `ResourcePolicyDailyCycle` struct is incorrect. It reads:

 "Defines a schedule with units measured in **months**. The value determines how many **months** pass between the start of each cycle."

 Daily cycle resource policy schedules are measured in days and further are restricted to 1 day. Anything over and you would use a weekly policy

[2021-08-24 14:19] j0hnsmith commented on #1074
I've just run into this, from the comment above it seems there's no legitimate use for `idtoken.WithHTTPClient()`, if so remove it?

https://github.com/googleapis/google-api-go-client/blob/b71b5b61378b38317934e6557a4982bd5bead7c6/idtoken/idtoken.go#L57-L61

I wonder if something like this at then end of `idtoken.NewClient()` would work

[code]

[2021-08-25 09:23] MrNullPoint opened #1182 "admob: networkreport generate returns json unmarshal error"
#### Environment details

  - Programming language: golang
  - OS: macos
  - Language runtime version: go version go1.15.5 darwin/amd64
  - Package version: master

#### Steps to reproduce

  1. call admob network.report
  2. it returns error ` json: cannot unmarshal array into Go value of type admob.GenerateNetworkReportResponse`

**sample code**
[code]

**bug reason**
<img width="1601" alt="75FD

[2021-08-25 13:54] codyoss commented on #1182
This looks like a duplicate of #468. This is being tracked internally as b/184875907. The issue appears to be that this is actually a streaming RPC which this client does not natively support. I have commented on b/184875907 about this and asked if we can get a workaround while other options are being explored.

[2021-08-26 00:23] salrashid123 opened #1185 "impersonate: token limited to 1 hour"
A impersonated token is restricted to one hour here:

https://github.com/googleapis/google-api-go-client/blob/master/impersonate/impersonate.go#L69

however, an org policy can be set that allows credentials valid upto 12 hours:

`constraints/iam.allowServiceAccountCredentialLifetimeExtension`

[code]

eg i'm setting one here to `4000s`

[code]

[2021-08-26 09:28] peterwillis opened #1187 "idtoken: Using NewValidator with Google credentials in the environments means you can't validate tokens"
#### Environment details

  - Programming language: Go
  - OS: Linux
  - Language runtime version: 1.17
  - Package version: v0.54.0

#### Steps to reproduce

When I create a validator with `idtoken.NewValidator(ctx)` and then use `v.Validate(ctx, "valid token", "valid audience")` there is an error that shows the certs endpoint is returning a 400. I think this is because library picks up `GOOGLE_A

[2021-08-29 18:13] venkyfff opened #1192 "networkconnectivity : Malformed name while trying to create Hub"
I am trying to create a hub in network connectivity center using golang APIs. But i am getting the following error:

```<nil> googleapi: Error 400: Malformed name: 'projects/xxxxxx/locations/global/hubs/', badRequest```

My code is

[code]

where "projects/xxxxxxx/locations/global" is the parent name.

Could someone help me what is the problem here.

[2021-08-30 09:22] forking-renovate[bot] opened #1194 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(all): update google.golang.org/genproto commit hash to 66f60bf](../pull/1193)

---

- [ ] Check this box to trigger a request for Renov

[2021-08-30 14:17] codyoss commented on #1192
Hey @venkyfff I am not sure what the proper format is here. I would recommend inspecting the error deeper to see if there are more hints to what might be wrong: https://pkg.go.dev/google.golang.org/api#hdr-Inspecting_errors

[2021-08-30 14:28] #1194 closed

[2021-08-30 15:50] jasonbronson opened #1197 "youtube/analytics: Watch Hours per video"
I'm looking for watch hours in the API for each video in a channel.

I've found the api docs show it here. https://developers.google.com/youtube/analytics/metrics?hl=en#Watch_Time_Metrics
But I do not see any references in your docs to grab it.
Are you planning on implementing it?

[2021-08-30 15:51] venkyfff commented on #1192
Thanks @codyoss. I tried to dig in deeper but couldn't get much info other than the error code being 400

[2021-08-30 16:00] codyoss commented on #1197
Hey @jasonbronson, the clients in this project our auto-generated based on the services public [discovery document spec](https://youtubeanalytics.googleapis.com/$discovery/rest?version=v2). If there are features you would like to see show up in the API I would recommend reaching out from the youtube analytics support page.

[2021-08-30 16:51] codyoss commented on #1192
I would recommend reaching out to the product team from their [support page](https://cloud.google.com/network-connectivity/docs/support/getting-support). At the very least I think a documentation change should be made here to clear things up.

[2021-08-30 16:58] codyoss commented on #1177
Hey @misterjacko thanks for the feedback on the compute api. As I mentioned in the PR you raised in order to fix this we would need to update the source that these APIs are generated from. I would recommend raising an issue one on of the compute issues trackers from [their support page](https://cloud.google.com/compute/docs/getting-support). Thanks you for finding this defect!

[2021-08-30 16:58] #1177 closed

[2021-08-30 21:00] codyoss commented on #1187
@peterwillis You are right, this should be a bug. I opened a PR to fix this issue.

[2021-08-30 22:23] #1187 closed

[2021-08-30 22:43] #1185 closed

[2021-08-31 21:39] jarrodhroberson commented on #1158
I figured out how to do what I wanted with the Go client after MUCH trial and error and by accident. Apparently if you send in `""` for the "required" fields it fails because it tries to validate them. If you just do not include those fields it creates an anonymous account. This completely violates the "principal of least astonishment", if a field is marked "required" in the docs but you can leave

[2021-08-31 21:42] #1158 closed

[2021-09-07 14:11] enkeyz opened #1213 "go.sum file size"
I wanted to use "google.golang.org/api/commentanalyzer/v1alpha1" go package, and after adding to my project, I realized that my go.sum file became huge.

File: https://gist.github.com/enkeyz/7a62e439b8b8b18b03e8c7fdcdfd19e9

538 lines of dependency: is this the result of the auto-generated code?

[2021-09-08 03:56] deadlysyn opened #1214 "best way to get licenses available/assigned"
- What you're trying to do

in workspace admin > billing > subscriptions i can see "X available / Y assigned" license counts for each subscription. trying to find best way to derive these with sdk.

- What code you've already tried

went through sdk directory index, only things which sounded potentially relevant were admin (useful but don't see anything related to billing), *billing (specific to G

[2021-09-08 15:10] deadlysyn commented on #1214
for example, you can do something like this to get an assigned license count:

[code]

sharing bad code just to clarify what i've been trying...that accurately computes assigned licenses for the product, but is obviously inefficient and still doesn't provide insight into available seats.

would like to figure this out and submit an example since it feels like a common thing for provisioning system

[2021-09-09 14:52] codyoss commented on #1213
I think this is the result of some circular dependencies we have between this repo and google-cloud-go(cloud.google.com/go). This will be broken in the not too distant future. In practice though MVS will only select and pull in one version per major. So for example if you ran `go mod vendor` you can see it is not pulling in multiple versions of `cloud.google.com/go`.  In general I don't think the

[2021-09-09 14:52] #1213 closed

[2021-09-09 19:04] codyoss commented on #1214
Hey @deadlysyn if you are looking for help with a question I would suggest reaching out to the product team directly through on of the mechanisms listed on their [support page](https://developers.google.com/admin-sdk/licensing/support). I am not familiar with this API. This issue tracker is primary for Auth related items and for the generated code itself. Sorry I can't be of more help, I hope the

[2021-09-09 19:05] #1214 closed

[2021-09-10 16:29] venkyfff commented on #1192
@codyoss  - I tried to reach the support team through email / slack. So far no response.

[2021-09-13 07:56] nathanramli opened #1221 "idtoken: validating idtoken with multiple client ids"
Currently, _idtoken_ only support validating with one _client id_.
In my case, I have multiple client and want to validate idtoken with those client ids.

I think it would be better to be able validating with many client ids, as in Google Auth Library for node.js
[https://developers.google.com/identity/gsi/web/guides/verify-google-id-token#using-a-google-api-client-library](https://developers.goog

[2021-09-13 14:50] codyoss commented on #1221
@bshaffer I think we originally were supporting a single audience, should we be supported multiple aud idtokens?

[2021-09-13 15:43] bshaffer commented on #1221
I am not aware of any use-case (or any auth libraries which support) the ability to validate multiple audiences or client IDs. The NodeJS example provided invokes `Collections.singletonList`, which only accepts a single item, so this is not accepting multiple audiences.

[2021-09-13 17:25] nathanramli commented on #1221
Basically I want to check whether the given token is come from one of my client IDs.

[2021-09-14 02:49] nathanramli commented on #1221
When there's an error because of the audience doesn't matches when I call the validate function, I call again the validate function but with different audience.

[2021-09-14 11:14] nathanramli commented on #1221
I think I can help to make this one

[2021-09-14 14:37] codyoss commented on #1221
@nathanramli I don't think this is a use-case we really support right now. I am not sure how well it works in environments like Cloud Run if the token could contain multiple audiences, did some testing and did not seem to work.

If the aud was a list value though that is comma separated I assume you could pass in a concatenated string into the existing function, although I did not test this.

[2021-09-14 15:14] nathanramli commented on #1221
@codyoss The token only contains one audience. And that's not the problem I'm talking about.

In my case, I only have one backend for authenticating users, but I have multiple clients such as Mobile and Web. The problem is my clients have different client_id (aud). And I need to check If the token contain one of my aud.

With current function I need to call validate function multiple times until t

[2021-09-14 19:53] codyoss commented on #1182
Closing this issue as a duplicate for now. I will update the linked issue should I get an update.

[2021-09-14 19:56] codyoss commented on #1197
Closing this issue as I don't think there is anything to do in this repo for now. Should a feature get added to the API it will get picked up here.

[2021-09-14 19:56] #1197 closed

[2021-09-14 19:59] codyoss commented on #1192
If you have filed a bug on their issue tracker please feel free to link it here so I can follow as well, I might be able to help nudge things. I don't think there is anything to do from this repos stand point for now though so I am closing this issue. I hope you get a response back soon!

[2021-09-14 19:59] #1192 closed

[2021-09-17 16:45] ryanhos opened #1229 "Storage Transfer Service List Transfer Operations Call Malformed URL"
#### Environment details

  - Programming language:  Golang
  - OS: Mac OS
  - Language runtime version: 1.15.3 darwin/amd64
  - Package version: Present in commit `5c56ac8`

#### Steps to reproduce

  1. Setup GCP Project, enable Storage Transfer Service API
  2. Configure Application Default Credentials, set quota project to above
  3.
[code]
  4. The Do() call results in a 404 and HTML response

[2021-09-17 17:31] codyoss commented on #1229
I am not familiar with this API but you are right, something seems not right here. It looks like our path element resolver is confused by the empty string. Still, aside from that I tried to vendor the code and remove that `/{+name}` bit and it still did not work. I am not currently sure the correct way to call this API, let me do some more research and get back to you.

[2021-09-17 17:37] fe-ryan commented on #1229
Wow, thanks for the prompt response.

Check out the way that the TransferJobsListCall does it: https://github.com/googleapis/google-api-go-client/blob/master/storagetransfer/v1/storagetransfer-gen.go#L2214

The `List()` doesn't have a name argument and the `TransferJobsListCall` struct doesn't have a `name` field.  https://github.com/googleapis/google-api-go-client/blob/master/storagetransfer/v1/s

[2021-09-17 17:44] codyoss commented on #1229
I will file a bug to get the docs updated but if you pass in "transferOperations" for the name field the request should work. I believe that is now the only acceptable value.

[2021-09-17 17:52] codyoss commented on #1229
I filed an internal bug b/200293347 to track updating the docs. Thanks for bring this to our attention!

[2021-09-17 17:52] #1229 closed

[2021-09-18 10:41] vuducnghia opened #1230 "How do we find service "mybusiness.googleapis.com" in repo ?"
Thanks for stopping by to let us know something could be better!

I read this [post](https://developers.google.com/my-business/reference/accountmanagement/rest) and find services:

- google.golang.org/api/mybusinessaccountmanagement/v1
- google.golang.org/api/mybusinessbusinessinformation/v1

but don't find a similar service as [google.golang.org/api/mybusiness/v4.9](https://developers.google.com/

[2021-09-20 14:30] trumpetx commented on #461
This is a terrible resolution - docs are still awful
Is the argument for a *File a local file?  Remote File Location?  The api docs offer options for the new name of the file which would be copied next to the old one.  Is that consistent here?  It'd be one thing if the Go API mirrored the external API, but it does not.

[2021-09-20 14:48] codyoss commented on #1230
Hey @vuducnghia this repository is auto-generated from apis on the [public discover document listing](https://www.googleapis.com/discovery/v1/apis). If you would like to see this API added please reach out to the My Business API team directly from one of the links provided on their [support page](https://developers.google.com/my-business/content/support). Once they publish their API spec to that l

[2021-09-20 14:48] #1230 closed

[2021-09-21 17:24] #1182 closed

[2021-09-21 17:31] codyoss commented on #1221
@nathanramli In this case I would suggest passing an empty string into the aud. This will skip aud validation done by the library. Then you can use the Payload returned to see if your client_id is contained in the Aud field. Hope that helps!

[2021-09-21 17:31] #1221 closed

[2021-09-23 15:27] alexzimmer96 opened #1237 "run: Fetching single service returns 404"
It seems that working on a single Cloud Run Service is not possible. The example code fails with an error 404. Calling the API directly, at e.g. `https://europe-west1-run.googleapis.com/apis/serving.knative.dev/v1/namespaces/SOME-PROJECT-ID-OR-NAME/services/MY-SERVICE-NAME` works as expected.

This error also appears when trying to modify this object using the `svc.Namespaces.Services.ReplaceServi

[2021-09-23 15:52] codyoss commented on #1237
Without trying this code out I assume the issue is with regional endpoints. Looking at the generated client it uses the non-regional endpoint by default which works for some requests but not all.

https://github.com/googleapis/google-api-go-client/blob/57b174424d11c0dd2bb736155bd756c1a52135ff/run/v1/run-gen.go#L77

As you said calling the API directly works, but there you are providing a regional

[2021-09-24 06:26] alexzimmer96 commented on #1237
Thanks, this did the trick.
I think this ticket can be closed.

[2021-09-24 06:26] #1237 closed

[2021-09-26 08:06] saxon-milton opened #1240 "liveBroadcasts.control method not available"
Hello,
I would like to know what calls to perform to make a slate image appear in the middle of a livestream. Reading the API documentation [here](https://developers.google.com/youtube/v3/live/getting-started), it's suggested that the "control" operation is used to achieve this, however, this operation is not supported by the API in the latest version. I did find this functionality in a prior vers

[2021-09-27 14:25] codyoss commented on #1240
Hey @saxon-milton, I am not too familiar with this API. I suggest reaching out with one of the items listed on the [Live Streaming API Support Page](https://developers.google.com/youtube/v3/live/support).

[2021-09-27 14:25] #1240 closed

[2021-09-28 03:44] richzw opened #1243 "androidpublisher: NewPurchasesProductsService.Get for notification token return"
Thanks for stopping by to ask us a question! Please make sure to include:
- What you're trying to do
- What code you've already tried
- Any error messages you're getting

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

[2021-09-29 01:16] ojyaki opened #1245 "gensupport.SendRequest missing "req.Close = true""
#### Environment details

  - Programming language: golang
  - OS: unix
  - Language runtime version:
  - Package version: 0.58

#### Steps to reproduce

  1. instantiate gmail.NewService
  2.  Call the service, for example use svc.Users.Messages.List.
  3. check open connections via lsof, you'd see open https connection
  4. put step 2 in for loop, you'll see connections leaking

In Do() function

[2021-09-29 15:06] codyoss commented on #1245
I think we actually want to not close the connections. If we set this field we would prevent reuse of TCP connections between requests which I think would slow things down. I am not sure how you are using the client, but clients are thread safe and should be shared if possible. When you are done using a client(service) call it's Close method. This will close all of the underlying connections. Fail

[2021-09-29 15:50] ojyaki commented on #1245
Thank you for your reply. I take you're recommending the use of WithHTTPClient. I'm using options with WithTokenSource to supply the token obtained through JWTConfigFromJSON. The use of WithHTTPClient overrides the token and auth would fail to proceed. If there's a way to keep the existing options and still add custom transport, then that would work. By the way, I can't find reference to the Close

[2021-09-29 16:02] codyoss commented on #1245
You can make use of [NewTransport](https://pkg.go.dev/google.golang.org/api/transport/http#NewTransport) to create an authenticated transport and then wrap that into the provided HTTP client.

This is my bad. I misspoke and was referring to a a patten used in our other Go client libraries. Although it seems like adding a close function to the service could be a useful addition in cases like these.

[2021-09-29 19:17] ojyaki commented on #1245
Thank you very much for your guidance. NewTransport worked as I'd need. Will be looking forward for the Close function too :) Please go ahead and close this issue.

[2021-09-29 19:17] #1245 closed

[2021-10-05 06:14] Breakerzoe1 opened #1253 "google.golang.org/api"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E

[2021-10-07 09:01] google-cloud-policy-bot opened #1255 "[Policy Bot] found one or more issues with this repository."
[Policy Bot](https://github.com/googleapis/repo-automation-bots/tree/main/packages/policy#policy-bot) found one or more issues with this repository.
- [ ] Default branch is 'main'
- [x] Branch protection is enabled
- [x] Renovate bot is enabled
- [x] Merge commits disabled
- [x] There is a CODEOWNERS file
- [x] There is a valid LICENSE.md
- [x] There is a CODE_OF_CONDUCT.md
- [x] There is a CONTRI

[2021-10-12 16:54] #1255 closed, assigned to codyoss

[2021-10-12 18:41] manjdk opened #1257 "Firebase Remote Config: add parameterGroups response parameter"
At this moment firebaseremoteconfig api respons does not include `parameterGroups` that is exposed on firebase.
Problem: if configs are in parameter directory - all good, but if those configs are added to groups under parameter tab - they can not be retrieved with this api.

[2021-10-12 19:29] #1257 closed

[2021-10-14 02:18] tritone opened #1258 "go.mod: unfreeze dependencies"
These dependencies were frozen due to our need to support back to Go 1.11 (#1016). Once we drop pre-Go 1.14 support, we should unfreeze them to pick up recent bug fixes and features.

- golang.org/x/net dependency
- gRPC

Same should happen in golang-samples.

[2021-10-19 13:13] ajenpan opened #1259 "admob: What's wrong with my code?"
env :
go version go1.17.1 windows/amd64

go.mod:

[code]

[code]

and i got the result:
[code]

[2021-10-19 15:01] #1259 closed, assigned to codyoss

[2021-10-19 21:57] #837 closed

[2021-10-20 15:45] nevins-b opened #1261 "admin/directory: support for v1.1beta1 client"
Would it be possible to add support for the admin.directory v1.1beta version so we could use the chromebrowers apis? https://support.google.com/chrome/a/answer/9681204#retrieve_a_chrome_browser_device

[2021-10-20 16:45] #1261 closed, assigned to codyoss

[2021-10-22 07:12] dev2021-ctrl opened #1264 "Google cloud identity api to get company owned devices list"
I am trying to get a company owned devices via https://cloud.google.com/identity/docs/reference/rest/v1/devices/list using golang. I have tried using a service account and doing domain wide delegation and even adding scopes . It seems that the below code always giving empty values(no devices list).

Sample golang code that I used:
[code]
Pls advise. Stuck badly Ref code I used is https://github.co

[2021-10-23 15:48] lucaspouzac opened #1267 "Add Shared Contact API support"
Hello,

Actually, [Domain Shared Contacts API](https://developers.google.com/admin-sdk/domain-shared-contacts) is not supported by the google-api-go-client.

Maybe, could you add this support ?

Regards.

[2021-10-25 01:25] AkoWu101 opened #1269 "indexing: support batch request for indexing api"
Will indexing api support batch request?

[2021-10-26 14:54] #1269 closed, assigned to codyoss

[2021-10-26 15:23] #1267 closed, assigned to codyoss

[2021-10-27 16:54] #1264 closed, assigned to codyoss

[2021-11-03 10:03] crispgm commented on #111
This works great for me. Thanks very much.

[2021-11-03 19:15] tamird opened #1283 "v0.60.0 pulls in 300kLOC of additional dependencies"
https://github.com/googleapis/google-api-go-client/commit/aa0f0be70f2d6003c6d25b0852ba754bc12cba34 added a dependency on google.golang.org/grpc/xds which pulls in a [lot of code](https://gist.githubusercontent.com/tamird/56aff923e2b061546dc59bc7fec855cf/raw/4b84d173f9153d47fab555d35fa423b8e7edbf14/gistfile1.txt).

It should be possible to upgrade past v0.60.0 without taking on all this bloat.

[2021-11-03 19:20] codyoss commented on #1283
@mohanli-ml is there anything we can do here to lower the complexity of dependencies?

[2021-11-03 19:40] codyoss commented on #1283
Can this resolver registration be moved to the site of an actual client?, or even better the program making use of our client? It seems like the bulk of the deps are related to pulling in a lot of the envoy project.

[2021-11-03 19:43] mohanli-ml commented on #1283
@menghanl @dfawley Any suggestions here?

[2021-11-03 20:14] menghanl commented on #1283
This import `_ "google.golang.org/grpc/xds/googledirectpath"` adds the extra dependencies.
(https://github.com/googleapis/google-api-go-client/commit/aa0f0be70f2d6003c6d25b0852ba754bc12cba34#diff-8a842d9ae06c25d12d6cf1e82d5057be6f81be7a2d75f82cc45aa28207f13023R16)

Direct path depends on xDS. To enable direct path, the library will need to pull in the xDS dependencies (including the xDS protos fro

[2021-11-04 18:09] mohanli-ml commented on #1283
Also if the decision is to move the xds dependency from the google-api-go-client repo to service repo (like bigtable-go, spanner-go), I want to know if we should also do this for other languages?

[2021-11-04 21:42] codyoss commented on #1283
@mohanli-ml I think that it should at least be moved there. But I wonder if a better pattern would be to, through docs, tell users to add the registration import themselves. Then all users of spanner and bigtable don't have to pay the cost of these deps. I am not sure what the semantics look like in other languages, but if something similar could be done there I don't think that would be a bad ide

[2021-11-04 22:03] dfawley commented on #1283
It seems a little strange to me that client libraries would have code that requires an import (using the "google-c2p" resolver scheme), but doesn't actually do the import itself.  And, it doesn't detect this scenario and fall back, either.

Maybe, instead of (or in addition to?) checking the gRPC version, it should look up the resolver and use it only if it is found?  I.e. `[grpc/]resolver.Get("go

[2021-11-05 04:58] mohanli-ml commented on #1283
I will have another PR to remove the google-c2p dependence in google-api-go-client after the PR to add them to bigtable/spanner gets merged.

[2021-11-16 03:39] layla004 opened #1298 "Why couldn't I find the function realated to workspace proposal in the tagmanager golang library ?"
Hi, I am using Google Tag Manager 360 and want to use Request Approval feature REST API.
<img width="644" alt="Screen Shot 2021-11-15 at 16 24 06" src="https://user-images.githubusercontent.com/92920267/141890568-a8679dfd-9dc6-407a-924f-d0b4749e60ea.png">

I found this documentation [https://developers.google.cn/tag-platform/tag-manager/api/v2/reference/accounts/containers/workspaces/getProposal](

[2021-11-16 16:03] codyoss commented on #1298
Hey, these clients in this repo are auto-generated based off of public discovery doc spec. It a method does not exist in the client it means it is not published in the spec. Maybe this is a beta endpoint? I think a better place to request/ask this is the official support channels for that API: https://developers.google.com/tag-platform/support. Hope that helps.

[2021-11-16 16:03] #1298 closed

[2021-11-19 01:32] Li-ReDBox opened #1303 "Add region filter to Get builds function"
Could we have the Cloud Build client to support the feature like this with gcloud:

gcloud builds list --region a_region

Currently, it only takes project_id and build_id: https://github.com/googleapis/google-api-go-client/blob/main/cloudbuild/v1/cloudbuild-gen.go#L4492

Thanks.

[2021-11-19 01:40] Li-ReDBox commented on #1303
Or I should use Get(name) function instead with some helper function to construct a name?
https://github.com/googleapis/google-api-go-client/blob/main/cloudbuild/v1/cloudbuild-gen.go#L6318
Thanks

[2021-11-19 04:41] blackshipsail opened #1304 "/title/"
{optional}

[2021-11-19 08:12] jostyee commented on #468
@codyoss any update?

[2021-11-19 15:37] codyoss commented on #468
@jostyee, Just checked and not much to share. I believe the issue is due to the fact this is actually a streaming API. I will try to post back if I hear more.

[2021-11-19 15:43] #1304 closed

[2021-11-19 15:50] codyoss commented on #1303
Hey @Li-ReDBox, these clients are autogenerated from a public discovery doc spec. If you would like changes made to the API I suggest you request them from the product team [here](https://cloud.google.com/build/docs/support). Closing this issue as there are not changes to be made here. Should a new feature land this client will be automatically updated.

[2021-11-19 15:50] #1303 closed

[2021-11-26 21:16] agusterodin opened #1315 "idtoken: provide option to validate token despite being expired"
**Is your feature request related to a problem? Please describe.**
I am implementing a refresh token endpoint. In order to decide what refresh token I should give out I first want to check the attached bearer token. I want to determine whether the bearer token is valid (properly signed but doesn't matter if expired or not) and want to be able to access the token's claims (particularly sub so I kno

[2021-11-29 06:41] wacul-yamada opened #1319 "Why does `analytics` package access to the host `analytics.googleapis.com`?"
Thanks for stopping by to ask us a question! Please make sure to include:
- What you're trying to do
    - Update `google.golang.org/api` from `v0.30.0` to `v0.44.0`
- What code you've already tried
    - Using `analytics` packages to access Analytics management API
    - Access through my own proxy server.
- Any error messages you're getting
    - quotaExceeded

Details:

We are using our own pro

[2021-11-29 16:02] codyoss commented on #1315
Hey @agusterodin thanks for the feature request. I don't believe any of our language libraries allow this kind of flexibility around omit to validate the expiry of a token as it is critical to make sure the token is active to prevent misuse of old tokens. I will do some double checking but I think it is likely we will not move forward with this proposal at this time. In the meantime I would just v

[2021-11-29 16:08] codyoss commented on #1319
Hey @wacul-yamada I assume this is likely correct, but I am not an expert on this API. These clients are auto-generated from the public discovery doc listing for the API. I think it might be best to reach out from one of the links on the [support page for the product](https://developers.google.com/analytics/devguides/config/mgmt/v3/help) as the project team will be able to better answer your quest

[2021-11-29 16:08] #1319 closed

[2021-11-29 16:25] agusterodin commented on #1315
Understandable. Much appreciated!

[2021-11-29 16:47] codyoss opened #1321 "add flakybot for catching test failures."

[2021-11-30 23:30] agusterodin commented on #1315
Out of curiosity, what is your official suggestion on how to handle refresh token endpoint logic (checking whether or not previous token was valid)?

Also I agree with you that maximum security should always be there by default. Definitely if the user didn't supply a boolean to skip expiry check I would default to enforcing expiry.

Will vendor for now. Hope that this sort of thing makes its way t

[2021-12-03 07:54] martinscholz83 opened #1328 "chat: Invalid project number"
When trying to create a message with chat API like this

[code]
I get `Error 404: Invalid project number., notFound`.

Something I missed here, because there is no place to set the project number.

[2021-12-03 19:55] codyoss commented on #1328
Hey, I am not an expert on this API, but perhaps there is some backend linking that needs to be done? I found this SO that seems somewhat relevant: https://stackoverflow.com/questions/63495912/send-message-to-google-chat-using-the-rest-api-google-example-not-working-in-20

It mentions configuring a project number.

These clients are autogenerated from a public spec, a better place to ask a questio

[2021-12-03 19:55] #1328 closed

[2021-12-06 01:02] agusterodin commented on #1315
Hey, I tried vendoring the library (https://github.com/agusterodin/google-api-go-client) by commenting out the offending lines.

Unfortunately when I run `go get github.com/agusterodin/google-api-go-client` the terminal just hangs indefinitely. I have a suspicion it is related to this library being so big or having so much history.

My second attempt involved stripping the repository down to just

[2021-12-06 15:59] codyoss commented on #1315
The internal folders are where a lot of auth layer stuff happens. You are getting the error because you can't call code from another projects internal folder. You would need to have that copied over as well.

[2021-12-08 17:25] khuong507 opened #1340 "healthcare: HL7v2 Response Messages are not read correctly on the v1alph2 client"
#### Environment details

  - Programming language: Go
  - OS: Darwin
  - Language runtime version: 1.16
  - Package version: v0.61.0

#### Steps to reproduce

1. Create a v1alpha2 `healthcareService` and use it to create a `ProjectsLocationsDatasetsHl7V2StoresService`.
2. Make a list HL7v2 Messages call
[code]
resp.Messages will be null due to the struct tag not matching the api response as seen

[2021-12-09 15:58] codyoss commented on #1340
@khuong507 Thanks for reporting this issue. It seems like this alpha client should be pulled. I believe the only clients for healthcare that seem to be getting updates right now are v1beta1 and v1. Can you use one of those clients? Looking [here](https://github.com/googleapis/google-api-go-client/tree/main/healthcare) it appears the alphas have not been updated in two years do to their public spec

[2021-12-09 17:54] khuong507 commented on #1340
I can switch to one of the other clients thank you for following up.

[2021-12-09 17:54] #1340 closed

[2021-12-21 03:38] lhchavez opened #1358 "internal/gensupport: SendRequestWithRetry sometimes spuriously makes requests when its context was canceled"
#### Environment details

  - Programming language: Go (v1.7+)
  - OS: Any
  - Language runtime version: v1.7+
  - Package version: v0.61.0

#### Steps to reproduce

  1. Call `SendRequestWithRetry` with a canceled context
  2. The underlying network call _sometimes_ still happens. This is due to Go legally being allowed to visit either of the branches in the following snippet of code if both are

[2021-12-21 19:09] #1358 closed

[2021-12-24 16:14] andrey-helldar opened #1367 "How to get the release version of the application from Google Play Store?"
I need to get the release version of my application, but I cannot do that because `googleapis/google-api-go-client` does not contain any available methods.

Perhaps I need to take this information from "edits", but the problem is that these methods require an `editId`, which I don't know where to get it, and other methods do not return it.

[code]

[code]

[2021-12-24 16:22] andrey-helldar commented on #1367
[code]

Error:

[code]

[2021-12-28 15:38] codyoss commented on #1367
Hey @andrey-helldar from the code snippets you provided it looks like you are writing PHP and not Go. If that is the case I think you are looking for this repo: https://github.com/googleapis/google-api-php-client

[2021-12-28 15:38] #1367 closed

[2021-12-28 21:04] andrey-helldar commented on #1367
Oh, sorry. I got confused)

[2022-01-03 02:32] Arc-Jung opened #1380 "GCP PubSub Client cause memory leak."
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Is this a client library issue or a product issue? We will only be able to assist with issues that pertain to the behaviors

[2022-01-04 17:12] codyoss commented on #1380
Transferring this issue to the correct repo.

[2022-01-04 22:18] travigd commented on #296
Other unfortunate side effects of this package being so big (7MB in source code alone) is that intellisense is super sluggish (multiple seconds to navigate from a function call to it's definition via Cmd+Click) and otherwise trivial binaries incur a 10MB penalty for using this library, even if only using a small subset thereof.

[2022-01-10 17:40] codyoss commented on #1283
This should have been addressed in a recent release. Closing.

[2022-01-10 17:40] #1283 closed

[2022-01-12 11:28] j0hnsmith opened #1393 "idtoken: Can't use impersonated service account token"
#### Environment details

  - Programming language: Go
  - OS: all
  - Language runtime version: all
  - Package version: v0.65.0

#### Steps to reproduce

  1. `authClient, err := idtoken.NewClient(ctx, endpoint)`

## Problem
Trying to use an `impersonated_service_account` token doesn't work because _only_ tokens with type `service_account` are supported.

https://github.com/googleapis/google-api

[2022-01-12 15:47] codyoss commented on #1393
Are you trying to create an idtoken from an impersonated service account? If so I would recommend this method in the impersonate package: [IDTokenSource](https://pkg.go.dev/google.golang.org/api/impersonate#IDTokenSource).

[2022-01-12 16:09] j0hnsmith commented on #1393
No, I want an "HTTP Client that automatically adds an ID token to each request via an Authorization header". I know there are other token source implementations however `idtoken.NewClient()` explicitly does't support `option.WithTokenSource` (see below).

https://github.com/googleapis/google-api-go-client/blob/c890ff5f4b6246b4f87de68bc2f1fe8f0b3c68f9/idtoken/idtoken.go#L28-L48

The exact functiona

[2022-01-12 16:42] nickgooding opened #1395 "gRPC DialSettings validation ignores default scopes"
#### Environment details

  - Programming language: Golang
  - OS: All
  - Language runtime version: 1.17
  - Package version: >= v0.32.0

#### Steps to reproduce

Here is a test tha
  1. Define some `ClientOptions` with `ImpersonateCredentials` and `WithDefaultScopes`
  2. Call the `grpc.Dial` method, which will run some validation on the options
Expected: The settings pass validation
Actual: The

[2022-01-12 21:44] codyoss commented on #1395
Hey, a couple of things here.

1. The `internaloption` package is not meant to be used in non-generated code. WithScopes should work fine for your case. Because this package is not meant for external consumption we make assumptions about how it is used.
2. The `ImpersonateCredentials` option has been replaced and upgraded. Please checkout https://pkg.go.dev/google.golang.org/api/impersonate. You s

[2022-01-12 23:05] nickgooding commented on #1395
Thanks for the quick reply!

Just to clarify, we are not using anything from the `internaloption` package directly. I was just trying to provide a succinct reproduction. We are simply trying to create various clients from `cloud.google.com/go`, which use `internaloption.WithDefaultScopes` instead of `option.WithScopes` since v0.74.0. Unfortunately this means we fall foul of the DialSettings valida

[2022-01-12 23:08] codyoss commented on #1395
Ah, thanks for the clarification. Hope the impersonate package works for ya! Let me know if not and I can write up a full example for ya.

[2022-01-14 13:49] j0hnsmith commented on #1393
@codyoss Hi, I see you changed the label to `question`, I'm confused, at the least this is a feature request, no?

If you think that `idtoken.NewClient(ctx, endpoint)` shouldn't work with an impersonated service account can you give a reason why?

[2022-01-18 15:21] Breakerzoe1 opened #1401 "Microsoft Myanmar"
https://github.com/github/docs/edit/main/content/search-github/searching-on-github/searching-issues-and-pull-requests.md

[2022-01-18 15:35] #1401 closed

[2022-01-18 19:53] Seryaltuncer opened #1402 "go search console panic error"
Thanks for stopping by to let us know something could be better!

#### Environment details

  - Programming language: Go 1.17.5
  - OS: MacOS BigSur 11.6.2
  - Language runtime version: -
  - Package version: v0.63

#### Steps to reproduce
  Maybe error gets from client and request side Needs checks.
  1. Example Code Block
[code]
  2. When I run the code I am getting this error
[code]
Making sure

[2022-01-18 20:38] codyoss commented on #1402
Hey @Seryaltuncer what line is causing the panic? When you are checking the error on the request I would log.Fatal there. If you have an error and keep processing data the for loop line will indeed panic.

[2022-01-21 20:36] muratmirgun commented on #1402
@codyoss The error occurs during the request throw in the client in the same way that I am experiencing the problem, if you want, I can throw the error through debug.

[2022-01-21 22:11] codyoss commented on #1402
Can you please provide:
- a full minimal example showing how you initialize the client too
- is there a line number of the code called in the panic trace?
- Any extra info you have would be great so I can try to reproduce

[2022-01-22 10:40] muratmirgun commented on #1402
My specs:
Go Version: 1.17.5
OS: MacOS M1 12.1 Monterey

### I debug the code on Goland and panics goes from  this function.
https://github.com/googleapis/google-api-go-client/blob/d972e9ab6fb1ad74573305f1f0e31c7a9f588727/internal/gensupport/send.go#L21

### The Error is :
[code]

## Check this code for minimal for client get sites example:
[code]

[2022-01-24 15:17] codyoss commented on #1402
I copy pasted that exact code /w v0.63.0 and it worked for me. The only difference I can think of is something is not quite right with your pathing to the service account file. The static trace stems from the auth layer, so maybe something is not initialized quite right there?

[2022-01-26 13:47] fox-batman121 opened #1409 "Buffered upload from S3 file to youtube"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

**Is your feature request related to a problem? Please describe.**
We are trying to upload heavy videos to youtube. We are f

[2022-01-26 14:49] codyoss commented on #1409
Hey, these libraries are currently considered in maintenance mode per the [README](https://github.com/googleapis/google-api-go-client#status). I don't know what the PHP code is doing but I assume it is doing a multi-part/multi-request type flow similar to what we do with our storage client. You can always use these libraries to create an authenticated transport with [NewClient](https://pkg.go.dev/

[2022-01-26 14:49] #1409 closed

[2022-01-28 17:31] codyoss commented on #1402
I am going to close this issue out as I am fairly confident this is not an issue in the generated client here. Like I said in the comment above I think the issue might be resolving your SA file.

[2022-01-28 17:31] #1402 closed

[2022-01-31 05:39] rogerhub commented on #685
I keep running into HTTP 502 errors on GCS writes, and it took an embarrasingly long time to figure out this was the root cause. The hardcoded 32 second timeout means that @tritone's recent work on improving GCS retries in googleapis/google-cloud-go#5210 is basically useless for me.

On my peasant residential internet connection, the default chunk size (16MiB) takes longer than 32 seconds to uploa

[2022-02-01 16:26] tritone commented on #685
Thanks @rogerhub for the report, and apologies for dropping the ball on this issue earlier. I have a PR up at #1414 to resolve; this would have to be exposed on the manual client via a field on the `Writer`. Feel free to take a look!

[2022-02-01 19:47] #685 closed

[2022-02-02 07:02] rogerhub commented on #685
Thanks for the quick action on this @tritone!

[2022-02-04 17:56] #948 closed

[2022-02-04 17:58] codyoss commented on #1395
Closing this issue as I have not heard back that there are still issues here. Please feel free to reopen if you are still having issues.

[2022-02-04 17:58] #1395 closed

[2022-02-04 22:10] Mansalol commented on #1315
Jn

[2022-02-04 22:11] Mansalol opened #1421 "Jn"
Jn

__Originally posted by @Mansalol in https://github.com/googleapis/google-api-go-client/issues/1315#issuecomment-1030390549__

[2022-02-04 22:39] #1421 closed

[2022-02-07 16:46] gilsegment opened #1424 "bigquery: How to choose ideal chunk size when uploading to BigQuery using load jobs"
I am using this: https://github.com/googleapis/google-api-go-client/blob/main/bigquery/v2/bigquery-gen.go#L9891

To upload to BigQuery using load jobs. In the options I can specify chunk size.

Is there an ideal number for the chunk size, for me to choose? the files sizes I am using are between 1MB to 100MB

[2022-02-07 16:58] codyoss commented on #1424
@shollyman Do we have any guidance here?

[2022-02-07 22:36] shollyman commented on #1424
We don't have any product specific guidance, this is mostly a network consideration.

That said, under the hood, BigQuery and Cloud Storage are using similar upload mechanism(s).

I see storage has some chunksize guidance for their [veneer writer](https://pkg.go.dev/cloud.google.com/go/storage#Writer)
which documents guidance here: https://cloud.google.com/storage/docs/uploads-downloads#size

Hope

[2022-02-07 22:39] codyoss commented on #1424
Thanks @shollyman. Closing the issue.

[2022-02-07 22:39] #1424 closed

[2022-02-09 12:38] yoshi-automation opened #1431 "Synthesis failed for all"
Hello! Autosynth couldn't regenerate all. :broken_heart:

Please investigate and fix this issue within 5 business days.  While it remains broken,
this library cannot be updated with changes to the all API, and the library grows
stale.

See https://github.com/googleapis/synthtool/blob/master/autosynth/TroubleShooting.md
for trouble shooting tips.

Here's the output from running `synth.py`:

[code]

[2022-02-14 18:08] emarcotte opened #1442 "How do you set the content type for an Apigee Organization API Create request?"
- What you're trying to do:

Create an API revision from a Zip file using Go code.

- What code you've already tried

I have bundled up a zip file, and try to upload it with code along these lines:

[code]

I see this line: https://code.googlesource.com/google-api-go-client/+/refs/heads/master/apigee/v1/apigee-gen.go#11470 might be overriding any content type I set however. Is there some other tri

[2022-02-14 22:02] codyoss commented on #1442
I am not an expert /w with API. I would suggest reaching out on one of the links on the [Apigee Support page](https://cloud.google.com/apigee/docs/support). I do know that some of our other APIs that accept a string of data need to be base64 url encoded for it to properly work. Maybe that needs to be done for the data field here. Hope that helps.

[2022-02-14 22:02] #1442 closed

[2022-02-16 10:59] TimurSadykov opened #1445 "Implement Retryable interface for token endpoint requests"
Currently, clients do not have a good way to distinguish retryable errors and implement custom retry strategies. Sometimes this causes infinite retries like here: https://github.com/nwbirnie/gapic-oauth-invalid-hangs. Please prioritize the fix if similar infinite retry is repro here as well. Per [this](https://github.com/golang/oauth2/issues/264) it seems like the case.

More details in the doc: g

[2022-02-21 04:20] kp52r11 opened #1452 "admin.New(ctx) deprecated for admin.NewService()"
Hi,
I have been using below feature successfully for few month but now it is broken.  It appears that admin.New() is deprecated.  I am not a google api expert.  I don't quite understand how to use admin.NewService().

Below function was called from my golang main() routine.  It worked fine.  Can someone help as to what exactly needs to be fixed?
I looked at the comments on top of this file (https:

[2022-02-22 15:53] codyoss commented on #1452
Hey,

If you were successfully using the following in the past:

[code]

You could now do something like:

[code]

Hope that helps.

[2022-02-22 15:53] #1452 closed

[2022-02-22 17:41] codyoss commented on #1258
This was done within the last two weeks. Closing.

[2022-02-22 17:41] #1258 closed

[2022-02-22 17:42] codyoss commented on #1431
no longer use this to regen. Closing.

[2022-02-22 17:42] #1431 closed

[2022-02-25 06:46] qatarstreets56 opened #1456 "Google api"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E

[2022-02-25 15:36] #1456 closed

[2022-02-28 07:34] sabriboughanmi opened #1459 "inAppProduct.ManagedProductTaxesAndComplianceSettings.TaxRateInfoByRegionCode Always null"
hello,

im using InAppProduct.ManagedProductTaxesAndComplianceSettings.TaxRateInfoByRegionCode to get taxes by region as my project requires, but it is always returned as null.
At first I thought it was a permission issue, so I added billing and owner.
now I'm starting to think of it as a bug.

Thank you.

[2022-02-28 07:36] sabriboughanmi opened #1460 "Access to Pricing Templates"
hello,

is it possible to add API for Google play Pricing Templates access ?

Thank you!

[2022-02-28 15:30] codyoss commented on #1460
Hey, @sabriboughanmi the clients that are generated in this project are the ones that have public discovery docs published. If an API does not publish this spec, we do not generate it. If you would like to see another API added I would try to reach out the the support page for that API.

[2022-02-28 15:33] codyoss commented on #1459
Hey @sabriboughanmi I am not too familiar with this API. If you have questions related to a specific API I would suggest reaching out to that APIs support page for help. Hope that helps.

[2022-02-28 15:33] #1459 closed

[2022-03-16 00:50] worrells-best opened #1479 "Play Integrity API support"
I'm requesting support for [Play Integrity API](https://developer.android.com/google/play/integrity/overview). The API was recently released to the public, but it is explicitly excluded in google-api-go-generator/gen.go:

[code]

[2022-03-17 13:44] andig opened #1484 "identitytoolkit: howto refresh STS id token?"
I'm using identitytoolkit to retrieve ID tokens for use with an external API:

[code]

That works fine and returns id+refresh token.

It's not clear how to use the refresh token to update the id token though. I'm stuck which api to use, ideally to create an `oauth2.TokenSource`?

[2022-03-17 15:38] codyoss commented on #1484
I am not too familiar with this API, but given it gives back a refresh token maybe you can make sure of [Config.TokenSource](https://pkg.go.dev/golang.org/x/oauth2#Config.TokenSource)? Another option would be to make your own TokenSource that you wrap in a [ReuseTokenSource](https://pkg.go.dev/golang.org/x/oauth2#ReuseTokenSource). You could just keep calling the API when you need to refresh I thi

[2022-03-17 15:38] #1484 closed

[2022-03-17 18:53] sindysenorita opened #1485 "Between idtoken and oauth2 for openning some public token claims?"
I am building a simple backend service that read user's email from google's OAuth token. To do the job, I've been using idtoken lib (https://pkg.go.dev/google.golang.org/api/idtoken). It works just fine.
Recently I noticed that there is another library that provides similar functions: OAuth2 (https://pkg.go.dev/google.golang.org/api/oauth2/v2).

From my observation on the pkg doc (haven't done han

[2022-03-17 19:50] codyoss commented on #1485
For any work with idtoken, I would keep using that package that you are using. oauth2 is broader and deals /w AccessTokens too, most people will never need to use this library directly.

If you are not customizing the httpClient used by validator I would just use the connivence function instead of creating your own. Hope that helps!

[2022-03-17 19:50] #1485 closed

[2022-03-24 22:52] jadiaheno commented on #179
Hello from 2022! Will this ever exist?

[2022-03-29 15:29] jaronoff97 opened #1493 "Remove Opencensus in favor of opentelemetry?"
Hello! I was wondering if there's been any effort or if it would be welcome upstream to remove opencensus as a dependency? Opencensus has been merged with opentracing to create opentelemetry, and opencensus will no longer be receiving security updates soon.

If it's welcome, I'd be able to migrate the opentracing usages to otel!

[2022-03-29 16:45] codyoss commented on #1493
We do plan to support otel in the future, but I don't have a timeline on when this will be. We will need to make sure we don't break existing workflows that might expect opencensus traces etc. Also some of our libraries have needs for metics which is still not supported in the Go client, at least it is not stable.

There is also an issue that our libraries seem to provide more support for older ru

[2022-03-30 18:29] jaronoff97 commented on #1493
great, thank you for letting me know!

[2022-03-31 21:38] codyoss commented on #1445
I did verify that there is no infinite hang in the Go clients.

[2022-04-01 12:52] matte29 opened #1499 "Implement pulling labels field for static ip addresses."
Hello I was wondering if it would be possible to the labels field from static ip addresses to be pulled.  The structure it would be under is the compute/v1 under the struct Address.  Static ip addresses do have a labels field and most other services you are able to pull the labels field.  So for being able to grab the static ip address related to a label would be a nice feature I believe.
![Addres

[2022-04-01 13:52] codyoss commented on #1499
Hey @matte29 This api is generated from a public discovery doc spec. If you would like changes to the APIs/models I suggest you reach out on one of the methods listed on the [Compute Engine API Support Page](https://cloud.google.com/compute/docs/getting-support). Closing as there is nothing we can do at this layer. Should the API change the client will get automatically updated.

[2022-04-01 13:52] #1499 closed

[2022-04-05 09:13] uditsrn28 opened #1502 "Error 401: Request had invalid authentication credentials but working with python library"
#### Environment details

  - Programming language: Golang
  - OS: MacOS
  - Language runtime version: 1.18
  - Package version: .72

#### Steps to reproduce

  1. Used the sample code - https://developers.google.com/sheets/api/quickstart/go#step_3_run_the_sample
  2. Used the credential and token file from my account.
  3. Execute the file

Got this error
`googleapi: Error 401: Request had invali

[2022-04-05 17:46] uditsrn28 commented on #1502
When I pass the access_token to oauth2.Token{} it fails, If I don't pass access_token it works like a charm.

[2022-04-05 18:47] codyoss commented on #1502
I am unable to reproduce this issues. I used the code you linked to, did a browser redirect and I copied the code found in the URL of the redirect back to the application. Then is printed as it should.

[2022-04-05 18:58] codyoss commented on #1502
This example does not due it but you could start a server up locally to and read back the code from the redirect so you don't have to due it by hand. Closing this issue for now though since running the code as is /w a Desktop credential seems to just work with a current version of the API.

[2022-04-05 18:58] #1502 closed

[2022-04-08 10:09] Feggah opened #1505 "container: how to update a Cluster to Autopilot"
In the release [v0.60.0](https://github.com/googleapis/google-api-go-client/releases/tag/v0.60.0), the field `DesiredAutopilot` [was removed](https://github.com/googleapis/google-api-go-client/pull/1274/files#diff-57851fa3fd45d9595096fcc6e60eb93729ca6bfc0567e884fda4f8b38fdb7f06L1186) from the `ClusterUpdate` struct (see in #1274)

![image](https://user-images.githubusercontent.com/11353912/1624143

[2022-04-11 16:32] codyoss commented on #1505
I believe configuration was moved to create type as Autopilot is now apart of the cluster object. I am not an expert with this API though. For API specific questions I suggest reaching out to the [APIs Support Page](https://cloud.google.com/kubernetes-engine/docs/support). Hope that helps.

[2022-04-11 16:32] #1505 closed

[2022-04-20 09:56] cstadach opened #1517 "Checking 404 NotFound API returns similar to 304 NotModified returns should be possible"
**Is your feature request related to a problem? Please describe.**

There is an [issue](https://github.com/hashicorp/terraform-provider-googleworkspace/issues/286) with a terraform provider which uses this client to connect to the google api.

The issue is that there is a racing condition upon creation of a user ressource.
This leads to a 404 return while checking for this eventually_consistent re

[2022-04-21 09:57] billinghamj opened #1519 "run: `cloud_sql_instance` field broken by v0.75.0 - no longer works with the API"
Making a new issue from https://github.com/googleapis/google-api-go-client/pull/1497#issuecomment-1104964690

#### Environment details

  - Programming language: Go
  - OS: macOS 12.3.1 + Ubuntu 20.04.4
  - Language runtime version: 1.18.1
  - Package version: v0.75.0

#### The problem

In #1513, on the `GoogleCloudRunV2CloudSqlInstance` struct, [the `Connections` field was renamed to `Instances`]

[2022-04-21 14:46] codyoss commented on #1519
I have reported this issue internally. I will post back when I hear more. b/229972040

[2022-04-25 12:31] leearmstrong commented on #727
Hey all, I see this didn't make it but am seeing the same thing and would like it to be a `*int64` ideally.

[2022-04-26 07:51] billinghamj commented on #1519
@codyoss any movement on this? Quite a long time for the API to be broken

[2022-04-26 16:44] codyoss commented on #1519
Does the previous version of the API work since it still seems to want the previous field? The bug is still be worked on.

[2022-04-26 17:35] billinghamj commented on #1519
The previous version of this library works, but the API itself hasn't changed - we're holding off from updating for now, but we do want to get up-to-date as soon as we can

[2022-04-27 08:46] billinghamj commented on #1519
Looks like the issue remains on v0.76.0, where the run API is churning significantly. If the v2 API wasn't meant to be released, maybe it shouldn't be publicly documented or included in these clients(?)

[2022-04-27 22:15] codyoss commented on #1519
@billinghamj The v2 API is considered in preview right now according to its public docs: https://cloud.google.com/run/docs/reference/rest

[2022-04-28 08:36] billinghamj commented on #1519
Unfortunately it didn't say that a couple of weeks ago :\

[2022-04-28 09:37] billinghamj commented on #1519
It appears that the API is now inconsistently rejecting both `instances` and `connections`, meaning there is now no version of this library which works. We're no longer able to deploy at all, merge PRs, test our work, etc

[2022-04-28 11:06] DuffleOne commented on #1519
@billinghamj and I have opened a GCP support case for this (Case #29751838)

[2022-05-09 13:00] FranckVE opened #1537 "Projects.GetBillingInfo does not properly take the specified project into account"
Projects.GetBillingInfo does not use the specified GCP project (in my case it returned an error because the other GCP project it took in consideration did not have billing enabled).

I had to write a direct call to the Google API using the REST http request, while keeping the Application Default Credentials.

#### Environment details

  - Programming language: GOLANG
  - OS: MacOS 12.3.1
  - Langu

[2022-05-09 15:16] #1537 closed

[2022-05-09 19:12] billinghamj commented on #1519
Same problem is now arising with the `containerConcurrency` field. Looks like it has been renamed, but the updated client version hasn't been released/tagged yet

In the meantime, this works:

[code]

[2022-05-12 11:46] leearmstrong opened #1542 "Missing API - purchases.subscriptionsv2"
I know this has only just been released but I am desperate to use the new APIs here: https://developers.google.com/android-publisher/api-ref/rest/v3/purchases.subscriptionsv2

What do I have to do to get it enabled within this repo?

Thanks!

[2022-05-12 14:43] codyoss commented on #1542
It looks like that client updated today -- it is done so in an automated fashion daily. I am not sure if it has the changes you are looking for, but I am sure it will soon if not yet. If it does you can always go get the library at the sha you want. We generally release tagged versions on Tuesdays. Hope that helps.

[2022-05-12 14:43] #1542 closed

[2022-05-12 14:44] leearmstrong commented on #1542
Thanks, I'll grab from the sha.

[2022-05-13 09:04] ladygem opened #1544 "Mm"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Is this a client library issue or a product issue? We will only be able to assist with issues that pertain to the behaviors

[2022-05-13 14:56] #1544 closed

[2022-05-20 16:12] Aerolito420 opened #1552 "Hi"
https://github.com/Aerolito420

[2022-05-21 23:00] FranckVE commented on #1537
- I am running the code from project id `my-fifth-gcp-project` (value set by `gcloud config set project my-fifth-gcp-project` and verified by a `gcloud config get-value project`)
- APIs are enabled
- I don't believe it is a problem of the API itself, since I can use both methods in direct comparison:
    - method 1, using the SDK and
    - method 2, using the http REST API.
    - For method 2, I r

[2022-05-28 23:31] Aerolito420 opened #1563 "Ver "Flickr FAQs: Setting The Viewing Safety Level Of Your Account" en YouTube"
https://youtu.be/qIQOo6W0Zls

[2022-05-31 13:36] codyoss commented on #1563
These clients are autogenerated based on a spec. If you would like to see a feature added please request it from the youtube support page.

[2022-05-31 13:36] #1563 closed

[2022-06-02 17:21] patricksimonian opened #1568 "Is there a module for Google Cloud Endpoints"
Howdy team!

I'm struggling to find a module for Google Cloud Endpoints. Does it exist?

[2022-06-02 19:29] codyoss commented on #1568
I don't think there is one. I am not an expert on this product but by looking at the docs it seems it uses an open spec: https://cloud.google.com/endpoints/docs/openapi#supported_compute_platforms

I assume this means you can generate a client from the spec although I have not tried this. If that works you can make use of our [transport package](https://pkg.go.dev/google.golang.org/api/transport)

[2022-06-02 19:36] patricksimonian commented on #1568
Thank you i'll give that a go :)

[2022-06-02 20:00] #1568 closed

[2022-06-07 03:12] adg opened #1573 "OpenTelemetry traces misused by transport/http"
The `transport/http` package by default [wraps the HTTP transport](https://github.com/googleapis/google-api-go-client/blob/v0.82.0/transport/http/dial.go#L208) with an OpenTelemetry [`ochttp.Transport`](https://pkg.go.dev/go.opencensus.io/plugin/ochttp#Transport). That transport wrapper will record HTTP traces for a subset of all requests if OpenCensus tracing is enabled.

However, it is misconfig

[2022-06-07 03:26] adg commented on #1573
A related issue: https://github.com/googleapis/google-cloud-go/issues/1573

[2022-06-07 03:28] adg commented on #1573
Also related: https://github.com/census-instrumentation/opencensus-go/issues/1180

[2022-06-09 09:40] berabulut commented on #481
How I mocked it with [httpmock](https://github.com/jarcoal/httpmock)

[code]

[code]

[2022-06-09 14:17] codyoss commented on #1573
This is a bit tricky... I think we could easily do as you suggest, but then there could be no aggregations on method level calls. In general most of our libraries are not nicely producing their own spans, so we rely on the naming to capture the context of the call. Making this change would force nearly all API calls to have the same span name. Do you think think is much better than many span names

[2022-06-10 06:59] Goldziher opened #1578 "How to test code relying on the client"
Hi there,

I would like to ask on how to test code using the api client.

Specifically, i would like to know how is it possible to emulate responses and errors returned by some of the client methods. I tried doing this by passing in an http.Client with my own transport attached to it, but it still seems to be dialing youtube regardless of the url I am giving it.

If there are any examples you coul

[2022-06-10 07:10] trakhimenok opened #1579 "go vet ./... returns error and breaks build since 0.81.0"
Starting from 0.81 when running `go vet ./...` on my project am getting this error:

[code]

And it breaks our build.

#### Environment details

  - Programming language: Go
  - OS: Mac OS X
  - Language runtime version: go1.18 darwin/arm64
  - Package version: 0.81-0.83

#### Steps to reproduce

  1. Create a project that usess google-api-go-client v > 0.80
  2. run `go vet ./...`

[code]

### Ex

[2022-06-10 13:46] codyoss commented on #1578
Hey, please check out [testing.md](https://github.com/googleapis/google-api-go-client/blob/main/testing.md) which was designed for this exact sort of question. The examples there should apply to all clients in this repo. Let me know if you have questions. Hope that helps!

[2022-06-10 13:46] #1578 closed

[2022-06-10 13:50] #1579 closed

[2022-06-13 15:11] bombsimon commented on #1393
I have a similar problem but with `external_account` rather than `impersonated_service_account`.

I have a [Workload Identity Federation](https://cloud.google.com/iam/docs/workload-identity-federation) setup and am using [Keyless API authentication](https://cloud.google.com/blog/products/identity-security/enable-keyless-access-to-gcp-with-workload-identity-federation), basically just setting `GOOG

[2022-06-14 06:00] nurcholisart opened #1583 "Inconsistency of reviewId format in AndroidPublisher's Review object"
Hey Google team, we found a `reviewID` format inconsistency in the [Review](https://developers.google.com/android-publisher/api-ref/rest/v3/reviews#Review) object in the Android Publisher API.

Previously, when we tried to list the reviews in our application with requests like the one below:

[code]

It will respond with the following data (please take a look on `reviewId`):

[code]

However today

[2022-06-14 13:42] codyoss commented on #1583
Hey, this client is auto-generated and I don't know much about this API. I suggest reaching out through the android dev support channels: [support](https://support.google.com/googleplay/android-developer/gethelp?visit_id=637908109122972579-2712450579&rd=1#). Hope that helps.

[2022-06-14 13:42] #1583 closed

[2022-06-15 02:34] nurcholisart commented on #1583
Thank you @codyoss, i will reach android dev support channels

[2022-06-15 17:14] #1445 closed

[2022-06-16 04:22] krypticallusion opened #1588 "drive: Any way to stream the file instead of downloading?"
Hi, I'm trying to have a proxy api to serve files from gdrive to the end user.
Currently i'm using `s.Files.Get(ID).Download()` which returns a response.

From what I can see, this is a complete download of the file.

Basically I want to pipe the __response from the client library__ to the __response that I will provide to the user.__
How can make my proxy api just stream the file effortlessly ins

[2022-06-16 13:38] codyoss commented on #1588
Sounds like what you might be looking for is [io.Pipe](https://pkg.go.dev/io#Pipe)? The response body returned is a reader which you could feed somewhere else. Hope that helps

[2022-06-16 13:38] #1588 closed

[2022-06-17 05:58] RiflerRick opened #1590 "/go/pkg/mod/google.golang.org/api@v0.84.0/internal/conn_pool.go:29:7: undefined: grpc.ClientConnInterface"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Is this a client library issue or a product issue? We will only be able to assist with issues that pertain to the behaviors

[2022-06-17 06:02] RiflerRick opened #1591 "Getting undefined: grpc.ClientConnInterface while running go build with v0.84.0"
Getting the following error message while running go build with v0.84.0
[code]
my go.mod looks like the following:

[code]

#### Environment details

  - Programming language: go
  - OS: Debian GNU/Linux
  - Language runtime version: go 1.18
  - Package version: v0.84.0

#### Steps to reproduce

  1. simply running `go build` on the above `go.mod` is causing the issue

[2022-06-17 12:49] codyoss commented on #1590
Closing in favor of #1591

[2022-06-17 12:49] #1590 closed

[2022-06-17 12:59] codyoss commented on #1591
Hey, our libraries require a much more modern version of grpc to work. In our own deps we declare [1.47.0](https://github.com/googleapis/google-api-go-client/blob/8f39c3ef980ac0bf746126cec6475965098a4a5c/go.mod#L18), although I am not sure if it needs to be quite that high. If you look at the [ClientConnInterface](https://pkg.go.dev/google.golang.org/grpc#ClientConnInterface) you can see it was no

[2022-06-17 12:59] #1591 closed

[2022-06-18 11:00] Aerolito420 opened #1594 "Hi, iam Mar"
https://twitter.com/Marblackpsy?t=HLXqbXPslIDxj0zeCHiItQ&s=09

[2022-06-27 16:46] apesternikov commented on #1573
workaround that works for me:
[code]
in tracingutils package:
[code]

[2022-06-27 17:05] dennbagas commented on #640
Is there any update about this feature?

[2022-06-27 22:33] adg commented on #1573
@codyoss

I think it would be better for the Cloud APIs that have user-generated content in the paths. In our case we saw a memory leak of several GB in one of our production services because of this default. So perhaps this suggestion of yours is the way to go:

And perhaps also worth inspecting the other Cloud APIs beyond Storage to see whether they have user-generated content in the Paths. Hope

[2022-06-29 16:37] annp87 commented on #374
@bragagia : Have you solve this problem? If so, could you please share it?

[2022-06-29 16:41] annp87 commented on #374
@codyoss : I still have the same issue as @bragagia. Do you have any advice?

[2022-06-29 19:55] codyoss commented on #1519
This issue has since been resolved and the backend issue fixed. Closing.

[2022-06-29 19:55] #1519 closed

[2022-06-29 21:13] codyoss commented on #1517
Since this is a helper that does not need to live in the library, and since these libraries are considered in [maintenance mode](https://github.com/googleapis/google-api-go-client#status) I am going to close out this feature request. As you demonstrated in your PR, this code is not to hard to write locally if others need it. Thanks for understanding.

[2022-06-30 13:24] codyoss commented on #447
This seems to have been fixed some time ago in 062a97fa4d41c3f23e4beb92ab38428b2626b483. Closing

[2022-06-30 13:24] #447 closed

[2022-06-30 16:32] codyoss commented on #344
This looks to be solved for the APIs that we cared about. As there has not been much traction on this bug over the three years I think it is good enough to close this for now. We can re-evaluate individual cases should the need arise.

[2022-06-30 16:32] #344 closed

[2022-06-30 16:36] codyoss commented on #280
Thinking quickly I think this would require some reflection on the struct to check if said fields exist, this could get expensive. Being these APIs are considered in maintenance mode and this FR has had low traction I am going to close it out as won't fix.

[2022-06-30 16:36] #280 closed

[2022-07-02 14:55] PaulRashidi opened #1609 "Inclusion of libraries in https://pkg.go.dev/search ?"
General Go guidance on managing dependencies indicates pkg.go.dev is the primary way of managing dependencies (https://go.dev/doc/modules/managing-dependencies).

When I tried to find Google Drive libraries there the results only show other people's GitHub projects which have included these libraries (https://pkg.go.dev/search?q=google+drive+api&m=package).

Would it make sense to make this repo c

[2022-07-02 14:57] PaulRashidi commented on #1609
I'm a Googler; if you agree this would be beneficial and is technical possible (and relatively simple) I could help out.

[2022-07-06 15:31] codyoss commented on #1609
I don't think there is much we can do with search optimization for that site. In its current form people search of module paths, package names, or symbols. This site is less about discovery it its current form and more so just about the documentation for projects. If we need to direct users to our libraries we should do that with our own hosted documentation and show that this is the correct libra

[2022-07-06 15:31] #1609 closed

[2022-07-07 13:19] antoinedeschenes commented on #1493
Honestly, providing a generic way to inject any custom Transport would be nice (in parallel to `addOCTransport`). You'd then have the choice to use otel or any other solution.

[2022-07-07 14:02] codyoss commented on #1493
@antoinedeschenes You can kind of due this today with: https://pkg.go.dev/google.golang.org/api/option#WithHTTPClient

[2022-07-12 09:41] WangZhechao opened #1615 "run: googleapi: Error 400: spec.template.metadata.name: Template name must be unspecified."
Hello, I'm looking for help. I'm trying to create Cloud Run Jobs using the google.golang.org/api/run/v1 interface, but it keeps returning an error.

[code]

**Environment details**

-  Programming language: Go
- OS: Linux
- Language runtime version: go1.16
- Package version: 0.86

**Steps to reproduce:**

[code]

Call it :

[code]

What is the reason for the error returned? Is it because I am real

[2022-07-12 13:28] codyoss commented on #1615
Hey, I am not an expert on this API but given: `"description": \"Template name must be unspecified.", "field": "spec.template.metadata.name"` I would try to not set that field. Hope that helps

[2022-07-14 06:11] fizzafatima24 opened #1618 "Patch request is missing for MemoryStore Redis Instance"
Hello! Patch or Update service request to update the instance configuration like other services is missing in MemoryStore Redis.

[2022-07-14 08:22] paddycarver commented on #280
I don't know a whole lot about the code generation, but I'm under the impression that the structs themselves are generated. Could a `map[string]struct{}{}` of the field names not also be generated, and referenced? Then there would be no need for reflection, just a map lookup.

[2022-07-14 20:15] codyoss commented on #1618
Can you be more specific? There are many libraries in this repository and many request objects. A code example would be nice.

Also, what do you mean by missing? These libraries are auto-generated from the public API specs. If you would like something added to the backend service itself I would reach out on the redis api support page: https://cloud.google.com/memorystore/docs/redis/getting-support

[2022-07-15 08:17] fizzafatima24 commented on #1618
library: https://pkg.go.dev/google.golang.org/api@v0.86.0/redis/v1beta1
Object: https://pkg.go.dev/google.golang.org/api@v0.86.0/redis/v1beta1#Instance
Code:
[code]
// trying to update auth enable the field of Redis instance
// but no patch or update function available

[2022-07-15 13:52] codyoss commented on #1618
From what I can tell there seems to be one: https://pkg.go.dev/google.golang.org/api@v0.87.0/redis/v1beta1#ProjectsLocationsInstancesService.Patch

Hope that helps

[2022-07-15 13:52] #1618 closed

[2022-07-15 17:31] jankrynauw opened #1621 "Add additional FileType: SERVICE_CONFIG_JSONPB"
Add an option to submit a FileType of say SERVICE_CONFIG_JSONPB to the following:

https://github.com/googleapis/google-api-go-client/blob/948b3c3e99a73c29ee4d51546704ebbaa3cd24ad/servicemanagement/v1/servicemanagement-gen.go#L1048

The underlying object (i.e. a Service) referred to is already well defined in a proto.  Here's a go example:
https://github.com/googleapis/go-genproto/blob/042d03aeabc

[2022-07-17 15:22] achie27 opened #1623 "Add domain public admin.directory.User.CustomSchemas to people.Person"
**Is your feature request related to a problem? Please describe.**
As a non-admin user in a workspace/organization, I can view the assigned public custom schemas/fields for a contact/person on contacts.google.com. However, currently, custom schemas are not available via the People API and you have to use the Admin Directory API (as a non-admin) to get them. I think custom schemas should also be pr

[2022-07-18 13:32] codyoss commented on #1623
Hey, this repo just snthesizes the public spec for the API and is not a source a truth or a good place to request features for a given API. I suggest reaching out with a feature request on the [support page](https://developers.google.com/people/support) for the API you are talking about. Hope that helps!

[2022-07-18 13:32] #1623 closed

[2022-07-18 15:09] codyoss commented on #1621
Hey, maybe it would be easier if you were already working with protos? You can use the gRPC based client here if so: https://pkg.go.dev/cloud.google.com/go/servicemanagement/apiv1

If you have a feature request for the API itself though I suggest reaching out on that APIs support page: https://cloud.google.com/service-infrastructure/docs/support. This repo just synthesizes the public specs to code

[2022-07-18 15:09] #1621 closed, assigned to codyoss

[2022-07-18 19:07] jankrynauw commented on #1621
Thank you @codyoss, I will reach out as suggested.

We are already using the gRPC based client - the high level of consistency across all Google gRPC clients is really great:

[code]

[2022-07-21 22:19] nomoonx opened #1628 "seems the path for RunReport is missing /properties"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Is this a client library issue or a product issue? We will only be able to assist with issues that pertain to the behaviors

[2022-07-22 14:41] codyoss commented on #1628
When creating the call you must have propertyid in the form of "properties/*". Hope that helps

Ref: https://developers.google.com/analytics/devguides/reporting/data/v1/rest/v1beta/properties/runReport

[2022-07-22 14:41] #1628 closed

[2022-07-22 16:40] nomoonx commented on #1628
isn't this ambiguous?

[2022-07-22 21:22] codyoss commented on #1628
What do you mean?

[2022-08-03 16:08] #1321 closed

[2022-08-04 17:22] salrashid123 opened #1644 "Specifying option.WithScopes is ignored when using option.WithTokenSource"
If you use both

*  https://pkg.go.dev/google.golang.org/api/option#WithScopes
* https://pkg.go.dev/google.golang.org/api/option#WithTokenSource

at the same time as shown below, the scopes settings from the tokensource is used.

The following works for cloudidentity api because the "books" api scope is simply ignored

[code]

but if you invert it, you'll see a scopes error since the actual token