[2019-07-15 15:08] jadekler commented on #379
Impersonated credentials is something we're designing. Please track in https://github.com/googleapis/google-api-go-client/issues/378.

[2019-07-15 15:08] #379 closed

[2019-07-15 15:09] jadekler commented on #379
Also, what does SA stand for?

[2019-07-15 15:13] idofl commented on #379
yes, SA = Service Account.

[2019-07-17 15:59] broady commented on #379
fwiw #378 is for service account impersonation, which iiuc is a different mechanism than the domain-wide user delegation used by gsuite.

i've updated the code sample, it'll go live on the doc site some point in the future.

[code]

[2019-07-18 08:58] idofl commented on #379
When using a service account credentials file, the above code works. However, when running this code ainside GCP (on GCE or GCF), we'd like to use the service account used by the environment (either the compute SA for GCE or Appspot SA for GAE/GCF).
Using built-in service account means we don't have a JSON credentials, so we can't call JWTConfigFromJSON. If we call FindDefaultCredentials() the cre

[2019-07-18 20:59] broady commented on #379
I'm not sure how to do that, I'm not very familiar with domain-wide delegation.

Can you seek help with someone who is? I can help translate into Go.

[2019-07-21 07:56] MatteoGioioso opened #380 "Confusing parameter triggerId"
Trying to trigger a build like explained here: https://cloud.google.com/cloud-build/docs/api/reference/rest/v1/projects.triggers/run

But unfortunately It is note unclear what is this `triggerId` and there is no explanation whatsoever.

[2019-07-21 23:09] MatteoGioioso commented on #380
Figured out that `triggerId` is the id found into the url after clicking on a trigger
`https://console.cloud.google.com/cloud-build/triggers/<trigger_id>?project=<project_id>`

[2019-07-21 23:09] #380 closed

[2019-07-22 16:39] salrashid123 commented on #379
you can't get the an access token capable of using gsuites delegation from the metadata server currently.   The target identity you're trying to impersonate needs to be included as the `sub` field in the request...i'd imagine if the featue was there, then the metadata server would be like: `http://metadata/.../token?subject=admin@domain.com` endpoint or something like that.

--

anyway, a bit of a

[2019-07-22 17:27] idofl commented on #379
Regarding signing the JWT, we should use Google Cloud APIs to sign the JWT with the service account's system-managed private key (as we're not using a credentials file).
https://cloud.google.com/iam/credentials/reference/rest/v1/projects.serviceAccounts/signJwt
This is already available through the Go library:
https://godoc.org/google.golang.org/api/iamcredentials/v1#ProjectsServiceAccountsService

[2019-07-22 17:36] salrashid123 commented on #379
you can start with this...it
https://github.com/googleapis/google-api-go-client/pull/337/files#diff-02b6d1e40a46e40d260eae48cbd536d6R69

just use the source credential and use the signjwt, then do the exchange with the token endpoint manually as shown in python snippet

[2019-07-23 00:30] rakyll commented on #372
Is there a way we can help? Compute is a major API and many infra tools are written in Go nowadays. It would be great to be able to read the godoc.

[2019-07-23 01:16] ahmetb opened #381 "go get no working with Go modules: no matching versions for query "latest""
go-get for an existing package doesn't work off the bat.

[code]

I had to talk to someone working on client libraries to figure out the workaround (`@master`). This doesn't sound ideal.

[2019-07-23 02:27] broady commented on #372
Need to file a bug on gddo. Closing here.

[2019-07-23 02:27] #372 closed

[2019-07-23 04:36] steren opened #382 "Cloud Run v1beta1 and v1 APIs do not exist but are present in this module"
Cloud Run `v1beta1` is under constructions and is not public yet.
Cloud Run `v1` API does not exist at the moment.

Please delete: https://github.com/googleapis/google-api-go-client/tree/master/run/v1
And https://github.com/googleapis/google-api-go-client/tree/master/run/v1beta1
to avoid user confusion.

[2019-07-23 04:40] steren commented on #382
it is likely that this is due to the discovery document.

I opened issue 138164482 internally to fix this

[2019-07-23 17:31] jadekler commented on #382
It is indeed a discovery issue. https://www.googleapis.com/discovery/v1/apis needs to have its listing removed. We can delete it, but it would get auto-generated back into the repo. Give a shout when it's removed from the discovery doc and I'll make the deletion!

[2019-07-23 17:32] jadekler commented on #381
That package is not part of a published module, which is why you can't `go get` it normally but can with `@master`. This seems to be WAI. Closing, but let me know if you have further questions.

[2019-07-23 17:32] #381 closed

[2019-07-23 17:32] jadekler commented on #381
Also: that package is about to be deleted (see: https://github.com/googleapis/google-api-go-client/issues/382)

[2019-07-24 21:26] julianvmodesto commented on #379
Here's a working example: https://gist.github.com/julianvmodesto/ed73201703dac8a047ec35a24dce4524

Thanks for the guidance here!

[2019-07-24 23:18] salrashid123 commented on #379
thanks @julianvmodesto

@wilsonfan  [ref:](https://gist.github.com/salrashid123/7994be642c466844f85e2f2c68a5dec9#gistcomment-2968833) .  the snippet above is a variation w/o using a json cert file and also if you intend to impersonate

[2019-07-25 08:13] idofl commented on #379
Great. Any chance this can be added to the SDK, to enable SA access to GSuite APIs?

[2019-07-25 11:51] perrochon commented on #354
Google Search brought me here with the same issue. I manually added filename into the vendored photoslibrary files. https://github.com/perrochon/gitmoo-goog/commit/07bd92acaa3af14d13c3314e4bf83deae7afd84a

[2019-07-25 20:39] mitra921 commented on #155
سلام

[2019-07-25 20:39] mitra921 commented on #155
سلام

[2019-07-25 20:40] mitra921 commented on #155
س

[2019-07-25 20:40] mitra921 commented on #155
ل

[2019-07-25 20:40] mitra921 commented on #155
ا

[2019-07-25 20:40] mitra921 commented on #155
م

[2019-07-25 20:41] mitra921 commented on #155
_

[2019-07-25 20:41] mitra921 commented on #155
- [ ]

1.

[2019-07-25 20:42] mitra921 commented on #155
Aa

[2019-07-25 20:42] mitra921 commented on #155
Hi

[2019-07-25 20:43] mitra921 commented on #155
His

[2019-07-25 20:43] mitra921 commented on #155
Y

[2019-07-27 00:09] hach-que opened #384 "Can't use "google.golang.org/api/dataflow/v1b3" in Go 1.12 (with modules)"
I'm trying to use the `dataflow/v1b3` API in a project with Go modules enabled:

[code]

However, when I try to run the app, I get this:

[code]

In fact, even "google.golang.org/api" doesn't seem to support modules:

[code]

[code]

However, there's a `go.mod` at the root of this GitHub repository, so trying the GitHub URL seems to get further, but then breaks because it's not the canonical URL:

[2019-07-29 14:02] jadekler commented on #384
That import should be,

[code]

[2019-07-29 14:03] jadekler commented on #384
Oh whoops, sorry. I see further up you tried that. Could you post your entire `go.mod`?

[2019-08-01 15:22] gm42 opened #386 "404 when using errorReporting Report()"
I believe that ProjectEventsReportCall has a typo in the form of a missing URI component:

If you check the documentation (https://cloud.google.com/error-reporting/reference/rest/v1beta1/projects.events/report):
[code]

You can see that just before the project ID `example-project` there is `/projects/` in the URL.

However `ProjectsEventsReportCall.doRequest` uses:
[code]

I have verified experime

[2019-08-01 16:02] gm42 commented on #386
@jadekler I could add a testcase but I am simply using a service account (with the correct permissions) via JSON credentials and `google.golang.org/api v0.7.0`

[2019-08-01 16:06] jadekler commented on #386
Thanks. I think this is a problem with that API's specification. I've filed https://issuetracker.google.com/issues/138784098 - please track there.

[2019-08-01 16:06] #386 closed

[2019-08-02 14:45] jadekler opened #387 "Generator should generate x-goog-api-client headers"
We have https://github.com/googleapis/google-api-go-client/blob/master/gensupport/header.go#L15, we just need to use it.

cc @broady

[2019-08-05 04:33] salrashid123 commented on #378
until its figured out and implemented:
 an  impersonatedcredentials and a way to get idTokens.  it only works if credential object is supplied

- https://github.com/salrashid123/oauth2

[2019-08-05 20:39] #387 closed

[2019-08-08 13:45] ncw opened #388 "What does opencensus do and why is it appearing in my goroutine list?"
I'm using

- google.golang.org/api/drive/v2
- google.golang.org/api/drive/v3
- google.golang.org/api/storage/v1

Which import

- google.golang.org/api/transport/http

Which in turn imports

- go.opencensus.io/plugin/ochttp
- go.opencensus.io/trace
- go.opencensus.io/trace/propagation

It was a surprise to see a goroutine created by opencensus in my goroutines list and with a name like opencensus m

[2019-08-08 16:27] jadekler commented on #388
Opencensus is a stats collection library. It collects stats that you define and that the library defines, such as traces of your HTTP requests. It only sends data if you create an exporter. So, for the majority of people, it sends no data.

I'm not sure how the under-the-hood of it works, nor why it creates a goroutine. You could ask them directly at https://github.com/census-instrumentation/openc

[2019-08-08 16:27] #388 closed

[2019-08-08 16:28] jadekler commented on #388
I'll also add that the stats it collects are purely for _your_ debugging. We (Google) do not collect any of these stats.

[2019-08-08 22:06] ncw commented on #388
Thank you for taking the time to explain.

I'll make an issue on the opencensus github about the goroutine started on `init()`

[2019-08-08 22:07] ncw commented on #388
Actually there is one already! https://github.com/census-instrumentation/opencensus-go/issues/1074

[2019-08-13 23:25] odeke-em opened #389 "retries: gax.Backoff misuse causes indefinite looping on retryable errors"
Coming from CL https://code-review.googlesource.com/c/google-api-go-client/+/43470 aka commit https://github.com/googleapis/google-api-go-client/commit/7d3f77d5ace046796e7b137e4d003327668755fb, we switched to using the gax ExponentialBackoff struct and standardized retries.
In there we replaced the internally implemented APIs with
[code]
yet we used to have
[code]
where the value `retry` was compu

[2019-08-14 10:38] KeisukeYamashita opened #390 "WithServiceAccountFile is not working"
## What

When I try to access Spanner with `WithServiceAccountFile` option, it fails.
If I remove `option.WithServiceAccountFile()` is runs correctly.

What am I doing wrong? The service account has "roles/owner" role.

[code]

Thank you.

## Code

[code]

## Error message

[code]

[2019-08-14 11:21] KeisukeYamashita commented on #390
## Moreover

This doesn't happen when I use Spanner client.

[code]

[2019-08-14 12:06] olavloite commented on #390
It seems that you are using a different low-level client than I would expect. From what I can understand from the above, you want to use the low-level generated client to access the Spanner gRPC's directly instead of the Go Spanner client library (' the Spanner client').

To achieve that, you should set up your client like this:

[code]

[2019-08-14 12:25] olavloite commented on #390
Please let me know by reopening the issue if the above does not solve the problem for you.

[2019-08-14 12:25] #390 closed

[2019-08-14 16:25] jadekler commented on #389
https://code-review.googlesource.com/c/google-api-go-client/+/44070 reverts the old behavior.

Though, there's an argument that it should be unbounded and users should set limits.

[2019-08-14 16:27] odeke-em commented on #389
I think that might be asking users for too much. How does one anticipate the flood of 429s or even 5XX errors and know when to break? They could set a context deadline of say 5seconds but in the even of a network failure, backend errors and too many issues they'll end up with just time outs. I think we should have bounded timeouts.

[2019-08-15 16:52] jadekler commented on #274
Hello! We asked some clarifying questions but haven't heard back for a while. Closing this since it's stale, but please feel free to respond back and continue the conversation.

[2019-08-15 16:52] #274 closed

[2019-08-15 16:52] jadekler commented on #382
Closing this since we haven't heard back from a while. Please ping me when the discovery doc is updated.

[2019-08-15 16:52] #382 closed

[2019-08-15 16:53] jadekler commented on #384
Hello! We asked some clarifying questions but haven't heard back for a while. Closing this since it's stale, but please feel free to respond back and continue the conversation.

[2019-08-15 16:53] #384 closed

[2019-08-19 15:02] #389 closed

[2019-08-22 02:19] logol opened #391 "IdentifierExists=false not send in V2.1"
Hey,

I think this is similar to #261.

When using [ProductsService.Insert](https://github.com/googleapis/google-api-go-client/blob/master/content/v2.1/content-gen.go#L21505) and `product.IdentifierExists = false` it is not sent with [ProductsInsertCall.Do](https://github.com/googleapis/google-api-go-client/blob/master/content/v2.1/content-gen.go#L21579).

But there seems to be no way to use Force

[2019-08-22 19:15] odeke-em opened #392 "gensupport: add SendAndRetryRequest"
This issue is a proposal to add a function that retries requests that are sent. Currently we've got SendRequest which is used all around the auto-generated APIs e.g. for storage/v1/storage-gen.go.ObjectsInsertCall.Do
https://github.com/googleapis/google-api-go-client/blob/329ecc3c9c34ac4cbaaf7ada4fd373b3239282ae/storage/v1/storage-gen.go#L10031-L10045
which has an interesting property that the ini

[2019-08-22 19:53] odeke-em commented on #392
When we resolve this issue the update to https://code-review.googlesource.com/c/gocloud/+/44071 will just require an update to the go.mod file and then google-cloud-go doesn't have to do anything further.

[2019-08-25 06:10] jadekler commented on #392
Rather than adding another method, could we make that initial post retry?

[2019-08-27 07:16] jadekler commented on #392
There is... we could modify the generator and have it only add the code in the storage case. But, we should probably have some canned solution for this. It does seem odd that [the initial request before an `rx.Upload` is not retried](https://github.com/googleapis/google-api-go-client/blob/d1c9f49851b5339dea6bf7e4076b60a66e62be1f/mirror/v1/mirror-gen.go#L3506). Maybe they should all be retried? (no

[2019-08-28 06:48] chandradeepak opened #393 "Add example for google analytics API"
in the examples directory there is no sample to show to use google analytics API. Is there a possibility new sample is added.

[2019-08-28 07:47] jadekler commented on #393
These libraries are all auto-generated and provide a very thin layer over the actual API. The documentation for using the API is at https://developers.google.com/analytics/devguides/reporting/core/v4/.

[2019-08-28 07:47] #393 closed

[2019-08-29 09:13] ozikot opened #394 "How do I separate status "STOPPED" from "RUNNABLE"."
I want to separate stopped from runnable.
(distinguished in gcloud)

 Is there an effective measure now?

https://github.com/googleapis/google-api-go-client/blob/d1c9f49851b5339dea6bf7e4076b60a66e62be1f/sqladmin/v1beta4/sqladmin-gen.go#L758-L768

[2019-09-04 02:39] cbalano commented on #347
FYI, I got past the issue by adding this line in go.mod, right above the require section:
<pre>
replace git.apache.org/thrift.git => github.com/apache/thrift v0.12.0
</pre>

[2019-09-05 19:41] jadekler opened #395 "Unflake TestCancelUpload"
https://sponge.corp.google.com/target?id=fbae2ebe-08f8-4067-b1e2-6d8fb41fe2fd&target=cloud-go-libraries%2Fgoogle-api-go-client%2Fpresubmit%2Fgo111&searchFor=

[code]

[2019-09-05 19:41] jadekler commented on #395
@odeke-em I'm pretty out of cycles right now. Do you have time to take a peek at this?

[2019-09-05 20:17] mitinarseny opened #396 "Add batch requests to Calendar API"
There is no support for [batch requests](https://cloud.google.com/storage/docs/json_api/v1/how-tos/batch) in [Go Calendar API Client](https://github.com/googleapis/google-api-go-client/tree/master/calendar/v3). It would be nice, if you add some)

P.S.: There is a [package](https://github.com/jfcote87/google-api-go-client/tree/master/batch) that allows to do it, but it would be better if it is in t

[2019-09-05 20:48] odeke-em commented on #395
Hey Jean,
  Thank you for pinging me! Absolutely I'll work on this.

Kind regards,
Emmanuel
On Thu, Sep 5, 2019 at 12:42 PM Jean de Klerk <notifications@github.com>
wrote:

[2019-09-05 22:46] odeke-em opened #397 "tests: use t.Parallel for tests if possible"
For tests that are pretty much isolatable and idempotent, let's use t.Parallel() https://golang.org/pkg/testing/#T.Parallel so that they can be run in parallel.

For a proof of concept, I just added t.Parallel to the file gensupport/resumable_test.go and ran `go test`. The results are:
### Without t.Parallel()
[code]

### With t.Parallel()
[code]

That's a 20% reduction in time spent running tests

[2019-09-05 22:47] odeke-em commented on #395
Interestingly on the second run of `go test gensupport` I was able to get a similar looking crash
[code]
but on a different test.

[2019-09-11 19:26] d1vi opened #398 "Go get gensupport broken"
This can be replicated by doing

[code]
with output:

[code]

Here the output while running
[code]
[code]

[2019-09-11 19:33] bradfitz commented on #398
It was removed in https://github.com/googleapis/google-api-go-client/commit/326e17a21103f4ccf44ac1b40587ce7bcdd58b14

What did it break for you? Were you trying to use gensupport directly? If so, why?

/cc @jadekler @tbpg

[2019-09-11 19:42] h8liu commented on #398
there are several external usages of gensupport. For example:

cloud.google.com/go/translate/internal/translate/v2
cloud.google.com/go/trace

this move breaks the build of these packages.

These packages actually also comes from google cloud.

[2019-09-11 19:51] jadekler commented on #398
Thanks - we're aware of the breakage and are working to fix it. HEAD should be fixed, though a few tests are still borked (https://code-review.googlesource.com/c/google-api-go-client/+/45272). Could you try updating and see if it's fixed?

BTW: adopting Go modules would help you avoid this kind of dev churn, since we make sure all our libraries are in a good place before releasing a new version. I

[2019-09-11 20:14] jadekler commented on #398
Should be fixed now. Please comment back if you see additional problems. We've also fixed (removed) the usages of gensupport in `cloud.google.com/go`.

[2019-09-11 20:14] #398 closed

[2019-09-11 20:19] d1vi commented on #398
Sorry, not working here yet.

I'm now getting
[code]

[2019-09-11 20:24] jadekler commented on #398
Ah, we probably have to remove that page. Let me see if I can do so.

[2019-09-11 20:24] jadekler commented on #398
Hmm... reportedly this shouldn't happen. Are you using Go modules? Are you at HEAD (as of 5m ago)?

[2019-09-11 20:39] d1vi commented on #398
Yes, I'm on HEAD as of 5m ago, I'm running same working test/build that was OK three hours ago before that breaking change happened on my project on CircleCI, also locally.

I'm not using go modules.

[2019-09-11 20:55] jadekler commented on #398
I'm unable to replicate this:

[code]

Could you provide steps to repro?

[2019-09-11 21:34] d1vi commented on #398
`export GO111MODULE=off`

Did the job.

Some dep might be using go-modules (?) Confirmed solved.

[2019-09-12 04:19] odeke-em commented on #395
I just spent time examining how this could happen and the theory here is that when Cancel was invoked in the progress reporter, due to a timing issue, net/http's client processing requests in a goroutine for persistConn.roundTrip or persistConn.writeLoop got a write before the cancellation on the the ctxDoneChan was received and then made that request i.e. the cancellation occured concurrently in

[2019-09-12 10:20] freedomofkeima opened #399 "Chat: receives event from webhook questions"
Hi,

I have several questions related to `"google.golang.org/api/chat/v1"`.

(1) It seems the only available `Event` object is `DeprecatedEvent`. So, what is the non-deprecated one to use?

(2) If `DeprecatedEvent` is indeed the intended one to use, inside `DeprecatedEvent`, there's a `User *User` field.  However, it seems that the `User` object is different from what I actually got from the respo

[2019-09-12 15:22] #399 closed, assigned to jeanbza

[2019-09-17 14:39] jadekler opened #400 "Unflake TestCancelUpload"
https://sponge.corp.google.com/target?id=9f6fe089-d398-4718-b90e-036d327be93c&target=cloud-go-libraries%2Fgoogle-api-go-client%2Fcontinuous%2Fgo113&searchFor=

[code]

[2019-09-17 15:54] #400 closed

[2019-09-20 12:19] kmlx opened #401 "youtube LiveBroadcast EnableMonitorStream set to false is omitted"
youtube.LiveBroadcast.ContentDetails.MonitorStream.EnableMonitorStream is missing when set to false (explanation in #54)

according to https://developers.google.com/youtube/v3/live/docs/liveBroadcasts#contentDetails.monitorStream

and according to:
https://developers.google.com/youtube/v3/live/life-of-a-broadcast#stage_3_test

Would it be possible to have EnableMonitorStream as a ```*bool```?

cod

[2019-09-20 22:15] broady opened #485 "transport/grpc: support option.WithAPIKey"
google.golang.org/ap/option says:

[code]

Not true, though, API keys can be used with gRPC.

Need to use the x-api-key metadata key:

[code]

[2019-09-24 21:17] homiak opened #402 "google.golang.org/api/youtube/v3 request count too high?"
- Description
Number of API queries/requests is not reported correctly.
As a result any user that uses this library have >10x more queries reported then he/she actually made. This in turn leads to the user reaching the daily quota limit of 10000 queries and denying of any further API requests. That renders youtube API practically unusable even for a single user/developer.

- API request with param

[2019-09-25 14:52] jadekler commented on #402
Hello! Could you provide some HTTP logging showing which HTTP requests are made? That could either be through https://github.com/census-instrumentation/opencensus-go, with https://blog.golang.org/http-tracing, or with GODEBUG (see: https://golang.org/pkg/net/http/).

[2019-09-25 15:15] homiak commented on #402
Sure

Initial connection
[code]

[2019-09-25 15:18] homiak commented on #402
Then more or less 14 times this
[code]

[2019-09-27 12:09] kunzese opened #403 "oauth2.TokeninfoCall returns "Invalid Value" when validating an ID Token"
For testing purposes i want to validate an ID Token with the oauth2 package. Instead of returning a *Tokeninfo struct it results in an **Invalid Value** error.

go version:

[code]

Demo code:

[code]

Execution:

[code]

`curl` call against against the underlying Google API:

[code]

Update 1:

Digging a bit deeper i think this might by an issue with the https://www.googleapis.com/oauth2/v2/token

[2019-09-30 22:47] MartinWan opened #404 "Compute Client: option.WithCredentialsFile incompatible with option.WithHTTPClient"
I am creating the compute client like this:

`gce, err := compute.NewService(context.Background(), option.WithCredentialsFile(creds), option.WithHTTPClient(clientWithCerts)`

However, when I make try to instantiate an instance I get `googleapi: Error 401: Login Required, required`. Removing the `option.WithHTTPClient` and the issue is gone.

[2019-10-01 14:40] jadekler commented on #402
Hmmm... I think we'd need more logs than that. Basically I'm trying to figure out if the client library is sending more than 1 request in that Do call, or whether the youtube quota service is incorrectly classifying 1 request as many. Could you parse your logs and see how many requests actually get sent?

[2019-10-01 14:47] jadekler commented on #404
Those two _do_ seem incompatible, but we should report a better error. cc @broady: WDYT about adding a panic to report the incompatibility, as we do elsewhere IIRC?

[2019-10-01 16:06] kurtisvg commented on #349
I just verified this is now fixed.

[2019-10-01 16:06] #349 closed

[2019-10-01 16:41] jadekler commented on #349
Thanks @kurtisvg !

[2019-10-01 17:23] broady commented on #404
Yes, these two options are incompatible. An error should be returned, there shouldn't be a panic.

[2019-10-01 17:53] jadekler commented on #403
Thanks for filing, and your _exceptional_ notes. Looks like the client authentication is clobbering the `oauth2Service.Tokeninfo()` call, AFAICT. I'm not sure the answer is to remove _all_ authentication (supply `WithoutAuthentication` all the time) is the right thing, since things like [UserinfoService](https://godoc.org/google.golang.org/api/oauth2/v2#UserinfoService) require auth (AFAICT).

Mig

[2019-10-02 08:54] weburnit opened #405 "GoogleAds API"
Hello mates,
Do we have module for GoogleAds?

Thanks

[2019-10-02 11:34] ViBiOh opened #406 "Compute: Metadata filters don't work like gcloud CLI"
Hi,

I'm using Golang client for retrieving compute instance with given filter, it works like a charm with gcloud CLI but does't with Go client.

[code]

The same request in client

[code]

and getting error

[code]

I'm using `google.golang.org/api v0.10.0` (from my go.mod)

Is there a config that I should pass or change filter syntax ?

[2019-10-02 13:44] KinaneD opened #407 "Export table as CSV with headers"
We are running Google Cloud SQL with, now stable, Postgres 11. While exporting a table as CSV we noticed that the CSV has no headers.

We can't seem to find any way in `ExportContextSqlExportOptions` to specify that there should be a headers row in said CSV.

Any ways to work around this?

Thank you.

[2019-10-02 17:23] jadekler commented on #407
@kurtisvg Any comments on this? Otherwise it's probably best to re-file against the actual service team (i'll provide a link shortly if we decide to go that route).

[2019-10-02 17:24] jadekler commented on #406
Hello! This issue tracker is for the Go-specific generator and the output of that generator: unfortunately, the compute team doesn't frequent this tracker. Would you mind re-filing this issue on the compute team's issue tracker? They can be found under "Compute" on https://cloud.google.com/support/docs/issue-trackers.

[2019-10-02 17:24] #406 closed

[2019-10-02 17:26] jadekler commented on #405
Hello! We have adsense (https://godoc.org/google.golang.org/api/adsense) and adsensehost (https://godoc.org/google.golang.org/api/adsensehost).

[2019-10-02 17:26] #405 closed

[2019-10-02 17:28] kurtisvg commented on #407
I'm not sure offhand - please open an issue against the API on the [Cloud SQL issue tracker](https://issuetracker.google.com/issues/new?component=187202&template=0). Feel free to post the issue number here and I'll make sure to follow up.

[2019-10-02 17:28] #407 closed

[2019-10-02 20:50] jadekler commented on #232
Looks resolved to me. Closing.

[2019-10-02 20:50] #232 closed

[2019-10-03 07:11] KinaneD commented on #407
Here is the issue https://issuetracker.google.com/issues/142012078

Thank you.

[2019-10-05 04:06] MartinWan commented on #404
I guess it says that in the documentation "When used, the WithHTTPClient option takes precedent over all other supplied options."

Probably don't want to return an error as that might break that is incorrectly using both

[2019-10-05 04:06] #404 closed

[2019-10-08 19:37] NolanHedstrom opened #408 "Unable to set CapacityScaler to 0.0 using computeService.BackendServices.Patch"
I have a Backend Service that is made up of 3 instance groups.
I can use the `gcloud compute backend-services update-backend` command and I can set one of the instance groups to 0.0 so that no traffic is sent to it.

I am creating a UI for this and using this client library but I am running into an issue.
When I pass any value to the Capacity Scaler > 0.0 everything works fine.
However if I pass 0

[2019-10-09 19:16] jadekler commented on #408
Thanks for filing this. Unfortunately this repo just contains the generated bytes from https://www.googleapis.com/discovery/v1/apis. Would you mind filing this issue against the compute team directly via https://cloud.google.com/support/docs/issue-trackers?

Closing for now, but let me know if you'd like to continue the conversation.

[2019-10-10 18:22] jadekler commented on #367
cc @escholtz

[2019-10-14 19:39] Bowbaq commented on #378
@jadekler Is there any update on this. I'm running into https://issuetracker.google.com/issues/142086394 and it seems that the only fix available to me would be to impersonate a user

[2019-10-14 19:46] salrashid123 commented on #378
@Bowbaq i dont' think you're after the same impersonation as requested here.  If you're aftr gsuites "delegated access" (eg, for drive, spreadsheets, etc), see

https://gist.github.com/salrashid123/7994be642c466844f85e2f2c68a5dec9#gistcomment-2968833

[2019-10-14 19:50] Bowbaq commented on #378
Actually, the reporter of that issue uses G Suite, but I don't, though I also run into the same problem with emails not being sent documents are shared by a service account.

[2019-10-15 19:09] gaahrdner commented on #378
I too, desperately need this.

[2019-10-16 20:56] jadekler opened #411 "unflake TestGRPCHook"
https://sponge.corp.google.com/target?id=201aa0cd-4407-4441-a4fe-89924c5e0f82&target=cloud-go-libraries%2Fgoogle-api-go-client%2Fpresubmit%2Fmaster&searchFor=

[code]

[2019-10-17 11:09] jba commented on #367
IIRC this is already what happens: the call to `release` [broadcasts](https://github.com/googleapis/google-api-go-client/blob/5213b809086156e6e2b262a41394993fcff97439/support/bundler/bundler.go#L307), which should immediately wake up the waiting goroutines.

[2019-10-17 17:25] xiaobaitusi opened #413 "Marshaling bug for ComputeExternalVPNGateway"
In the below code snippet,

[code]

I got error message:

[code]

Note that in the code, 'id' is specified as '0'. Looks like that there is some weird json marshalling related to 'zero' value.

[2019-10-17 17:27] jadekler commented on #367
Yes, I agree.

[2019-10-18 18:56] jkopczyn commented on #398
I see the same bug and the steps you took to repro, reproduce it for me

[2019-10-18 19:43] jadekler commented on #398
@jkopczyn gensupport has been moved to `internal/`. It was never intended to be relied upon directly (as per its documentation).

[2019-10-18 20:13] jkopczyn commented on #398
I was not depending on it directly. The move broke compilation of my dependencies.

I followed the steps in #issuecomment-530561997 and they had no effect on the error.

[2019-10-18 20:18] jadekler commented on #398
Would you mind please filing a new issue with an error log showing?

[2019-10-18 20:20] jkopczyn commented on #398
It's literally identical to the OP of this issue.

[2019-10-18 20:32] jadekler commented on #398
Right, but the investigation isn't. Closing this now - please an open a new issue with a log of your error if you are experiencing this problem.

[2019-10-18 21:54] tritone opened #414 "switch all files to use LICENSE"
Per advice from legal, all code files should include the reference to the LICENSE file rather than including the Apache license header.

[2019-10-18 21:56] tritone opened #415 "Move googleapi/internal/uritemplates/uritemplates.go to third_party/"
Necessary because of the license for this file.

[2019-10-21 16:44] jcgregorio opened #416 "moving gensupport to /internal breaks library"
I had been building a Go library to access the API https://www.googleapis.com/discovery/v1/apis/androidbuildinternal/v2beta1/rest

Using this cmd:

google-api-go-generator \
  -api_json_file=rest \
  -api_pkg_base="go.skia.org/infra/go" \
  -output="androidbuildinternal.go"

But this CL https://github.com/googleapis/google-api-go-client/commit/326e17a21103f4ccf44ac1b40587ce7bcdd58b14 breaks that g

[2019-10-21 17:00] #416 closed

[2019-10-22 14:15] jadekler commented on #414
Fixed in https://code-review.googlesource.com/c/google-api-go-client/+/47230

[2019-10-22 14:15] #414 closed

[2019-10-22 19:36] escholtz opened #417 "bundler: TestConcurrentHandlersMax does not terminate"
Occasionally, TestConcurrentHandlersMax does not terminate.

Steps to reproduce:

[code]

It appears others are seeing this issue:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=927114

go version go1.13 linux/amd64
google-api-go-client at d63bd5fbc004a083dc85ef622366115e8088da62

[2019-10-22 22:53] huppmann commented on #368
thanks for the pointer

seems to have been done here:

[Add support for the google-api-<language>-client libraries](https://issuetracker.google.com/138224490)

[2019-10-24 13:10] jordancoll opened #418 "NewPager nil pointer dereference when passing an empty Pageable"
`pageInfo` is `nil` on empty pageables (or is at least in the case of `bigquery.RowIterator`), which results in a nil pointer dereference.

could either:
1. handle nil `pageInfo`s in `NewPager`, and create an empty `Pager`
1. fix `bigquery.RowIterator` to always have a `pageInfo`, even when empty
1. add documentation to check if the iterator is empty before creating a `Pager`

[2019-10-24 13:17] jadekler commented on #418
Could you provide a small example code illustrating this problem?

[2019-10-24 15:45] jordancoll commented on #418
@jadekler sure!

[code]

[2019-10-24 20:08] someone1 opened #419 "iamcredentials signBlob returns 503 error"
I am able to use iamcredentials signJwt without issue, but not the signBlob. If I don't pass in a base64 encoded value, it errors out accordingly, if I don't authenticate properly or don't have permissions it errors out properly, but when everything looks ok, I get the following (using the debug transport found [here](https://medium.com/@j0hnsmith/eavesdrop-on-a-golang-http-client-c4dc49af9d5e)):

[2019-10-24 20:16] someone1 commented on #419
I believe the issue is that the API doesn't let you call signBlob for the same service account you're authenticated as. Is this by design?

That explains why the web browser version worked, I wasn't authenticated as the service account I was trying to call signBlob on.

[2019-10-27 21:06] jadekler commented on #419
Hello! This does look an API design issue. Unfortunately this repository only houses the auto-generated clients. Would you mind filing this issue against the IAM service team directly? Their issue track can be found at https://cloud.google.com/support/docs/issue-trackers.

Closing this for now, but let me know if you have further issues!

[2019-10-27 21:06] #419 closed

[2019-10-29 18:07] shellcromancer commented on #378
+1 to adding this feature. Would be super helpful with managing IAM as Code and restricting access in GCP

[2019-10-29 19:54] shollyman commented on #418
I'm going to move this issue over to google-cloud-go where it belongs, and will followup once moved (this repo is for the underlying discovery layer).

[2019-11-01 17:18] logol commented on #391
With b3261cb I dont see this issue anymore

[2019-11-01 17:18] #391 closed

[2019-11-01 22:46] salrashid123 commented on #378
from a comment a bit above, i've put together `ImpersonatedCredential` TokenSource here
- https://github.com/salrashid123/oauth2#usage-impersonatedcredentials

and to explicitly state, what's there isn't officially google supported.

[2019-11-02 00:52] tritone commented on #415
Fixed in 4b5ab5e

[2019-11-02 00:52] #415 closed

[2019-11-03 20:21] daviddiefenderfer opened #420 "Outputs in Deployment Config not being returned from Deployment Manager in google-api-go-client"
When generating a Deployment config, we can request specific outputs be returned such as getting the public IP after a vm has been deployed.
[code]
if you were to deploy this with the cli you would get a response with this `IPAddress` value populated.
`gcloud deployment-manager deployments create test --config config.yaml`

However, this isn't the case if deploying from the google-api-go-client. T

[2019-11-04 15:55] jadekler commented on #420
Hello! This repository unfortunately only holds generated output: the team that develops the deployment manager is not involved in this repository. Would you mind re-filing this issue in the deployment manager issue tracker located at https://cloud.google.com/support/docs/issue-trackers? That will get you directly connected to the team. :)

Closing this for now, but happy to continue the conversat

[2019-11-04 15:55] #420 closed

[2019-11-04 18:28] danscales commented on #367
I did a slight optimization with https://code-review.googlesource.com/c/google-api-go-client/+/47790

@escholtz is investigating more extensive optimizations, including the second one mentioned above ("Coalesce") and also a rewrite that would create a more explicit queue of ready Bundles, so that a goroutine that handles a bundle is not actually created until it can run right away (i.e. is handlin

[2019-11-05 04:35] rntk opened #421 "internal: MediaInfo.UploadRequest possible goroutines leaking"
Function UploadRequest (https://github.com/googleapis/google-api-go-client/blob/v0.13.0/internal/gensupport/media.go#L273) return function GetBody.

GetBody, by combineBodyMedia, call function newMultipartReader (https://github.com/googleapis/google-api-go-client/blob/v0.13.0/internal/gensupport/media.go#L120).

newMultipartReader use io.Pipe to create new io.Reader and create new goroutine to pro

[2019-11-05 08:53] kevinconaway commented on #421
I've been trying to debug this as well.  As far as I can tell, it only seems to occur when the initial request fails and thus `GetBody()` is called.  It appears that when `GetBody()` is called, the returned body is not closed and thus the pipe stays active.  From my internal testing the most common reason for the initial request to fail is `http2ErrNoCachedConn`.

This has been reported here as we

[2019-11-05 22:40] gaahrdner commented on #378
Awesome work @salrashid123, how do we go about getting this in mainline?

[2019-11-06 17:27] escholtz commented on #417
Evidence of runaway goroutine count (250,832) on 6-core 3.7ghz linux desktop.

[code]

[2019-11-06 19:37] salrashid123 commented on #378
thats actually a question for the maintainers.

@JustinBeckwith @jadekler @tbpg
 - any updates on the redesign thats mentioned back in june?

[2019-11-06 20:08] jadekler commented on #378
Unfortunately not yet. We're working on putting together a team to work on auth things like this.

[2019-11-07 21:00] escholtz opened #422 "bundler: return error when Add item type differs from example type"
When the type of the item being added to the bundle differs from the example type, reflect.Append will panic.

Perform a type check prior to reflect.Append and return an error if the types don't match.

[2019-11-07 21:34] escholtz opened #423 "bundler: prevent mixing calls to Add and AddWait"
The documentations states "Calls to Add and AddWait should not be mixed on the same Bundler". We should enforce this by setting a state variable based on the first call to Add or AddWait. Then return an error if the other method is subsequently called.

[2019-11-08 11:50] jba commented on #422
I think a panic is fine as long as we document that the type of the `Add` arg must be assignable to the itemExample type passed to `NewBundler`.

It's common for Go types that simulate genericity using `interface{}` to panic when the types don't match. See [sync.atomic.Value](https://godoc.org/sync/atomic#Value) for example.

[2019-11-12 18:15] jadekler commented on #402
We've asked some clarifying questions and have no heard back in a while. Closing this, but happy to continue the discussion.

[2019-11-12 18:15] #402 closed

[2019-11-13 15:10] Pega88 commented on #379
+1 on this - we need this to be included as a more simple setup, as simple as adding the SA JSON or scopes to create the service object
`admin.NewService(ctx, option.WithCredentialsFile("creds.json"), option.WithScopes(admin.AdminDirectoryGroupScope, admin.AdminDirectoryGroupMemberScope))`

[2019-11-13 18:17] moos3 commented on #349
I'm still seeing this issue. Can you please provide a non-moma link for the resolution on this.

[2019-11-16 08:05] manugarg opened #425 "Stackdriver APIs have been broken by the latest commit"
Commit 8a410c2 has broken Go packages dependent on the monitoring API.

For example, these are the errors from the [cloudprober build](https://travis-ci.org/google/cloudprober/jobs/612687951?utm_medium=notification&utm_source=email):
[code]

After this commit, monitoring.New() returns monitoring.APIService instead of monitoring.Service.

func New(client *http.Client) (*Service, error) {
func New(c

[2019-11-18 15:03] jadekler commented on #425
This appears to be because the monitoring service now has a [Service](https://godoc.org/google.golang.org/api/monitoring/v3#Service) type, which means that NewService() has to return something else (which it now calls an APIService).

I realize this is quite confusing - unfortunately it's a side affect of this library being auto-generated. That is: the API producers had no way of knowing that the

[2019-11-18 15:07] jadekler commented on #425
Looks like over in the oneplatform side of things they do have a `service_servce.proto` and a [`ServiceMonitoringServiceServer`](https://github.com/googleapis/go-genproto/blob/master/googleapis/monitoring/v3/service_service.pb.go#L936). So, that makes the ServiceService type option a bit more palpable.

[2019-11-18 15:09] broady commented on #425
Yeah unfortunately the APIService generation breaks packages if the Service
type was added later on.

Breaking is particularly bad if the package is a transitive dependency. I
would guess maybe OpenCensus holds a dep to this package? If there are no
significant library deps, then I'd probably lean towards breakage.

On Mon, Nov 18, 2019, 10:04 AM Jean de Klerk <notifications@github.com>
wrote:

[2019-11-18 19:26] jadekler commented on #425
Fix at https://code-review.googlesource.com/c/google-api-go-client/+/48591.

[2019-11-18 23:50] jadekler opened #426 "new services should be generated with APIService instead of Service"
Vis-a-vis https://code-review.googlesource.com/c/google-api-go-client/+/48591.

[2019-11-18 23:51] jadekler commented on #426
cc @broady

[2019-11-19 15:42] srikrsna opened #427 "sqladmin: SslCerts.CreateEphemeral returning 404 in v0.14.0 and working in v0.13.0"
We use https://github.com/GoogleCloudPlatform/cloudsql-proxy to connect to our database. It internally calls `sqladmin.SslCerts.CreateEphemeral` to create an ephemeral certificate for the encryption. With the same configuration this method is behaving differently between v0.14.0 and v0.13.0

Basically it returns a 404 in the case of v0.14 and in v0.13 it is running without any errors. I did not op

[2019-11-19 20:43] jadekler commented on #427
@kurtisvg Any idea what this is about?

[2019-11-19 20:53] kurtisvg commented on #427
@srikrsna - Can you provide more details logs and if possible the configuration you are using? Please censor any identifying information.

Are you using the proxy as a binary or just the dialer portion of it? Is the `v.0.14.0` a reference to the library version? Cloud SQL proxy doesn't have releases matching those version numbers.

[2019-11-19 21:07] jadekler commented on #427
I believe that is https://github.com/googleapis/google-api-go-client/releases/tag/v0.14.0.

[2019-11-19 21:27] srikrsna commented on #427
We are using CloudSQL proxy library in exactly the same way as shown [here](https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/master/proxy/dialers/postgres/hook_test.go).

Cloud SQL Proxy (Binary) is locked to v0.9.0 of this library and hence that is working. But since we are also using other libraries (stackdriver) that depend on the master branch of this we received this error. For now

[2019-11-19 21:44] srikrsna commented on #427
I am able to replicate the issue by cloning the cloudsql-proxy and upgrading the version from v.0.9 to v0.14. I've tested it on two different instances in different projects.

[2019-11-19 22:05] srikrsna commented on #427
I'm not sure what the fix is but I think I found the issue.

The final request that's going out is
`https://www.googleapis.com/sql/v1beta4/sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral?alt=json&prettyPrint=false`
If you notice `sql/v1beta4` is appended twice. This definitely happened due to the changes after v0.13.0 to this packaged.

Basically in one of the commits base url

[2019-11-19 22:09] shollyman commented on #427
From the diff of the sqladmin discovery document, there's quite a few things that changed in the sqladmin v1beta4 API, which were picked up as v0.14.0 when I ran the regen process last week.

* API moved to an api-specific host (www.googleapis.com -> sqladmin.googleapis.com)
* The basepath was truncated and propagated to the individual path references in the discovery doc
* Support for media and p

[2019-11-19 23:16] damondouglas opened #428 "Service account credentials in your repository"
I found service account credentials in your repository.  If this was intended and you already deactivated it, then please just close this issue.
https://github.com/googleapis/google-api-go-client/blob/master/internal/service-account.json

[2019-11-19 23:59] jadekler commented on #428
It's a dummy service account as evidenced by `"client_email": "xyz@developer.gserviceaccount.com",`.

Closing.

[2019-11-19 23:59] #428 closed

[2019-11-20 17:21] kurtisvg commented on #427
@srikrsna @shollyman - Thanks for the additional info, this does indeed help.

I'll reach out to the product team and confirm these changes are intentional, and if so update the Cloud SQL proxy/dialer as necessary.

[2019-11-21 09:30] waelmas commented on #427
I reproduced the same issue after coming across this issue 3 days ago. _(Before this discussion started so I was trying to make sure it was not a one-time thing)_

Reproduced using the default [cloudsqlpostgres](https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/master/proxy/dialers/postgres/hook_test.go) dialer. It seems to me that as mentioned by others, the recent release of googleapis

[2019-11-21 12:12] srikrsna commented on #427
I think this should be considered a breaking change considering the exposed API by this package to change the base path.

[2019-11-21 16:05] #367 closed

[2019-11-21 16:05] #417 closed

[2019-11-22 14:29] ont commented on #328
What the status of this issue?  Will it fixed in near future or we must use workaround in code?

[2019-11-22 23:58] escholtz commented on #411
I was able to reproduce this. Roughly 1 in 10,000 TestGRPCHook runs fail locally.

1. Why is there a panic? `Dial` is returned a nil `conn` pointer that the test reads from.

2. Why is `conn` nil? `grpc.DialContext` is reaching it's final `return cc, nil`. However, further up in the method is a very subtle defer that uses the named return values to stomp `return cc, nil`.

[code]

3. Why is the co

[2019-11-25 00:17] jadekler commented on #411
Good question. I'm actually not sure if there is. @dfawley do you know?

Feels like a use-of-not-ready connection kinda problem, naively. Nothing concrete pops to mind though.

Not sure, but most likely gRPC is behaving as-expected but we're doing something weird.

---------

Wish I had something more concrete than those. It seems like one that will take a bit of debugging, but might shed light on

[2019-11-25 00:52] jadekler commented on #328
Not status as-of-now. Work-around is advised for the meantime.

[2019-11-25 18:33] dan-leech opened #430 "You cannot use the verification method DNS_TXT to verify a site of type SITE"
I use `googleapis/google-api-go-client/siteverification/v1` like this:
**auth**:
[code]
**getToken**:
json for simplier, getting token is ok
[code]
**insert**:
[code]
On insert I get `You cannot use the verification method DNS_TXT to verify a site of type SITE`

Also I tried web API from [developers.gogle.com](https://developers.google.com/site-verification/v1/webResource/insert?apix_params=%7B%22

[2019-11-26 23:19] #411 closed

[2019-11-27 10:30] bigmikes opened #432 "Update doc of compute.Network to say when legacy VPC is created"
**What I did:**
I tried to create a VPC in custom mode with the following piece of code:

[code]

**What I expected:**
I expected to see a new VPC created with custom mode, since the default value of `AutoCreateSubnetworks` field in [`compute.Network`](https://godoc.org/google.golang.org/api/compute/v1#Network) is _false_.

**What I saw instead:**
I saw a new VPC created in _legacy_ mode rather th

[2019-11-27 17:32] escholtz commented on #395
Looks like this was fixed in #400?

[2019-12-03 07:47] grokify opened #433 "Slides API Client does not support Range type `FIXED_RANGE` with `StartIndex` = 0 (zero)"
Attempting to set Slides API StartIndex to 0 returns the following error:

`googleapi: Error 400: Invalid requests[2].updateTextStyle: The textRange startIndex must be specified for range type FIXED_RANGE, badRequest`

This happens while attempting the following which is a port from the Python example here:

https://www.youtube.com/watch?v=_O2aUCJyCoQ

[code]

The reason this happens is that in th

[2019-12-03 15:45] jadekler commented on #433
Looks like this question is about the slides API itself, and the error you're seeing is from the API. This repository, on the other hand, just houses the generator and auto-generated content for discovery-based APIs (https://www.googleapis.com/discovery/v1/apis). As such, no API teams monitor this issue tracker.

To get in touch with the slides team, would you mind re-filing this issue through the

[2019-12-03 16:34] grokify commented on #433
@jadekler This is actually a client library issue. Then Range struct cannot handle all variations of the API.

The Client cannot handle the following API behavior:

* When Range Type is `ALL`, `startIndex` **must not** be present
* When Range Type is `FIXED_RANGE`, `startIndex **must** be present

Right now, `startIndex` of `0` and `type` of `FIXED_RANGE` is not implemented by the client.

[2019-12-03 16:39] jadekler commented on #433
Ahh. Hm. Ok, thanks for the clarification! One-offs like this are tricky - we'll investigate.

[2019-12-03 16:41] jadekler commented on #350
Closing to defer to internal bug https://issuetracker.google.com/issues/109861216.

[2019-12-03 16:41] #350 closed

[2019-12-03 16:42] jadekler commented on #394
cc @kurtisvg

[2019-12-03 16:46] jadekler commented on #430
Unfortunately these client libraries are all auto-generated: the API teams typically don't monitor these issues. I've reached out to the team that owners siteverification and hope to hear back soon.

[2019-12-03 16:49] jadekler commented on #280
@broady does this seem reasonable to do client-side? It seems to, from my perspective, but not sure if there's some reason why an API would accept a field that client doesn't know about 🤔

[2019-12-03 16:50] #302 closed

[2019-12-03 16:50] #310 closed

[2019-12-03 16:50] #315 closed

[2019-12-03 16:51] jadekler commented on #316
Looks like this won't be happening in the foreseeable future, regrettably. :/ Closing this. Please ping if this is still an urgent need and I'll follow-up with the backend team.

[2019-12-03 16:51] #316 closed

[2019-12-03 16:53] jadekler commented on #329
Looks like after almost a year there are no other major requests for this. Since it seems fairly easy (though tedious) to reproduce this functionality, I'll close this for now. Happy to continue the conversation though.

[2019-12-03 16:53] #329 closed

[2019-12-03 17:04] jadekler commented on #340
https://code-review.googlesource.com/c/google-api-go-client/+/49070

[2019-12-03 17:11] kurtisvg commented on #394
@ozikot - Although not very intuitive, you can tell an instance is stopped but ready to run when `state=RUNNABLE` and `settings.activationPolicy=NEVER`

[2019-12-03 17:11] #394 closed

[2019-12-03 17:48] #340 closed

[2019-12-03 19:35] lookuptable opened #434 "Support `WithProxy(proxy string)` ClientOption"
We have a binary that talks with multiple external services, and only communication with some services needs to be proxied. Thus we can not specify the proxy as an environment variable (as suggested in #221) since that will force all traffic to go through the proxy.

I'm wondering if it is okay to have a `WithProxy(proxyURL string)` `ClientOption` so that we can selectively configure proxies when

[2019-12-03 19:36] lookuptable commented on #434
cc @sarandia

[2019-12-03 19:41] jadekler commented on #434
Sounds like what you're looking for is https://godoc.org/google.golang.org/api/option#WithEndpoint?

[2019-12-03 19:53] sarandia commented on #434
We are trying to use it in the context of https://github.com/googleapis/google-api-go-client/blob/master/bigquery/v2/bigquery-gen.go. What should the endpoint be, if, say we're using a proxy with the URL 127.0.0.1:8888, and our request needs to be routed to https://bigquery.googleapis.com/bigquery/v2/?

The net/http library have the ability to define its own proxy https://golang.org/pkg/net/http/#

[2019-12-03 22:07] jadekler commented on #434
So, I take it you would like the following?

[code]

Is so, it seems like your proxy should do the redirecting, not anything on the client library side.

I've never seen this, and don't really understand the docs. What does it do? Change the endpoint dynamically based on the outgoing request?

Also, if you'd like to use that, it seems like you could create a custom http client with your own http t

[2019-12-08 21:01] bzz opened #435 "Batched User.messages.get requests for GMail API"
A quick glance at the source code of Gmail API go client as well as the blog post on ["Discontinuing support for global HTTP batch endpoints"](https://developers.googleblog.com/2018/03/discontinuing-support-for-json-rpc-and.html) both seems to indicate that [getting](https://developers.google.com/gmail/api/v1/reference/users/messages/get) multiple messages in a batch is not supported.

It would be

[2019-12-09 20:18] sarandia commented on #434
I am not entirely clear what the net/http is implemented - it looks like it's trying to re-write the request based on the proxy endpoint provided.

We could use that, but we are trying to use this to access the BigQuery API. If we use WithHTTPClient(), then the BigQuery client will be created without applying the WithToken() option. This means that Oauth won't be set up properly. See https://githu

[2019-12-09 20:26] jadekler commented on #434
You can use https://godoc.org/google.golang.org/api/transport/http#NewClient to get an authentication client (and pass it WithToken). :)

[2019-12-09 20:40] sarandia commented on #434
Yeah, this is what I described as a work-around, but it's not the best solution because:
1. I will still need to copy https://github.com/golang/go/blob/master/src/net/http/transport.go#L42, with a bunch of magic numbers in the struct. After I created the client using WithToken, I will need to do something like
`baseTransportWithProxy := &http.Transport{
		Proxy: e.bigQueryProxy,
		DialContext: (&n

[2019-12-09 22:13] jadekler commented on #434
You can use `http. DefaultTransport` and just override the single proxy field.

Yes - that seems correct. It doesn't seem much to maintain, to me. In total it seems like - besides your proxy - it's only about 4 extra lines of code. This seems very far within reasonable to me.

[2019-12-10 18:10] jadekler commented on #432
https://code-review.googlesource.com/c/google-api-go-client/+/49350

[2019-12-10 18:21] jadekler commented on #413
https://code-review.googlesource.com/c/google-api-go-client/+/49332

In the meantime, you should be able to add a `ForceSendFields` entry to cover this.

[2019-12-10 18:25] jadekler commented on #401
https://code-review.googlesource.com/c/google-api-go-client/+/49333

[2019-12-10 18:26] jadekler commented on #357
This appears to now be fixed. Closing.

[2019-12-10 18:26] #357 closed

[2019-12-10 18:34] bigmikes commented on #432
Thanks for making the change @jadekler. One question though, now that `AutoCreateSubnetworks` is trinary, what is the difference between `nil` and `false`? Is it the following?

- True: VPC in auto mode;
- False: VPC in custom mode;
- Nil: Legacy VPC;

If so, would it be better to state this in comment?

[2019-12-10 19:08] jadekler commented on #432
Correct, yes.

[2019-12-10 19:50] #401 closed

[2019-12-13 19:56] jadekler commented on #435
Hello! Unfortunately these clients are in maintenance mode - we won't be adding new features.

[2019-12-13 19:56] #435 closed

[2019-12-13 19:57] jadekler commented on #396
Hello! Unfortunately these clients are in maintenance mode - we won't be adding new features.

[2019-12-13 19:57] #396 closed

[2019-12-13 22:26] bzz commented on #435
Thank you for prompt reply! @jadekler is there any advice on what client lib should be used instead?

[2019-12-16 15:29] jadekler commented on #435
@bzz I'm honestly not sure - this repository / issue tracker is just for the auto-generated clients. We're pretty out of the loop about what the future plans for individual APIs are, I'm afraid. :/ It does look like gmail has a support page - https://developers.google.com/gmail/api/support. I would suggest asking there what the recommendation for bulk email downloads is. If you have trouble gettin

[2019-12-17 14:16] kmlx commented on #401
thank you for this @jadekler

[2019-12-17 17:03] #425 closed

[2019-12-18 17:00] tommed opened #436 "Cannot deploy Cloud Run using API: badRequest INVALID_ARGUMENT (no further details provided)"
## Client

Run-v1: `google.golang.org/api/run/v1`

## Describe Your Environment

* JetBrains GoLand IDE
* go 1.13.4
* `google.golang.org/api v0.15.0` (have also tried with `google.golang.org/api v0.14.0`, same result)
* Google Cloud Run

## Expected Behavior

Ability to deploy a new Cloud Run Service object using the golang library.

## Actual Behavior

Attempting to deploy a new Cloud Run service

[2019-12-19 16:13] jadekler commented on #436
Hello! This appears to be an issue about the cloud run API rather than the auto-generated library for cloud run. The cloud run team does not monitor this (auto-generator specific) issue tracker - would you mind using one of the support channels listed on their product page? https://cloud.google.com/run/docs/support

Closing for now, but happy to continue the conversation.

[2019-12-19 17:34] #395 closed

[2019-12-19 17:36] #423 closed

[2019-12-19 20:09] willzjc commented on #379
Appears to be a feature that more and more companies are pursuing - worth to add this feature.

[2019-12-19 22:45] bjornleffler opened #437 "Raise default GCS ChunkSize to 16MB"
The sweet spot for uploading larger objects to GCS is using a ChunkSize around 16 MB. The default is currently 8MB. For larger (100MB) objects, uploaded from GCE, this results in a 10% performance improvement. I propose 16MB, rather than the 15MB chosen for the Java API, as it aligns nicely with 8MB boundaries.

This issue is similar to
https://github.com/googleapis/java-core/issues/86
Credit to @

[2019-12-20 00:35] bjornleffler commented on #437
Submitted https://github.com/bjornleffler/google-api-go-client/pull/1 to fix this.

[2019-12-20 00:42] tritone commented on #437
We use gerrit for PRs to this repo (see https://github.com/googleapis/google-api-go-client/blob/master/CONTRIBUTING.md ). Feel free to create a PR using the process outlined there, or I can do so on your behalf if you don't feel like going through the setup steps.

[2019-12-20 09:24] tommed commented on #436
Thanks, have done. Link for reference:

https://issuetracker.google.com/issues/146592591

[2019-12-31 06:23] nifflerfox commented on #434
it works. But I think WithProxy is a good option, or you can give an official demo to show how to build client with proxy.

[2020-01-03 15:03] hasheddan commented on #278
Hi @jadekler, any updates on this? Thanks for looking into it!

[2020-01-03 15:46] jadekler commented on #278
I've not heard any news, regrettably. cc @codyoss

[2020-01-03 22:41] y0ssar1an opened #438 "compute-gen.go is huge"
I'm not able to vendor this file because my company's git policy forbids checking in files larger than 5 MB. This file is 5.3 MB. Is there any way to shrink it?

[code]

[2020-01-06 19:39] codyoss commented on #438
On our end this is an auto-generated file that gets updated as the backing services server definitions gets updated, so I don't think there are any changes we can make to shrink the file size. That being said, on your end have you considered removing the docs from your vendored code? That should save a few MB.

[2020-01-06 19:39] #438 closed

[2020-01-06 21:19] logsnitch commented on #378
I've spent literally days trying to get this working and have gotten nowhere. It is wild that there is no built in support for impersonating accounts

[2020-01-06 23:05] logsnitch commented on #379
+1 I need to use domain wide delegation with an impersonated service account. Going to try @julianvmodesto's snippet but this really needs to be in the SDK

[2020-01-08 21:14] tritone commented on #437
Since I didn't hear from you, I opened https://code-review.googlesource.com/c/google-api-go-client/+/50290 . Feel free to review it or let me know if there's anything else I can add. Thanks for you help!

[2020-01-08 22:49] #437 closed

[2020-01-09 17:51] carnott-snap opened #439 "oauth2: generate token interface"
It appears that neither `oauth2/v1` nor `oauth2/v2` implement a client for `https://oauth2.googleapis.com/token`. Would it be possible to add this api interface to the appropriate package?

[2020-01-09 20:43] codyoss commented on #439
Are you looking for this: https://github.com/golang/oauth2/blob/0f29369cfe4552d0e4bcddc57cc75f4d7e672a33/google/google.go#L24

[2020-01-09 20:59] carnott-snap commented on #439
I have implemented a manual client with that value, but was wanting a full `TokenCall` interface:
[code]

[2020-01-10 20:25] hakimelek opened #440 "Support extra headers parameter for pagespeedonline"
As of pagespeedonline v5, it seems like passing extra HTTP headers is not supported when running a test. This is useful when passing custom cookies or overriding the user-agent.

Other controls supported by the [lighthouse agent](https://github.com/GoogleChrome/lighthouse#cli-options) are nice to have as well.
[code]

[2020-01-10 22:43] jqll opened #441 "grpc.RoundRobin and grpc.WithBalancer no longer exist"
We are using this library and seeing these errors:

../google.golang.org/api/option/option.go:153:14: undefined: grpc.RoundRobin
../google.golang.org/api/option/option.go:154:42: undefined: grpc.WithBalancer

Sounds like gRPC removed these legacy APIs: https://github.com/grpc/grpc-go/commit/336cf8d76145dc5ebd517fd9c19e14c6822450b3

[2020-01-10 23:07] menghanl commented on #441
gRPC is pined at version v1.20.1, so this shouldn't break until the version is bumped:
https://github.com/googleapis/google-api-go-client/blob/64f53cc407027fc5c680faf0e33aae2a6bbdf18f/go.mod#L21

[2020-01-10 23:12] nolanmar511 commented on #441
We're not yet using go modules in the test cases which we saw this failure with, so that might explain why pinning within google-api-go-client/go.mod didn't have an effect for our use case.

Is it expected, then, that this change will break users who aren't using go modules?

[2020-01-10 23:50] dfawley commented on #441
This change will break users who are using go modules as well due to MVS.

Unfortunately, these APIs must be removed.  They were marked as experimental since v1.0 and have been marked with deprecation tags for 6 months.  Removing them is allowed under the [grpc-go versioning policy](https://github.com/grpc/grpc-go/blob/master/Documentation/versioning.md).

[2020-01-11 00:07] nolanmar511 commented on #441
@menghanl -- Is it possible to confirm (or check) that using go modules will fix this issue? If so, is that our only work-around.

I'm a bit hesitant to attempt to adopt go modules right now if it won't necessarily provide a fix.

[2020-01-11 00:57] dfawley commented on #441
If you use go modules in your own project, you _can_ pin a specific version, which would work:

https://github.com/golang/go/wiki/Modules#when-should-i-use-the-replace-directive

Alternatively, you could vendor grpc at an older version.

[2020-01-12 08:31] nolanmar511 commented on #441
Thanks. I'll work on switching to using go modules. Perhaps my team missed some sign that this was coming, but it's been a difficult surprise for us.

Since it seems like this library now exclusively supports users who also use go modules, it would be nice to see that mentioned on the README.md for this repo. If it's documented somewhere else, a pointer to that documentation would be great.

[2020-01-12 16:50] max202021 commented on #441
Any updated on this? it is blocking production google cloud build

[2020-01-12 18:26] zdenham commented on #441
I am currently using go modules in my project, and have tried using the replace directive, but still getting the above error.

@dfawley am I missing something here?

[code]

[2020-01-13 16:02] cosmin8905 commented on #441
Update:
The issue still appears to be happening:

go get -u google.golang.org/api/option
# google.golang.org/api/option
/Users/cosmin/go/src/google.golang.org/api/option/option.go:153:14: undefined: grpc.RoundRobin
/Users/cosmin/go/src/google.golang.org/api/option/option.go:154:42: undefined: grpc.WithBalancer

[2020-01-13 17:05] stapelberg commented on #441
FYI: to pin gRPC to the latest released version (before the symbols were removed), use:

[code]

[2020-01-13 17:07] dfawley commented on #441
NOTE: this will only work on a top-level `go.mod` file, i.e. the one that contains the go binary you are building.  It does not work in a library's `go.mod`, so it could not be applied in this repo.

[2020-01-13 17:08] dfawley commented on #441
Sent #442 to remove the usages of the experimental gRPC API.  Anyone depending on this experimental APIs will be broken, but users not depending on them will be unbroken.

[2020-01-13 17:32] Niek-Okido commented on #441
i made line 153 and 154 as command that is the one that causing the issue :
this is not perfect but when you are sure you are not using this function will be no problem  so replace the : \go\src\google.golang.org\api\option\option.go with the the text below

kind regards Niek Tuytel

`// Copyright 2017 Google LLC.
// Use of this source code is governed by a BSD-style
// license that can be found i

[2020-01-13 17:34] Niek-Okido commented on #441
`func (w withGRPCConnectionPool) Apply(o *internal.DialSettings) {
	// balancer := grpc.RoundRobin(internal.NewPoolResolver(int(w), o))
	// o.GRPCDialOpts = append(o.GRPCDialOpts, grpc.WithBalancer(balancer))
}
` this is what i did and work for me

[2020-01-13 17:40] Niek-Okido commented on #441
if you get stumbled you can get message with me on discord : Okido#3690

[2020-01-13 17:46] chadit commented on #441
this also broke the googles own docs api for sheets.
https://developers.google.com/sheets/api/quickstart/go

[2020-01-13 19:11] Fyb3roptik commented on #441
I am unable to switch to Go Modules right now and this has our Production systems down! PLEASE FIX!!!!!

[2020-01-13 20:13] codyoss commented on #441
@Fyb3roptik I would recommend vendoring google.golang.org/grpc=google.golang.org/grpc@v1.26.0 as a workaround

[2020-01-13 20:28] Fyb3roptik commented on #441
This is being included by one of the many libraries we are using. Not sure which one, so this is NOT an option as said previously. All of our production servers are down because they all break on deployment currently.

[2020-01-13 20:34] codyoss commented on #441
Do you use any sort of dependency management? There are ways to make this work with tools like dep if you happen to be using that: https://github.com/golang/dep/blob/master/docs/FAQ.md#how-do-i-constrain-a-transitive-dependencys-version

[2020-01-13 20:47] Fyb3roptik commented on #441
No, we deploy to elastic beanstalk and use go get in the Dockerfile currently. I know there is a better way, but too bogged down to get to it =/

[2020-01-13 20:51] Fercho120 commented on #441
@Niek-Okido After following your suggestion sadly I got another error:

./fileSystemHelpers.go:174:17: assignment mismatch: 3 variables but mimetype.DetectReader returns 2 values

Do you have any idea what could be causing this? Do you use go Modules or anything?

[2020-01-13 21:10] codyoss commented on #440
To do this, you could provide a custom client: https://stackoverflow.com/questions/51325704/adding-a-default-http-header-in-go

ClientOption: https://godoc.org/github.com/googleapis/google-api-go-client/option#WithHTTPClient

[2020-01-13 21:12] #440 closed

[2020-01-13 21:14] codyoss commented on #441
Thanks to the grpc, this should now be working if you are pulling head. We plan to address this issue quickly to no longer rely on the code that will be removed again.

[2020-01-13 21:17] dfawley commented on #441
Note that the replacement API is also still experimental, unfortunately.  It should not be referenced from any non-experimental packages, to avoid future breakages.  Hopefully there are non-experimental ways to accomplish the same things - we can discuss options offline if you would like.

[2020-01-13 21:45] cosmin8905 commented on #441
TY Confirming working 👍

`EE00683-MacBook-Pro:build cosmin$ go get -u -v  google.golang.org/api/option`
get "google.golang.org/api/option": found meta tag get.metaImport{Prefix:"google.golang.org/api", VCS:"git", RepoRoot:"https://code.googlesource.com/google-api-go-client"} at //google.golang.org/api/option?go-get=1
get "google.golang.org/api/option": verifying non-authoritative meta tag
google.g

[2020-01-13 23:03] Niek-Okido commented on #441
contact me on Discord!!

Okido#3690

[2020-01-13 23:12] Niek-Okido commented on #441
@Fercho120 can you contact me on discord ? Okido#3690 so we can look both on it .
and yeah i used Go modules from this .

[2020-01-14 07:28] marwan-at-work opened #443 "run: cloud run returns 404 for listing services"
To reproduce:

[code]

Expected: nil

Got:

[code]

Hacking around the codebase, if I change the URL version from `apis/serving.knative.dev/v1` to just `v1` , then I get the response correctly.

[2020-01-15 02:43] Fercho120 commented on #441
@Niek-Okido I've just read your response, thanks for your willingness to help, after some work I've realized that the error was caused by some changes introduced in golang's mime package last update, an problem that I've already solved and wasn't related to this issue.

[2020-01-15 12:07] eminano opened #444 "sheets: How to get real time updates for spreadsheets?"
Hi!

We're trying to refresh google sheets in real time and it's proving difficult.

The [push notifications ](https://developers.google.com/drive/api/v3/push)(webhooks) of the google drive API are only sent as frequently as every 3 min (they are batched after the first update), which isn't frequent enough for real time updates.

Retrieving the ```modifiedTime``` for a spreadsheet using the google

[2020-01-16 02:57] Fyb3roptik commented on #441
I appreciate the quick response from everyone!

[2020-01-16 19:25] tbpg commented on #444
cc @asrivas (can't assign for some reason).

[2020-01-21 22:22] sqrrrl commented on #444
TL;DR - There's no API for real time updates at the moment.

Best you can do is one of 3 options:

* As you're already aware, Drive an push updates for sheets but changes are coalesced and only sent around every 3 minutes or so.
* Poill, as you also mentioned. Even without the modified time in the sheet, you can still detect changes in the sheet by comparing the raw response. Main downside is it c

[2020-01-27 13:30] salrashid123 commented on #379
@julianvmodesto  i added in a variation of your code into a set of unofficial oauth2 `TokenSource` that will work with GCP

https://github.com/salrashid123/oauth2#impersonated-credentials-with-domain-wide-delegation
https://github.com/salrashid123/oauth2/blob/master/google/impersonate.go#L137

[2020-01-30 10:35] colega commented on #427
This appears to be fixed by changing the hardcoded certs source path in `cloudsql-proxy`: https://github.com/GoogleCloudPlatform/cloudsql-proxy/commit/eb5e09ef70a515db75cc59caaee50d29638ad5db#diff-2e191ab6bb0c70e18327a004be427a10R75

[2020-01-31 06:02] ozikot commented on #394
Thank you very much.
I will look at it.

[2020-02-04 00:44] broady opened #446 "generator: broken by unknown oauth scope"
[code]

[2020-02-04 01:38] broady opened #447 "generator: gl-go value is not very useful"
This library sends a header with each request:
`x-goog-api-client: gl-go/1.12.5 gdcl/....`

`1.12.5` is the version of Go that the generator was built with. This is not very useful. It would be better to make this a static value (so it doesn't look useful) or use the version of Go that the user is using (but I can't think of a good reason to do that either).

/cc @JustinBeckwith @tbpg

[2020-02-04 14:24] #446 closed

[2020-02-05 12:07] kacper-zylka opened #448 "Broken sql/sqladmin package"
Hello,

I've been getting this error since yesterday in our build tool, here it is reproduced:
[code]

I believe [this](https://github.com/googleapis/google-api-go-client/commit/8c19f07ca61ae7b417f580832f8f7a91c8e16de8#diff-fc3696d32750cf4e3f741d7d50fda5f4L42-R42) change:

[code]
 in ` sqladmin/v1beta4/sqladmin-gen.go` in release 0.16.0 is responsible. It looks like the package `sqladmin` was merg

[2020-02-05 19:47] tbpg commented on #448
Seems to be a problem on our side -- looking into it. Thank you for reporting this!

[2020-02-05 20:02] broady commented on #448
Very strange. The changes to the JSON discovery doc should not have caused that.

https://code-review.googlesource.com/c/google-api-go-client/+/51393/2/sqladmin/v1beta4/sqladmin-api.json#25

Will investigate.

[2020-02-05 23:05] broady commented on #448
The discovery doc changed substantially back in November:
https://code-review.googlesource.com/c/google-api-go-client/+/48474/2/sqladmin/v1beta4/sqladmin-api.json#b32

Strangely, it looks like sqladmin hadn't been re-generated since my manual re-generation (8c19f07ca61ae7b417f580832f8f7a91c8e16de8) even though the discovery doc had changed several times.

The root cause is certainly that the disco

[2020-02-05 23:13] broady commented on #448
I really don't understand what happened, but I regenerated everything again and now it's back to the way it should be.

https://code-review.googlesource.com/c/google-api-go-client/+/51550

[2020-02-05 23:40] broady commented on #448
This is the diff between running `make all` vs `make local`:

[code]

[2020-02-06 16:10] #448 closed

[2020-02-06 16:36] tbpg commented on #448
Next step is a `v0.17.0` release, but leaving this closed.

You can depend on `v0.16.1-0.20200206160949-b1dd6985e76a` until we get that out.

[2020-02-06 17:47] broady commented on #448
v0.17.0 is tagged.

[2020-02-07 10:13] kacper-zylka commented on #448
Thank you all for looking into this so quickly!

[2020-02-07 10:19] broady commented on #448
Thank you for flagging it.

[2020-02-07 19:03] chaoky commented on #283
what about private apis such as mybusiness
https://developers.google.com/my-business/content/set-up-java-client

[2020-02-07 20:34] chaoky commented on #283
ended up doing this `./google-api-go-generator --api_json_file "/path/to/discover.json" -gendir "."`

[2020-02-10 00:34] rogerhub opened #449 "internal/gensupport: resumable upload doesn't retry network errors or unexpected EOF when wrapped in url.Error"
I use the [google-cloud-go GCS client](https://github.com/googleapis/google-cloud-go/tree/master/storage), and I noticed that object uploads were failing sometimes with error messages like:

[code]

The GCS library delegates retry behavior to this package (google-api-go-client) -- see googleapis/google-cloud-go#1507 and [this test case](https://github.com/googleapis/google-cloud-go/blob/master/sto

[2020-02-10 14:12] tbpg commented on #449
@broady, do you know if this is intentional? Marking as a P2 bug for now, but feel free to change.

[2020-02-11 16:40] tbpg commented on #443
@grayside, will you take a look at this?

[2020-02-11 20:34] broady commented on #441
Quick update... Next steps:

- tag a release of all modules in google-cloud-go
- submit [CL 50573](https://code-review.googlesource.com/c/google-api-go-client/+/50573)
- tag a release of google-api-go-client

[2020-02-12 19:29] nodirg opened #450 "bigquery: Inserter.Put does not retry on "http2: stream closed" transient error"
We observe `bigquery.Inserter.Put` returning errors that end with "http2: stream closed". It appears to be a transient error, but `Inserter.Put` does not treat it as such: https://github.com/googleapis/google-cloud-go/blob/588a6f71e69168c9ec3ed85f848223be3b44be9d/bigquery/bigquery.go#L146
I think it is a bug.

[2020-02-14 16:12] rick-pri commented on #427
This is not the case as far as I can tell.  Running through the following to compile the proxy:

[code]

and attempting connecting to a Postgres 11 CloudSQL instance with a cloudsql proxy compiled from master still results in:

[code]

Of course, I can check the repo out in `~/go/src/github.com/GoogleCloudPlatform/cloudsql-proxy/cmd/cloud_sql_proxy` at the 1.16 tag and then building the binary wor

[2020-02-14 18:20] kurtisvg commented on #427
This issue is fixed in https://github.com/GoogleCloudPlatform/cloudsql-proxy/commit/eb5e09ef70a515db75cc59caaee50d29638ad5db.

Please make sure you are either using a version of GoogleCloudPlatform/cloudsql-proxy past that commit, or that the version of `google-api-go-client` is v0.13.0 or before.

If you are still seeing the issue with `/sql/v1beta4/sql/v1beta4` it means you there is a mismatch.

[2020-02-14 18:20] #427 closed

[2020-02-15 01:39] geojaz opened #451 "compute: ListManagedInstances() seems to be missing Pages() method"
In the v1 version of the api, i can't find a Pages method on the `InstanceGroupManagersListManagedInstancesCall` (which I believe is returned by `Compute().InstanceGroupManagers().ListManagedInstances()`). This method seems to be available on other permutations of InstanceGroups and existed in v0.beta.

Am I missing something or did this one get overlooked? Thanks!

[2020-02-17 03:09] dougreese opened #452 "drive: FilesCreateCall.Media does not support file size"
In the v3 API, using `Files.Create(...)` with `Media` support does not allow for specifying total file size.  As a result, the `ProgressUpdater` function supplied always receives a `total` value of 0.

Using `ReusableMedia` does support total size, but the [doc states](https://godoc.org/google.golang.org/api/drive/v3#FilesCreateCall.ResumableMedia):

The only way to calculate upload progress is to

[2020-02-17 06:43] fitzboy opened #453 "can't use PATCH/update to un-suspend a user"
I am trying to use Update to reinstate (un-suspend) a user, but it is a no-op because I am setting Suspended: false, but because `json:"suspended,omitempty"`, the json marshaller will omit the setting and hence they are not reinstated... I suspect it is the same with other fields like IncludeInGlobalAddressList and IpWhitelisted... Typically we would want to make it a *bool, but that would change

[2020-02-17 07:55] dim commented on #427
@kurtisvg would it be possible to tag a new release?

[2020-02-17 08:55] rick-pri commented on #427
As far as I can tell this was merged into master so when I did the `go get` I should have compiled from master and had that change in it, which was why I thought that the issue was here.  It seems that the issue is that the CloudSQL Proxy is pulling in this repo at version `v0.15.0`.

I'll do this and reference this issue.

[2020-02-18 14:50] tbpg commented on #451
@grayside, is this expected?

[2020-02-18 15:00] tbpg commented on #452
@asrivas, any thoughts on if we should expose this?

Perhaps @broady has ideas?

[2020-02-18 15:02] tbpg commented on #453
What API is this for? Could you include a full code sample showing what you tried/ what you're trying to do?

[2020-02-18 17:20] codyoss commented on #444
Closing this for now due to inactivity. Please feel free to reopen if you have some more details.

[2020-02-18 17:20] #444 closed

[2020-02-19 17:58] fitzboy commented on #453
I am trying to use this:
https://godoc.org/google.golang.org/api/admin/directory/v1#UsersUpdateCall.Do

and here is the User struct which shows the omit empty: https://github.com/googleapis/google-api-go-client/blob/master/admin/directory/v1/admin-gen.go#L3595

here is the code snippet:
import (	admin "google.golang.org/api/admin/directory/v1" )
gconf := &jwt.Config{
		Email:      envy.Get("GOOGLE

[2020-02-20 17:16] grayside commented on #443
I'm working to reproduce this to confirm I understand the problem.

Thanks marwan for the clear report!

[2020-02-20 18:03] hmvhamide opened #454 "drive: FilesCreateCall does not support uploading zip files"
It gives "Error 400 Bad Request" when the content passed by Media() is a zip/tar file.

[2020-02-20 18:09] tbpg commented on #454
Would you mind sharing the code you're using so we can reproduce+debug?

[2020-02-21 10:09] jsun6383 opened #455 "dns.ResourceRecordSet uses rrdatas instead of rrdata"
The json encoding value for rrdata in dns.ResourceRecordSet is using rrdata**s**. However, cloud dns logs in google stack driver uses rrdata (without the s). I'm not sure if this is an issue with cloud dns or the go api client.

The problem means i cannot use dns.Change to unmarshall the json from the logs in stackdriver. As there is a mismatch in the encoded key.

**code reference:**
https://gith

[2020-02-21 16:03] codyoss commented on #455
Thanks for the report. I will look into this a little more and get back to you.

[2020-02-21 16:33] hmvhamide commented on #454
I modified example/main.go to reproduce the bug:
[main.go.txt](https://github.com/googleapis/google-api-go-client/files/4237032/main.go.txt)
rename the file back to main.go and run it with parameters:
 ./main -clientid=<client_id> -secret=<secret_id> <a zip file name> x.zip <a drive folder id to upload to>

This is what it returns:
 2020/02/21 11:29:24 Got drive.File, err: (*drive.File)(nil), goog

[2020-02-21 19:57] tbpg commented on #454
Looks like the MIME type in that file is `application/vnd.google-apps.file`. From https://pkg.go.dev/google.golang.org/api/drive/v3, it sounds like you might need to customize that (or omit it). Otherwise, it will try to be imported, which may not work with zip files.

(I haven't used this API, so this is just an idea. :smile:)

[2020-02-21 20:32] hmvhamide commented on #454
Thanks for the tip. It worked :))

[2020-02-21 20:36] tbpg commented on #454
Woohoo! Glad it worked. Let us know if you have any other issues.

[2020-02-21 20:53] tbpg commented on #453
Thanks for the info. This does seem like a bug. But, I'm not sure what the fix is yet.

[2020-02-21 20:54] tbpg commented on #453
In google-cloud-go, we have the `optional` package, which might be inspiration for how we should fix this: https://github.com/googleapis/google-cloud-go/blob/master/internal/optional/optional.go

I don't think we can remove the `omitempty` given the default would be `false` everywhere.

[2020-02-21 20:57] tbpg commented on #453
A "breaking" change (`bool` -> `*bool`) for this might be OK, given it would be fixing a bug?

(Not committing to this, just throwing the idea out there.)

[2020-02-22 01:10] shollyman commented on #450
Thanks for the report.  Relocating this to the proper repository (google-cloud-go), as the one this issue was reported in (google-api-go-client) contains the underlying discovery-generated artifacts.

[2020-02-24 21:31] codyoss commented on #455
I don't think this is an issue with either. Just a subtle difference between the rest based api here and the backend proto response. I think you will just have to create your type for this.

[2020-02-24 21:31] #455 closed

[2020-02-25 01:47] grayside commented on #443
Hi Marwan, could you update your client library and try again?

This code works for me:

[code]

Running this produced:
[code]

I also went a bit deeper to check a more regional resource, inserting this into main():

[code]

[2020-02-25 02:21] Random-Liu commented on #434
+1

[2020-03-02 13:18] tbpg opened #457 "fcm: v1/fcm-gen.go has broken line breaks in comment"
See #456.

[2020-03-03 03:11] #441 closed

[2020-03-04 00:47] seslattery opened #458 "serviceusage: docs for batchEnable parent parameter should be projectId, not project number"
The following comment should be changed from project number to project Id.

`//       "description": "Parent to enable services on.\n\nAn example name would be:\n`projects/123` where `123` is the project number.\n\nThe `BatchEnableServices` method currently only supports projects.",`
https://github.com/googleapis/google-api-go-client/blob/master/serviceusage/v1/serviceusage-gen.go#L5944

It would

[2020-03-04 17:53] codyoss commented on #458
Thank you for the report!

[2020-03-06 11:38] porjo opened #459 "youtube: partner API, claims and assets"
As per: https://developers.google.com/youtube/partner & https://developers.google.com/youtube/partner/upload_claim_sample

I'm wondering if this part of the API is yet to be implemented for Go?

[2020-03-06 15:41] codyoss commented on #459
If you are looking for the partner api, checkout https://pkg.go.dev/google.golang.org/api/youtubeanalytics/v2?tab=doc. Hope that helps!

[2020-03-06 15:41] #459 closed

[2020-03-06 23:23] porjo commented on #459
I'm looking for the `claims` and `assets` objects described here:
- https://developers.google.com/youtube/partner/docs/v1/claims
- https://developers.google.com/youtube/partner/docs/v1/assets

But not seeing those in any of the Go doc.

[2020-03-09 07:07] rogerhub commented on #449
Let me know if there's anything I can do to help debug this.

[2020-03-10 16:07] gingersnapz opened #460 "Unpopulated values for returned Service Perimeters"
The service perimeters struct highlights expected output to include:

CreateTime
UpdateTime
PerimeterType

However, the raw response for a list call (type ListServicePerimetersResponse) has null values for both CreateTime and UpdateTime for each returned service perimeter. Also, PerimeterType only returns a value if the type is a bridge: "PERIMETER_TYPE_BRIDGE". So "PERIMETER_TYPE_REGULAR" is neve

[2020-03-11 15:34] codyoss commented on #460
Hey, sorry to hear you are having trouble with the api. I don't think I am much help in this case. You would need to ask this to the service team. This issue tracker deals more with the libraries themselves.(All clients are generated code). If you would like to open up a issue with the service team here is the link to do so: https://issuetracker.google.com

[2020-03-11 15:34] #460 closed

[2020-03-11 23:41] gbooth27 opened #461 "Drive API V3 file copy call documented poorly"
https://godoc.org/google.golang.org/api/drive/v3#FilesService.Copy I am trying to use this function but it is super unclear what the parameters are supposed to be there is both a argument for `fileId` and for an actual file struct  `file` there is no indication of which argument represents which file. is the `fileId` for the copied file? or is it for the destination file that will have the origina

[2020-03-12 14:42] codyoss commented on #461
Hey, sorry you are having issues with the docs. If you need some more information on the api this can be a good resource: https://developers.google.com/drive/api/v3/reference/files/copy.

From those docs it looks like you are copying the fileId passed in with patch semantics.

[2020-03-12 14:42] #461 closed

[2020-03-16 20:24] AeroNotix opened #463 "Unexpected memory usage when uploading to storage buckets"
Hi,

We have an application that copies in memory bytes to a Google storage bucket. Since the application literally reads bytes off the wire, then copies them into a bucket akin to the following code:

[code]

In our use-case there may be a lot of parallel requests firing off. We would like to have a well-known upper bound on the memory consumption of this application.

We attempted to achieve tha

[2020-03-17 14:46] codyoss commented on #463
I will need to investigate this more and get back to you.

[2020-03-19 02:26] fitzboy commented on #453
I found out how to do this. The answer was right in the documentation... I need to specify the Suspend field in the ForceSendFields array... https://github.com/googleapis/google-api-go-client/blob/master/admin/directory/v1/admin-gen.go#L3734

[2020-03-19 02:26] #453 closed

[2020-03-19 05:43] Scoffins commented on #459
Any news on whether this will be implemented? Thanks.

[2020-03-19 11:11] tbpg commented on #453
Ahh. I'm gad you got it figured out and thanks for letting us know!

[2020-03-19 14:57] codyoss commented on #459
I don't believe there is anything announced publicly. The clients in this repository are auto-generated and appear as clients are released publicly. If you have a support contract, I suggest you reach out through that on timings/need. Sorry I can't be of more help.

[2020-03-20 15:16] codyoss commented on #463
I am not sure that there would be a good spot to add a pool. Right now every call has its own little buffer. Each request has the potential to have a different buffer size. So if n different buffer sizes exist, you would have n pools. Also, I am not sure how you would shut these down to get the memory back eventually.

[2020-03-20 15:46] codyoss commented on #434
Instead of adding another configuration option what if we just used the function from the stdlib to detect a known environment variable. We could set our default proxy to this function:
https://github.com/golang/go/blob/776a9d0958973bff6a66e61baa6a9a240ada4255/src/net/http/transport.go#L42-L43

[2020-03-20 16:09] AeroNotix commented on #463
@codyoss there's potential here for applications to improve their memory usage if they had control over the buffer which `NewMediaBuffer` uses though.

I wonder how much code is out there which has varying ChunkSizes within the same code base.

The pools can be part of the `BucketHandle` as well, rather than just a static package-level pool (even if you allowed for varying chunk sizes, e.g. a `map

[2020-03-20 16:45] codyoss commented on #463
Right now the use of `NewMediaBuffer`is contained to this repository. It might be tricky to get hooks into "cloud.google.com/go/storage". This seems like it would at a fair bit of complexity for users to manage.

If you were to pool the buffers you would save on allocs of memory and relieve gc overhead, but would still be memory bound 2x the pool size.

[2020-03-20 16:48] AeroNotix commented on #463
Do you know the cause of it using 2x the memory I expect?

[2020-03-20 17:05] codyoss commented on #463
There are two []byte. The one that backs your reader and the one used in `MediaBuffer{}`

[2020-03-20 17:12] AeroNotix commented on #463
Ah! So I misunderstood how io.Copy would work if it is copying from a http.request.Body then. I assumed it would read bytes directly from the TCP socket into the destination buffer. I take it that's not the case then.

[2020-03-20 17:24] codyoss commented on #463
It all depends if Reader/Writer. Checkout [Copy](https://golang.org/pkg/io/#Copy)

[2020-03-25 02:43] grayside commented on #443
Based on the example above working for me, I think this issue can be closed. @tbpg I don't have maintenance powers in this repository, could you update as appropriate?

[2020-03-25 16:33] #443 closed

[2020-03-29 12:38] ncw opened #464 "drive: shortcut fields missing from File definition in SDK and Docs"
In the drive v3 API a new shortcut type was added: https://developers.google.com/drive/api/v3/shortcuts These are live on the drive web app and in use by users.

However these don't appear to be supported by the drive SDK. To be specific there are no `targetId` and `targetMimeType` fields in the `Files` type and the `shortcutDetails` field within the `Files` type is missing also.

Note that they a

[2020-03-30 05:36] ishankhare07 commented on #278
Hi, the workaround solution seems to work right now. Is there a proper solution in works on this?

[2020-03-30 14:28] codyoss commented on #278
I have not heard anything about this at this time. I suggest trying to ping the issue referenced above to get this prioritized.

[2020-03-30 15:20] codyoss commented on #464
Hey,

Unfortunately I don't think I can help you much on this one.  These sdks are generated from a spec provided by the service team. If you would like to get these features added to the SDK more quickly I suggest opening an issue under the drive SDK on https://issuetracker.google.com.

[2020-03-30 15:20] #464 closed

[2020-03-30 18:13] AeroNotix commented on #463
Thinking about this more. @codyoss - I am not actually convinced of the reasoning you mention here.

The claim of "There are two []byte" doesn't seem correct, even if there are different Reader/Writer implementations. io.Copy will use an internal buffer of 32k if io.CopyBuffer is not used.

In my case I am using `io.Copy(storage.Writer, io.TeeReader)` where the `io.TeeReader` is reading from an `h

[2020-03-30 18:48] codyoss commented on #463
I will try to come back and debug a little more later this week. Will reopen for now until I get a chance to dig further.

[2020-03-31 02:59] derekperkins opened #465 "admin/directory: unable to authenticate requests"
We're trying to use the` admin/directory` package on GKE using Workload Identity, and it doesn't appear to be working. We use multiple other Google Cloud apis, though I believe all of them are using the proto generated clients at google.golang.org/genproto/googleapis/.

After a lot of trials and searching, I believe that this library suffers from the same issue with Workload Identity on GKE as bot

[2020-03-31 03:38] derekperkins commented on #465
cc @whizard @mordfustang

[2020-03-31 11:49] ma5aki-Y opened #466 "storagetransfer: got error that Project id was not specified."
Hi,
I attempt to get TransferOperations, in order to confirm the status and I got the below error.

My actual code is here:
[code]
Error:
[code]
In the case of that, How do I set the project id?
## Client
google.golang.org/api/storagetransfer/v1

## Describe Your Environment
- Go 1.12.4
- AWS Lambda

Already set credentials information to GOOGLE_APPLICATION_CREDENTIALS.

--

Thank you and best reg

[2020-03-31 14:25] codyoss commented on #465
I will try to take a look at this today and get back to you. Sounds like it should be easy to reproduce.

[2020-03-31 14:26] codyoss commented on #465
Could you please share a code snippet of how you are creating your client and what types of options you might be passing in?

[2020-03-31 14:41] codyoss commented on #465
Same issue as https://github.com/googleapis/google-cloud-go/issues/1892. Will keep both open temporarily while I try to figure out where the problem is.

[2020-03-31 14:42] codyoss commented on #465
Let's have all relevant discussion over on the other issue.

[2020-03-31 14:42] derekperkins commented on #465
Ok, will do. Thanks

[2020-03-31 16:58] ncw commented on #464
Thanks @codyoss .

I created an issue here: https://issuetracker.google.com/issues/152865050

Any chance you could give them a poke internally too?

[2020-03-31 19:48] codyoss commented on #465
Moving the discussion back over here as we have ruled out an Workload Identity issue. The issue seems to be proper scoping. Look around I have noticed similar issues in other repositories of ours as well.

Node: https://github.com/googleapis/google-api-nodejs-client/issues/1884

[2020-03-31 20:07] codyoss commented on #465
Also, I suggest taking a look at this thread: https://github.com/googleapis/google-api-go-client/issues/379

[2020-03-31 20:10] derekperkins commented on #465
Thanks for finding those references. Copying the Google issue tracker link here for reference: https://issuetracker.google.com/issues/113755665

That seems like an unreasonable policy as it defeats the entire purpose of service accounts. Assuming that they're not going to fix that server-side, we're now prevented from using the SDK until this is resolved: https://github.com/googleapis/google-api-g

[2020-03-31 20:15] derekperkins commented on #378
If this issue is going to remain open and unsolved, could it be pushed into the documentation somewhere? Like most people here, it took us a few days to figure it out.

[2020-03-31 20:24] derekperkins commented on #465
Thanks again @codyoss. We had just been switching to Workload Identity so I just assumed that we had misconfigured something there. I never dreamed that the server would just not allow for service accounts to access the api. I'll go ahead and close this for now in favor of the linked issue, and hopefully this helps somebody else save a couple of days of figuring out auth.

[2020-03-31 20:25] #465 closed

[2020-03-31 20:26] codyoss commented on #465
I am sorry this api caused so much trouble. I have started some talks internally to at least provide some helpers for this api until we have better support for impersonating credentials. This feature still should eventually land, just not sure when right now.

[2020-03-31 20:35] derekperkins commented on #465
I'll post back here once we decide on a workaround. We'll be checking out this library mentioned in one of the other issues. I'm not in love with importing a package for auth impersonation on a service account we're granting G Suite God mode to, so maybe we'll just copy and audit it.
https://github.com/salrashid123/oauth2#usage-impersonatedcredentials

[2020-03-31 20:43] whizard commented on #465
@derekperkins Thanks for bringing this up. If we truly believe in Least Privilege then we need to have this API do things appropriately. Please let us know when this can be resolved. Thanks.

[2020-04-01 13:35] salrashid123 commented on #378
just to be clear, the FR here is about  a user or serviceaccount impersonating _another_ serviceAccount  (i.,e using [this feature](https://cloud.google.com/iam/docs/creating-short-lived-service-account-credentials) for GCP IAM)

if on the other hand you need a serviceAccount to impersonate a Gsuies/Cloud Identity _user_, thats a different api and here is a snippet for that

https://gist.github.co

[2020-04-01 14:33] derekperkins commented on #378
@salrashid123 Thanks for that, we are indeed looking for user impersonation. We attempted using your library (https://github.com/salrashid123/oauth2#usage-impersonatedcredentials) and kept getting insufficient scope errors, even though we granted `Owner` access to the SA in question.

We also attempted using this snippet from @broady https://github.com/googleapis/google-api-go-client/issues/379#is

[2020-04-01 15:05] salrashid123 commented on #378
so, go does have SDK for the `SA->user` impersonaton  per #379   ...Its just that in the current form of that implementation the Service account necessarily needs to be in is a json file.  The json cert file is used there to sign a jwt with a specific claim that signifies the user to impersonate.  Then the JWT is excahnged with google to get the users `access_token`

if anythihing the #379 should

[2020-04-01 15:37] salrashid123 commented on #378
oh, wait, i forgot i implemented the IAM based signed creds into impersonatedcredentials:
   https://github.com/salrashid123/oauth2#impersonated-credentials-with-domain-wide-delegation

In your case, you need to allow ServiceAccount that WorkloadIdentity runs as the "TokenCreator" role on itself (inorder to use the IAM SignJWT API).  Once you do that, the credential you need to instantiate isn't j

[2020-04-01 19:29] tbpg commented on #466
How are you getting the job name? From the docs (https://pkg.go.dev/google.golang.org/api/storagetransfer/v1?tab=doc#TransferOperation):

[code]

So, I'd expect the job name to include the project ID. You can list current operations and print their names using the `List` call. Be sure to set [`Filter`](https://pkg.go.dev/google.golang.org/api/storagetransfer/v1?tab=doc#TransferOperationsListCall.F

[2020-04-02 16:09] #422 closed

[2020-04-07 07:24] ma5aki-Y commented on #466
@tbpg I attempt to use response value of `TransferJobs.Create` . But it does not work.
[code]

So, I'll try your method that use the `List` call.  Thank you for your reply.

[2020-04-07 12:59] SagSaj opened #467 "Have problem with google.golang.org/api@v0.21.0 requires"
When i try to use "google.golang.org/api/bigquery/v2"
I have error
go: google.golang.org/api@v0.21.0 requires
        cloud.google.com/go@v0.38.0 requires
        golang.org/x/sync@v0.0.0-20190227155943-e225da77a7e6/go.mod: verifying module: golang.org/x/sync@v0.0.0-20190227155943-e225da77a7e6/go.mod: malformed record data

go version
go version go1.14.1 darwin/amd64

I use gomod

[2020-04-07 14:42] codyoss commented on #467
Can you give me more detail of how to reproduce this from scratch project? I tried to create a project from scratch, but it just worked. Here is what I did:

- Created my go mod file `go mod init example.com/ag467`
- `go get google.golang.org/api`
- Created a file that referenced "google.golang.org/api/bigquery/v2"
- `go mod tidy`
- `go run main.go` <- No errors

My mod file only has one entry "re

[2020-04-08 13:39] SagSaj commented on #467
go mod init example.com/ag467
go: creating new go.mod: module example.com/ag467
go mod tidy
go: finding module for package github.com/cloudflare/golz4
go: finding module for package github.com/evanphx/json-patch
go: finding module for package google.golang.org/api/iterator
go: finding module for package github.com/go-redis/redis
go: finding module for package github.com/google/uuid
go: finding mod

[2020-04-08 16:28] tbpg commented on #467
Would you mind running `go clean -modcache` then trying `go build` again? I tried it locally and it worked. So, the only difference _should, theoretically_ be what's in your local module cache. I don't notice anything out of the ordinary about your environment.

[2020-04-08 22:13] codyoss commented on #463
Looked into this a bit. Ran a test both sequentially and in parallel where I set `wc.ChunkSize = EightMiB` and uploaded 10 files to storage. Here were my results of memory usage after the test

- Sequencial: Total allocs: 84MB | Sys: 71MB
- Parallel: Total allocs: 85 MB | Sys: 137 MB

I would expect allocs to be ~80MB which they were. I used `runtime.ReadMemStats` to dump out this information.

[2020-04-08 22:14] AeroNotix commented on #463
Do you have the code to reproduce?

[2020-04-09 09:04] #466 closed

[2020-04-09 15:53] codyoss commented on #463
The gist was
[code]

[code]

[code]

[2020-04-10 08:33] SagSaj commented on #467
After go clean -modcache its working, thank you a lot)

[2020-04-10 11:05] tbpg commented on #467
Great! I'm glad that worked. Let us know if you have any more issues. :)

[2020-04-10 11:05] #467 closed

[2020-04-12 12:42] ncw commented on #464
Shortcuts have landed in the SDK now :-)

[2020-04-14 18:46] codyoss commented on #344
@broady It looks like this could be closed, or is there still more work to do here?

[2020-04-17 15:29] #463 closed

[2020-04-17 17:09] micshome opened #468 "admob/v1 networkReport:generate fails on API response deserialization"
Service call service.Accounts.NetworkReport.Generate(...).Do() returns GenerateNetworkReportResponse response
GenerateNetworkReportResponse struct contains one field
**Row *ReportRow `json:"row,omitempty"`**
But, actual response from Google api contains []*ReportRow, and method Do() fails with **array** deserialization error

[2020-04-17 18:45] micshome commented on #468
Generally, it should be []*GenerateNetworkReportResponse , not []*ReportRow

[2020-04-18 17:02] unixchad commented on #434
+1 for WithProxy()

[2020-04-20 12:55] unixchad commented on #434
I was in a similar position as you with `google.golang.org/api/drive/v3`. FWIW you can also clone the base transport:
`base := http.DefaultTransport.(*http.Transport).Clone()` and then change `base.Proxy = YourProxyFunc()`

+1 for WithProxy()

[2020-04-20 17:11] codyoss commented on #468
@micshome Thanks for the report. This client is completely generated, so it is actually the spec that is wrong in this case. There is not much I can due, but I did open up a bug with a backend team to investigate the issue. I will report back here when I hear more.

[2020-04-20 19:43] codyoss commented on #433
I think the best option we can do here is make both of these indexes pointer types. It is not the most ergonomic option, but it would allow both apis to work.

[2020-04-21 14:46] codyoss opened #469 "examples: fix custom search example"
Uncomment this code: https://code-review.googlesource.com/c/google-api-go-client/+/54912
Refactor.

[2020-04-21 21:14] #433 closed

[2020-04-21 21:35] #413 closed

[2020-04-23 05:47] fredzqm commented on #378
@jadekler
Hi Jean,
It looks like this feature has slipped away from the priority.
Really want to help raise attention and priority for this because impersonating really opens up doors to s/acl-based/capability-based/ security.
I am working in a G-on-G project that can benefit greatly from this feature.

Thank you for the community contribution you made here.
I am hoping that you can help escalate

[2020-04-23 13:07] rifelpet commented on #451
It looks like `Pages` was added in v0.22.0 so this should be safe to close out.

[2020-04-23 15:30] jadekler commented on #378
cc @codyoss @bshaffer

[2020-04-23 15:39] codyoss commented on #378
Once we land some of the ID Token work that is underway, I think we will have an easier path to impersonation. I will make sure this gets re-brought up in internal discussions. I know it is still on peoples minds.

[2020-04-23 22:04] genevieveluyt opened #470 "admin/directory/v1: "invalid_scope" when using impersonated token source in Cloud Run"
We have an application running in Cloudrun and want it to be able to modify group membership in Gsuite, as well as make users into super admins. We want to be able to use the default application credentials available in Cloudrun to authenticate to the Admin Directory API. To do so we need the following scopes:

* `https://www.googleapis.com/auth/admin.directory.group.member` (to modify group membe

[2020-04-24 15:35] codyoss commented on #470
You might find some information that helps in #465.

Looking quickly at the gist, I am not sure that code fills out the scopes correctly. Looking at the [docs for ClaimSet](https://pkg.go.dev/golang.org/x/oauth2@v0.0.0-20200107190931-bf48bf16ab8d/jws?tab=doc#ClaimSet).

[2020-04-24 16:52] #469 closed

[2020-04-24 17:46] genevieveluyt commented on #470
Ah yes you're right, that did the trick! Thanks a lot @codyoss !

[2020-04-24 17:52] codyoss commented on #470
Glad I could help 😄

[2020-04-24 17:52] #470 closed

[2020-05-01 05:05] codyoss opened #471 "customsearch: re-enable generation"
This API was temporarily blacklisted from generation. There were issues with the discovery doc migration.

[2020-05-01 14:37] codyoss opened #472 "internal: don't regenerate old revisions of apis"
The discovery doc endpoint updates roll our slowly. This means hitting the api twice might get you back two different versions of the same API. We should check the revision date and only regenerate if the date pulled is greater than the date of the current file on disc.

[2020-05-01 17:05] rileykarson opened #473 "run: Details in error message dropped by googleapi.CheckResponse"
I work on the Terraform Google Provider, where we often consume these generated service clients. We're using the `googleapi.CheckResponse` function to parse errors returned from GCP, however it's proved insufficient in this case.

The Cloud Run API returns a standard [details object](https://aip.dev/193#details) as defined by http://aip.dev/193. [This gist](https://gist.github.com/rileykarson/afae

[2020-05-01 18:57] #472 closed

[2020-05-01 19:34] codyoss commented on #473
Thanks for the report! I have ran into debugging woes in the past as well with the error messages generated. I will check out the aip and see what we can do.

[2020-05-02 12:11] yjwong opened #474 "sheets/v4: Unable to distinguish type of EffectiveValue between cells containing "=FALSE" and "=0""
In Go, the `EffectiveValue` of cells with the `=FALSE` or `=0` value is indistinguishable. However, through the raw JSON returned by the API, we can see that their EffectiveValue objects are structured differently:

For the case of `=FALSE`:

[code]

For the case of `=0`:

[code]

However, since the zero value of booleans and integers in Go is `false` and `0` respectively, the parsed structs avail

[2020-05-03 14:10] preom commented on #160
@broady Any update on something like this? I've been tearing my hair out over this over the past few hours because other solutions (using 3rd party lib, using another language, or making a request to an endpoint vs. just verifying the jwt token) all seem subpar. This really feels like something that should be part of the official library. Ideally, one that better handles caching the certs.

It kin

[2020-05-04 14:48] codyoss commented on #474
Hey,

That is a very good question. The default values of the builtin types make this hard to distinguish. I think this is a case we the API should be updated to make the following fields in [ExtendedValue](https://pkg.go.dev/google.golang.org/api/sheets/v4?tab=doc#ExtendedValue) pointer types: `BoolValue`, `FormulaValue`, `NumberValue`, `StringValue`.

[2020-05-05 08:53] yjwong commented on #474
Hey @codyoss, thanks for responding!

Is there anything I can help with, for example with a pull request?

[2020-05-05 09:58] MaciejKaras commented on #160
@preom this import works for me:
`import "google.golang.org/api/idtoken"`

However it does not verify token expiration, issuedAt etc. It only gives you signed payload.

I think the best way would be to use fork of https://github.com/futurenda/google-auth-id-token-verifier.

[2020-05-05 15:39] preom commented on #160
@MaciejKaras Ah yes, that does seem to work. I apologize for that. I can only blame it on tiredness a the fact that vscode erases failed imports even if the package is used in the code (idk why I didn't use a blank identifier which would've stopped the erasure by gofmt).

You're right, in the end that does seem to be the best solution (i'd already forked it yesterday). I'll leave a note to maybe c

[2020-05-05 15:48] codyoss commented on #474
@yjwong I should be able to handle this, thank you for the offer though. 😄

[2020-05-05 16:06] #473 closed

[2020-05-05 20:23] entombedvirus opened #475 "support/bundler.Bundler can deadlock when using time based flush"
bundler.Bundler can run into a deadlock under the following
configuration:

- handler limit of 1
- high size and count thresholds such that the only reason a bundle is
flushed is because of the delay timer expiring

Under these conditions, with high concurrency, a deadlock can happen
because the background handler goroutine can exit while there is a
pending queue, which will never get flushed.

Th

[2020-05-06 16:00] entombedvirus commented on #475
Review with test plus fix: https://code-review.googlesource.com/c/google-api-go-client/+/55950

[2020-05-09 22:33] entombedvirus commented on #475
Please let me know if I can provide any more info to help close this issue.

[2020-05-11 20:35] codyoss commented on #475
Thank you for the report and contribution, I will take a look!

[2020-05-11 21:10] codyoss commented on #451
https://pkg.go.dev/google.golang.org/api/compute/v1?tab=doc#InstanceGroupManagersListManagedInstancesCall.Pages

[2020-05-11 21:10] #451 closed

[2020-05-11 21:35] codyoss commented on #341
This is no longer relevant as of: https://code-review.googlesource.com/c/google-api-go-client/+/50573. Closing.

[2020-05-11 21:35] #341 closed

[2020-05-12 08:12] om-saran opened #476 "Issue with deleting last alias IP in a nic in Compute API"
I'm using the [UpdateNetworkInterface](https://pkg.go.dev/google.golang.org/api/compute/v1?tab=doc#InstancesService.UpdateNetworkInterface) on v0.22.0.

When I want to remove the last alias IP, I make the UpdateNetworkInterface call and pass a NetworkInterface struct with an empty slice of AliasIpRange. This does not remove the alias IP range -- verified this on the GCP console and the response of

[2020-05-12 14:17] codyoss commented on #476
Yes you are right, you can use the `ForceSendFields` to force this to go through.

[2020-05-12 14:40] om-saran commented on #476
Thanks!
I did not know about `ForceSendFields`, somehow missed that in the documentation.

This solves the issue for me.

[2020-05-12 14:47] #476 closed

[2020-05-12 14:47] codyoss commented on #476
Glad I could help!

[2020-05-13 14:27] gleichda opened #477 "Asset.Resource.Data is empty after json.Unmarshal"
When reading a asset from a file or inline after json.Unmarshal the `Asset.Resource.Data` is empty even if the JSON is not:

[code]

With asset.json  is

[code]

## Acutal behaviour

[code]

## Expected behaviour

`data` should contain the information about from the json data block.

[2020-05-13 20:21] rajamaniraja opened #478 "method to validate the id_token from client js app, without the need for calling google servers, as in nodejs driver"

[2020-05-14 12:48] gleichda opened #479 "cloudasset.AssetType is empty after json.Unmarshal"
After switching to cloudasset.Asset https://github.com/googleapis/go-genproto/issues/364 (thanks for that hint) now when parsing the asset via json.Unmarshal Asset.AssetType is empty.
This is due to the fact that the asset JSON is using the name `asset_type` where the lib is refering to it as `AssetType` in https://github.com/googleapis/google-api-go-client/blob/v0.24.0/cloudasset/v1/cloudasset-ge

[2020-05-14 14:24] codyoss commented on #479
Where did you get that json from? Trying to figure out where the discrepancy is.

[2020-05-14 14:56] gleichda commented on #479
Doing an export into a GCS bucket via Cloud Scheduler:
![grafik](https://user-images.githubusercontent.com/15176026/81949982-b68d4000-9603-11ea-9ef7-c849925c3df7.png)

[2020-05-14 17:28] codyoss commented on #479
Sorry, I did mislead you a bit. You were right originally when you were using go-genproto. The issue was not using the correct unmarshalling library. The following should work:
[code]

The conversion to the new proto type should be unnecessary soon, but required for now.

[2020-05-14 21:17] kwiesmueller opened #480 "Provide interfaces"
Would it be possible, to provide interfaces for the generated types here?
It's really hard to test and build mocks/fakes for the types defined by the various packages.
With proper interface definitions, one could generate mocks and fakes to use in tests.

[2020-05-14 22:03] codyoss commented on #480
Hey,

It is a design decision of this api to not expose interfaces for our service. The reason is if we make an interface we can't add a method to it in a backwards compatible way. For more information see: https://github.com/golang/go/wiki/CodeReviewComments#interfaces

Some options:
- Define your own interfaces and use those in your code.
- Make use of `option.WithHTTPClient` to make a fake back

[2020-05-15 00:12] kwiesmueller commented on #480
Sounds reasonable, thanks.

[2020-05-15 00:12] #480 closed

[2020-05-16 02:46] khipkin opened #481 "Unable to mock sheets v4 service in tests"
Since the sheets v4 service does not define any interface, I am having trouble mocking it in my unit tests. I would love to be able to define my own fake type that then implements that interface and behaves in a configurable way for my tests.

[2020-05-17 13:10] immersivevreducation opened #483 "Youtube API Etag"
I'm not sure this would be the right place but there you go.

Based on daily quota costs I'm trying to implemented what's described on documentation about Etags.

So I'm hitting the endpoint below on Postman
 https://www.googleapis.com/youtube/v3/search?channelId=UCO1cgjhGzsSYb1rsB4bFe4Q&key=

And with the response I extract the etag

![image](https://user-images.githubusercontent.com/23338451/821

[2020-05-17 18:38] agusterodin commented on #160
As mentioned by MaciejKaras https://github.com/googleapis/google-api-go-client/tree/v0.24.0/idtoken contains both idtoken.go and validate.go.

Validate appears to have everything you need as far as checking your jwt signed payload against google's public key. Expiry date and audience should be trivial and you can check them yourself :D

Seems like the best long term approach since the code is dire

[2020-05-17 19:05] agusterodin commented on #160
The api is not as straightforward as I would have thought. Has anybody gotten this working using  https://github.com/googleapis/google-api-go-client?

[2020-05-17 19:06] broady commented on #160
What did you try, what problems did you have?

On Sun, May 17, 2020, 12:05 PM Jeff Rosen <notifications@github.com> wrote:

[2020-05-18 02:08] agusterodin commented on #160
I wasn't trying to use this library to actually use google servers, just use google sign-in for login federation. I ended up just sending the jwt from client side google sign in to my backend instead of relying on the whole authCode -> user information payload exchange method. The React google sign in library was set in "authCode" mode instead of "idToken" aka JWT mode and I didn't realize I could

[2020-05-18 02:12] agusterodin commented on #160
If I wasted time doing this and there is an easier way to validate my token and get the claims from it by using this library (but not actually using it to hit other google services, just strictly to validate and extract jwt claims), please hook a brother up with some example code.

[2020-05-18 06:29] MaciejKaras commented on #160
@agusterodin Maybe something like this works for you?

https://gist.github.com/MaciejKaras/1f867a1cedd4500b6304085b66f5f5df

[2020-05-18 14:25] codyoss commented on #481
Hey,

Not providing interfaces is a design choice of this repository to maintain backwards compatibility. See #480 for some more details.

Some options:
- Define your own interfaces and use those in your code.
- Make use of option.WithHTTPClient to make a fake backend

[2020-05-18 14:48] codyoss commented on #483
If you are using https://pkg.go.dev/google.golang.org/api/youtube/v3?tab=doc#SearchListCall.IfNoneMatch the operation should only fail if the etag stayed the same. You are saying that the etag does indeed change right? So it should be a success.

[2020-05-18 17:28] broady opened #484 "idtoken: should validate expiry and possibly issuer"
Currently the idtoken package verifies audience and that the JWT is valid.

But it doesn't validate that `exp` is in the future.

It's possible we should check the issuer, too - it should be `https://accounts.google.com`

Updates #160.

[2020-05-18 17:30] broady commented on #160
Both your use cases should be covered by the one liner:

[code]

[2020-05-18 20:02] codyoss commented on #479
Closing issue as I believe the above solution should work. If it does not, please feel free to re-open.

[2020-05-18 20:02] #479 closed

[2020-05-18 21:38] broady commented on #485
sorry, reading this now it doesn't look like a doc bug.

[2020-05-18 21:39] broady commented on #485
https://github.com/googleapis/google-api-go-client/blob/334f1cf68ef2ac2ae0ae06c6423b982b81aa607b/transport/grpc/dial.go#L119-L121

[2020-05-18 22:06] agusterodin commented on #160
Thanks for this! A lot simpler than everything I did. I could not find this sort of example code anywhere. And godocs always take a lot of digging to find what you need.

I tried the code and it mostly works. It is able to properly detect an invalid signature when I intentionally change the signature to an incorrect one and is able to properly detect when audience is wrong and display error.

Unfo

[2020-05-18 22:09] broady commented on #160
Right, sorry, it's a new library and we haven't included it in our docs yet. You're one of the first users.

Yes, the idea is that you don't get the payload if validation failed.

I am. Sorry, I used them interchangeably.

[2020-05-18 22:11] agusterodin commented on #160
I tried oauth2.NoContext for the first argument as well and I still can't get the payload. It appears to be an empty map even when I use spew.Dump(payload.Claims) to try to investigate contents

[2020-05-18 22:17] agusterodin commented on #160
It would have been more clear what the function was if it was called "ParseAndValidate" or something like that

[2020-05-18 22:23] agusterodin commented on #160
All the other information is present as well. Just not the claims.

![image](https://user-images.githubusercontent.com/10248395/82265298-ab545000-9934-11ea-9431-dedf53577f50.png)

[2020-05-18 22:46] broady commented on #160
Hm, that looks like a bug, then. Could you file that? /cc @codyoss

[2020-05-19 02:54] khipkin commented on #481
I figured out a way around it anyway. :) Func pointers ftw!

[2020-05-19 02:54] #481 closed

[2020-05-19 09:55] immersivevreducation commented on #483
@codyoss Two things here,
- as the content from that response has not changed it technically return the same etag, that's my understanding on the API documentation, unless I'm miing something here.
- if the etag being used on a consecutive request (few secs apart) it should also return a 304, because nothing has / was really changed within that short period, would you agree with that?

[2020-05-19 14:09] #474 closed

[2020-05-19 14:51] codyoss commented on #483
1) My understanding of etags is they are like a fingerprint. Should only change if something about the resource changes
2) I am not familiar enough with this api to know the volatile nature of the data. But in general, yes if the resource has not changed a 304 should be returned. The api documentation calls this out as well: https://developers.google.com/youtube/v3/getting-started

 It looks like

[2020-05-19 17:10] #475 closed

[2020-05-20 10:47] immersivevreducation commented on #483
Thanks a lot @codyoss  I have tried there before and there are loads of unanswered (similar / same) questions around that subject, some suggestions about three years old but nothing that either myself or others have already unsuccessfully tried. Long journey but trying t get to the bottom of it somehow and any assistance at this stage is more than welcome.

[2020-05-20 17:46] sdmodi opened #491 "Requesting new beta version of the google-api-go-client"
The last published version of the v1beta1 API go client is v0.24.0 on May 11. Recently an API was added to the GKE container cluster create command to support disabling default SNAT on GKE clusters. This requires a new version of the google-api-go-client.

[2020-05-20 21:55] #491 closed

[2020-05-20 21:58] codyoss commented on #491
https://github.com/googleapis/google-api-go-client/releases/tag/v0.25.0

[2020-05-20 22:04] broady opened #494 "transport: re-think user agents - change from replace to prepend?"
Currently, we allow users to set the User-Agent header via the [`WithUserAgent`](https://godoc.org/google.golang.org/api/option#WithUserAgent) client option.

There's also the "UserAgent" field in the JSON/REST generated clients (this repo) which is appended to the default user agent ([`googleapi.UserAgent`](https://godoc.org/google.golang.org/api/googleapi)).

This option sets the User-Agent in i

[2020-05-21 00:55] kenegozi commented on #494
Worth mentioning that with the current setup, there is an inherent difference between calling `WithUserAgent(...)` (replace the default, would not work with a custom httpClient) and setting `Service.UserAgent` (would append to the default, and would work with a custom httpClient)

[2020-05-21 06:34] broady opened #497 "idtoken: Claims map is not populated"
Payload.Claims is always empty.

Updates #495 #160.

[2020-05-21 11:36] yoshi-automation opened #501 "Synthesis failed for all"
Hello! Autosynth couldn't regenerate all. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/cdcd4523-cf68-43a8-ab78-b5708fa98e3c).

[2020-05-21 14:58] codyoss commented on #494
Also related: #320.

[2020-05-21 14:59] codyoss commented on #320
Closing this in favor of issue linked above. Thank you for bring this to our attention.

[2020-05-21 14:59] #320 closed

[2020-05-21 20:24] #501 closed

[2020-05-21 21:01] codyoss opened #504 "all: move presubmits off kokoro and use GitHub Actions instead"
Kokoro can be really slow at times, GitHub actions seem fast. Should we migrate our presubmit to actions?

[2020-05-21 21:03] codyoss commented on #504
cc @broady @tbpg Thoughts?

[2020-05-22 06:43] s4kibs4mi opened #505 "Android Enterprise (EMM) doesn't support batch request"

[2020-05-22 08:52] Capstan commented on #494
As the author of #320, I am in favor of prepending and not allowing replacement.

[2020-05-22 11:45] yoshi-automation opened #506 "Synthesis failed for all"
Hello! Autosynth couldn't regenerate all. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/c768355a-94de-4ebb-ba5a-d17aee8549c2).

[2020-05-23 17:25] yoshi-automation commented on #506
Autosynth is still having trouble generating all. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/f532ee02-d900-45e6-840c-92441dadc4f9).

[2020-05-24 03:59] khipkin opened #507 "Gmail messages.List().Do() returning failedPrecondition with no information"
Here is my entire program:

[code]

credentials.json is a service account credentials file from https://console.cloud.google.com/iam-admin/serviceaccounts. My project number is `517131610127`, if that helps.

Every single time I run the code, I just get this, with absolutely nothing helpful:

[code]

What am I missing? Google search has been entirely unhelpful since I have so little to go on.

[2020-05-24 15:00] yoshi-automation commented on #506
Autosynth is still having trouble generating all. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/294900fc-7e22-46cb-82de-5792a2de2180).

[2020-05-24 23:17] yhuang commented on #378
What can current GCP customers do to help escalate the priority of this PR?  @salrashid123, I will reach out via my TAM, so we can meet soon to discuss a way forward to close this gap.

[2020-05-25 14:18] yoshi-automation commented on #506
Autosynth is still having trouble generating all. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/c4bcdd51-21ff-412c-afa0-a845efe81ac9).

[2020-05-26 13:29] yoshi-automation commented on #506
Autosynth is still having trouble generating all. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/8e30fda5-923d-426d-b35a-54a4f212123d).

[2020-05-26 14:44] codyoss commented on #378
Thanks for your interest in the feature. I think reaching out through your TAM is a good way to escalate.

[2020-05-26 14:55] codyoss commented on #505
Hey @s4kibs4mi. This client is auto-generated based on apis the backend service team exposes. If you would like to request a new feature to the api I would reach out to that team.

https://developers.google.com/android/management/feedback

[2020-05-26 14:55] #505 closed

[2020-05-26 15:09] codyoss commented on #507
Hello, can you please confirm what version of `google.golang.org/api/gmail/v1`you are pulling in?

[2020-05-26 16:39] #506 closed

[2020-05-26 19:47] khipkin commented on #507
Hi! How do I tell what version I have?

[2020-05-26 20:08] codyoss commented on #507
If you are using modules it would be the version recorded for `google.golang.org/api` in your `go.mod` file.

I just want to make sure you had one of the most recent releases as there have been some improvements to error messages recently.

Another way to go about this would be running `go get -u google.golang.org/api`. Then re-run your program and see if you get more details.

[2020-05-27 00:15] khipkin commented on #507
I ran `go get -u google.golang.org/api` as you recommended, then ran my program again and got the same error.

[code]

[2020-05-27 11:42] yoshi-automation opened #509 "Synthesis failed for all"
Hello! Autosynth couldn't regenerate all. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/df8a117c-b5ee-4a19-b565-270427b827a1).

[2020-05-27 16:14] codyoss commented on #507
I can reproduce this, I _think_ this has something to do with authentication actually. Possibly impersonated credentials. Related googleapis/google-auth-library-nodejs#898

[2020-05-27 16:16] codyoss commented on #507
Related googleapis/google-api-ruby-client#385

[2020-05-27 19:58] codyoss commented on #507
After some research this is what I have learned:
- The issue really has to authorization.
- You can use a service account, but in this case you would need to do some impersonating of credentials and have domain-wide-delegation set. We don't currently support impersonating directly today, but I think their are some projects you can find on GitHub to aid with this. See #378.
- Another option would b

[2020-05-27 21:21] #497 closed

[2020-05-27 22:37] khipkin commented on #507
Okay. Since there is currently no way to do this, can you at least do something about the useless error message? Based on the FR you linked, many people have wasted a lot of time on this issue with no clue what the problem is/was.

[2020-05-27 22:50] codyoss commented on #507
The error message is the raw message received from the backend service; these generated clients are not hiding any details. In order to get a better error message in this case a feature request should be raised to product team. They have an [issue tracker here](https://issuetracker.google.com/issues?q=status:open%20componentid:191602%2B%20type:bug).

[2020-05-27 23:26] khipkin commented on #507
Done. https://issuetracker.google.com/issues/157590195

If anyone else encounters this problem, please star the above issue!

[2020-05-27 23:40] khipkin commented on #378
Is there an internal issue tracking this FR that we can +1? i.e. on https://issuetracker.google.com.

[2020-05-28 02:01] yhuang commented on #378
@khipkin: I have opened a private partner buganizer issue and started the escalation with my TAM already.

This particular hurdle with an SDK that is in Google's own Go is hitting a nerve, because we as customers, again, are being forced to work harder to advocate for things that should already be in place.  Last year, we had to advocate for service account impersonation to be supported by gsutil,

[2020-05-28 11:41] yoshi-automation commented on #509
Autosynth is still having trouble generating all. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/c0df3fdb-2e71-4379-b589-cf724869bb61).

[2020-05-28 14:26] codyoss commented on #507
Thanks!

[2020-05-28 14:26] #507 closed

[2020-05-28 15:00] codyoss commented on #484
In the case of IAP, the issuer is `https://cloud.google.com/iap`.

[2020-05-28 15:19] codyoss commented on #484
Also for other tokens it look like it can be one of two values...: `https://accounts.google.com`, `accounts.google.com`

https://developers.google.com/identity/sign-in/web/backend-auth

[2020-05-28 15:34] codyoss commented on #484
Also also, for ESP we say that the issuer can be a hostname or an email.[1](https://cloud.google.com/endpoints/docs/openapi/openapi-extensions#x-google-issuer) I am not sure we need to support this flow with this API though.

[2020-05-28 16:35] #471 closed

[2020-05-28 16:49] #509 closed

[2020-05-28 17:08] broady commented on #484
Hmmm, let's not check the issuer. The fact that it's signed by Google and unexpired I think is "enough" validation.

[2020-05-28 17:10] codyoss commented on #484
Awesome, as expiry has been added I will close this issue.

[2020-05-28 17:10] #484 closed

[2020-05-28 22:06] codyoss commented on #434
We are thinking about adding support for this via #1962.

[2020-05-29 11:41] yoshi-automation opened #512 "Synthesis failed for all"
Hello! Autosynth couldn't regenerate all. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/e86c1c55-020a-4f61-8808-d3db3379f502).

[2020-05-29 17:53] tbpg commented on #504
cc @JustinBeckwith

Seems reasonable to me. But, we might need broader coordination.

[2020-05-29 18:05] broady commented on #504
Think we should figure out why Kokoro is slowing us down. What about it is slow (can you link to build logs?) and what about GitHub actions seems fast?

We've invested a lot in it and we need more data to support a move to Actions in the long-run.

[2020-05-29 18:06] broady commented on #504
Could it be because this repo takes forever for a checkout?

[2020-05-29 21:33] JustinBeckwith commented on #504
I think the reasons here are important.  For Node.js and Java, we were fighting GitHub personal access token quota due to the split repositories.  We were frequently in a state where the key was getting maxed out, and it blocked Kokoro CI for the whole org.

For node at least, system tests and sample tests still run on Kokoro.  And, they're the long pole in terms of time spent.

I am supportive of

[2020-05-30 11:41] yoshi-automation commented on #512
Autosynth is still having trouble generating all. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/a4dfd6f1-8b1e-4d1c-b2da-7c7fbce5726b).

[2020-05-31 03:49] pepsighan opened #516 "Creating dynamic links fails due to wrong validation or serialization of request"
When I am trying to create a short dynamic link like:
[code]

It fails with the error:
[code]

The json tags on the input says that empty fields are omitted. Why are both being sent? And it should not fail when even both are sent according to the documentation. The doc says:
1. DynamicLinkDomain required if missing DomainUriPrefix.
2. DomainUriPrefix will fallback to DynamicLinkDomain is this fiel

[2020-05-31 11:41] yoshi-automation commented on #512
Autosynth is still having trouble generating all. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/02bbd4bc-a00b-48d0-8fd0-cc0edf878f66).

[2020-06-01 11:41] yoshi-automation commented on #512
Autosynth is still having trouble generating all. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/fd18e095-3344-4d35-89f1-bebb8fb631ac).

[2020-06-01 16:46] codyoss commented on #516
I verified that the client library is sending this to the backend. I am not quite sure about what the error actually means. My assumption is something else is at play here, but the error message is not telling us what it is. I would suggest reaching out to the backend team with one of the resources on their support page: https://firebase.google.com/support

[2020-06-01 16:46] #516 closed

[2020-06-02 11:41] yoshi-automation commented on #512
Autosynth is still having trouble generating all. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/aac24576-4d3f-4c24-b587-c6633dcb749c).

[2020-06-02 14:10] AdallomRoy opened #518 "API for fetching VpcConnectors is missing"
REST API:
https://cloud.google.com/sdk/gcloud/reference/compute/networks/vpc-access/connectors/list

There is no way to perform this listing using the Go client, please advise.

Thanks

[2020-06-02 15:50] codyoss commented on #518
You are correct. It is up to the backend product team whether or not they wish to have client libraries generated for their service. This service does have a REST API: https://cloud.google.com/vpc/docs/reference/vpcaccess/rest#discovery-document. If you would like to see a Go client for this service I suggest reaching out through that products support page.

[2020-06-02 15:50] #518 closed

[2020-06-03 14:04] yoshi-automation commented on #512
Autosynth is still having trouble generating all. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/242c1160-8fb5-4e72-8421-ab8b4b382149).

[2020-06-04 12:40] yoshi-automation commented on #512
Autosynth is still having trouble generating all. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/963dce6a-7411-4d32-85d7-8425d727bb60).

[2020-06-04 14:07] codyoss opened #519 "internal: switch automation or clean-up code"
We might be moving away from auto-synth in the not too distant future. If we do we will need the following code for opening up pull requests. If we decide to stay on the current automation this code should be removed.

Code: https://github.com/googleapis/google-api-go-client/tree/master/internal/kokoro/synth/sendpr

[2020-06-04 14:41] #512 closed

[2020-06-04 20:53] optimistdk opened #521 "sheets-gen ExtendedValue.NumberValue change broke our clients."
Hello,

It seems like https://github.com/googleapis/google-api-go-client/pull/515 converted come of the types from:
[code]

to

[code]

Is this intended change. It seems to have broken some of our internal repos.

[2020-06-04 21:57] codyoss commented on #521
Sorry this changed caused some breakage for you. Yes though, this change was intensional, please see #474 for context.

[2020-06-05 00:17] sam-virta opened #522 "healthcare: FHIR search path is malformed"
In this [path](https://github.com/googleapis/google-api-go-client/blob/master/healthcare/v1/healthcare-api.json#L2042) `fhir` is wrong and should be replaced with the value from `SearchResourcesRequest.ResourceType`.

Example Response:
[code]

[2020-06-05 10:35] tbpg commented on #522
cc @noerog

[2020-06-05 13:47] codyoss commented on #321
@Capstan Do you still have open questions here?

[2020-06-05 14:03] codyoss commented on #483
Closing. I don't think I can provide any more more details around this topic. One more place to try is the product teams issue tracker: https://issuetracker.google.com/issues/new?component=186600&template=874803. Sorry I could not be of more help here.

[2020-06-05 14:03] #483 closed

[2020-06-05 14:05] codyoss commented on #454
Closing as issue seems resolved.

[2020-06-05 14:05] #454 closed

[2020-06-05 14:07] codyoss commented on #439
If you are looking to generate tokens we now have a new `idtoken` api. https://pkg.go.dev/google.golang.org/api/idtoken?tab=doc 😄

[2020-06-05 14:07] #439 closed

[2020-06-05 14:11] codyoss commented on #374
I would suggest taking a look at: https://developers.google.com/gmail/api/guides/uploads#upload-resumable

The example is working with the raw API(not with this Go client library wrapper) but I think it will help figure it out. Closing this issue, if you are still having issue let me know. Thanks.

[2020-06-05 14:11] #374 closed

[2020-06-05 14:14] codyoss commented on #430
@dan-leech Did you ever get this issue resolved?

[2020-06-05 14:51] Capstan commented on #321
`send.go` has migrated to https://github.com/googleapis/google-api-go-client/blob/cfc62336a21b9af45e2830a9898569d8aac1c5cc/internal/gensupport/send.go#L41 but otherwise everything remains the same as last year, save that I'm not actively working on it.

The TL;DR is that I want to enforce state on the context on all calls, and the fact that `SendRequest` skips hooks when there is no context makes

[2020-06-05 15:19] codyoss commented on #321
Thanks for the quick reply, I will have to look into this more and get back to you.

[2020-06-05 17:40] carnott-snap commented on #439
Does this support domain wide delegation, as implemented [here](https://git.sr.ht/~urandom/dwd/tree/master/dwd.go)?

[2020-06-05 18:13] codyoss commented on #439
it does not yet support impersonation. We issue #378 to track that.

[2020-06-05 19:58] optimistdk commented on #521
Thanks for confirming.

[2020-06-05 19:58] #521 closed

[2020-06-06 10:33] benpollard opened #525 "QueryTimeSeriesRequest"
Can anybody point me in the right direction for how to use MQL in the V3 monitoring API.

I see the QueryTimeSeriesRequest type but its not clear to me how to dispatch this request.

Thanks!

[2020-06-06 11:41] yoshi-automation opened #524 "Synthesis failed for all"
Hello! Autosynth couldn't regenerate all. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/84e8669c-b5c1-4fc7-9564-0bd517d334f3/targets/github%2Fsynthtool;config=default/tests;query=google-api-go-client;failed=false).

[2020-06-07 11:41] yoshi-automation commented on #524
Autosynth is still having trouble generating all. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/d48f63d0-34ce-4a09-b0ca-5b78a2f42c7d/targets/github%2Fsynthtool;config=default/tests;query=google-api-go-client;failed=false).

[2020-06-08 11:40] yoshi-automation commented on #524
Autosynth is still having trouble generating all. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/e0c917e7-b469-432a-bd77-ea210f1e05db/targets/github%2Fsynthtool;config=default/tests;query=google-api-go-client;failed=false).

[2020-06-08 14:02] codyoss commented on #525
I transfered this issue as I believe `google.golang.org/api/monitoring/v3` is the client being referenced.

[2020-06-08 14:07] codyoss commented on #525
Here is some docs for the backing api(not using the client library) that should point you in the right direction. Looks like you want to add the mql string to Query field.

[2020-06-08 14:07] #525 closed

[2020-06-08 17:18] carnott-snap commented on #378
I have implemented in [CL 214477](https://go-review.googlesource.com/c/oauth2/+/214477), but the review has stalled. If it should live here, I think all the symbols are exported, so I can port the logic here. It would be nice to use the actual IAM lib, but that is not part of the API, so I can fixup the implementation later. Otherwise, can I get some help driving CL 214477?

[2020-06-08 18:05] codyoss commented on #524
cc @SurferJeffAtGoogle Bug in autosynth? From what I can tell the generation it self was fine. And it did work last Friday.

[2020-06-09 11:41] yoshi-automation commented on #524
Autosynth passed, closing! :green_heart:

[2020-06-09 11:41] #524 closed

[2020-06-11 05:10] wyuan1704 commented on #494
I am wondering why we don't  use  the User-Agent in the caller's request. Below is an example from [iamcredentials/v1/iamcredentials-gen.go](https://github.com/googleapis/google-api-go-client/blob/master/iamcredentials/v1/iamcredentials-gen.go#L596-L609).
[code]
The caller can specify c.header_.UserAgent. But it's abandoned. Can we make it something like
[code]

[2020-06-11 09:00] broady commented on #494
@wyuan1704 are you referring to if you had used

[code]

?

[2020-06-11 12:59] benpollard commented on #525
@codyoss is there planned support for this in the client library?

[2020-06-11 13:29] codyoss commented on #525
When you say planned support for this client library what do you mean?

[2020-06-11 16:55] wyuan1704 commented on #494
Hi Chris,
Yes, you are right. I am planning to do it, but I find that I can't do it now.

We have a user case in GKE. In a GKE cluster, customers can run multiple pods. Let's say POD1 has UserAgent POD1-UA. POD1 makes requests to a system daemon-set DS1 to get something. DS1 has UserAgent DS1-UA. DS1 uses google-api-go-client to makes requests to a google internal service SRV1. At SRV1 side, they

[2020-06-12 15:19] tritone commented on #449
@rogerhub thanks very much for your report. I created #529 to resolve this; feel free to comment if you like.

I took a narrower approach to net.OpErr based on what kinds of socket-level errors we have heard about in recent customer complaints, rather than doing a blanket retry. If there are any other particular codes that you're seeing problems from, feel free to let me know.

[2020-06-12 16:17] Spazzlo opened #530 "Drives.List() not working with the Q parameter, despite using working Q value"
I've been trying to search drives using the Q parameter, but I keep getting errors. Here's my code (driveService is declared elsewhere, but I use it elsewhere so I know it's fine):

[code]
And here's my output:
[code]

This doesn't make sense to me, as I'm copying the contents of Q from [this Google document](https://developers.google.com/drive/api/v3/search-shareddrives#query_search_examples).

E

[2020-06-13 09:17] tj commented on #436
Was this ever resolved? I see the same error, and I don't seem to be doing anything wrong from what I can tell, in any case the error is pretty vague

[code]

[2020-06-13 16:18] rogerhub commented on #449
@tritone Your approach looks good to me! Thank you for following up on this.

[2020-06-13 16:21] rogerhub commented on #449
Actually, I may have spoken too soon. I vaguely remember that a broken connection is considered a non-temporary error from the socket (net) point of view, which makes sense (the socket is permanently dead). But this should be considered a temporary error from the API client's point of view. I think I initially wrote a fix like yours, but I ended up changing it to also include all network errors be

[2020-06-13 16:23] rogerhub commented on #449
Nevermind, I see you're matching specifically against connection reset errors. Carry on.

[2020-06-15 07:50] benpollard commented on #525
Apologies if my terminology is incorrect - I'm tryin dispatch a request of type QueryTimeSeriesRequest. However, I do not see a way to do this in the go client library. I can list the time series with a filter but I want to use MQL rather than filters.

[2020-06-15 13:54] codyoss commented on #525
[code]

[2020-06-15 15:44] codyoss commented on #530
@sqrrrl Do you have any insight here?

[2020-06-15 16:03] sqrrrl commented on #530
Searching for shared drives by name requires also setting useDomainAccess=true and running as a domain admin. Not entirely sure *why* we restrict name searches vs. restricting the return values to Drives that user has access to, but that's the current restriction.

Looks like the docs are inconsistent in explaining this:
https://developers.google.com/drive/api/v3/ref-search-terms -- name field is

[2020-06-15 17:56] codyoss commented on #530
Ahh, @Spazzlo so I think you need to also use ` driveService.Drives.List().Q("name contains 'confidential'").UseDomainAdminAccess(true).Do()` and do some impersonation which it not yet well supported in these libraries. Please see #378 for more details/work-arounds for impersonation.

[2020-06-15 18:23] Spazzlo commented on #530
Thanks for the info! Those docs really confused me there; I'm not a domain admin so I guess I'll just have to list all the drives I have access to then check each for the name.

[2020-06-15 18:36] #530 closed

[2020-06-16 08:06] benpollard commented on #525
Thank you for taking the time to explain this. I was using: https://github.com/googleapis/google-cloud-go/blob/master/monitoring/apiv3/metric_client.go

Thanks again!

[2020-06-16 13:36] codyoss commented on #525
It may at some point, I am not sure. Although this client is deprecated in favor of the other, it is still updated and has no sunset date. So if there is functionality that is only available to use in this library feel free to use it.

[2020-06-16 16:23] #392 closed

[2020-06-16 17:41] #449 closed

[2020-06-16 19:40] broady commented on #434
A couple thoughts...

Beginning to think that a `WithDialer` option that matches gRPC's type definition:

[code]

https://godoc.org/google.golang.org/grpc#WithContextDialer

We could use this for both our JSON/REST (net/http) and gRPC clients.

Then you can use [golang.org/x/net/proxy](https://godoc.org/golang.org/x/net/proxy).

However, x/net/proxy is kind of cumbersome to use because the return

[2020-06-17 04:02] steren commented on #436
The Cloud Run API team will work on returning a better error message.

But I suggest we re-open this issue @jadekler

Users of the API are able to deploy to Cloud Run without issues (see [this post](https://ahmet.im/blog/gcloud-run-deploy/) which is using a hand written Go client for example)

The actual issue is very likely due to this library, which I guess does not generate the expected payload

[2020-06-17 04:06] steren commented on #436
in the [JSON object](https://github.com/googleapis/google-api-go-client/issues/436#issuecomment-567133982) reported above: I see that `spec.template.name` is set to `test1`. This is likely the culprit, because I think the revision name must be prefixed by the service name. Can you try leaving this field unset, or use `test1-foo` ?

[2020-06-17 04:14] steren commented on #436
This is also confirmed by manually deploying the [payload reported above](https://github.com/googleapis/google-api-go-client/issues/436#issuecomment-567133982), we get this error message:

[2020-06-17 15:48] kwilliamnrys opened #536 "YouTube API List Method"
The List method for *VideosService (and I imagine for the other List methods as well) takes in a []string as a parameter, but when you call it with a []string, there is a compile-time error:

"cannot use (type []string) as type string in argument to videosService.List"

If I pass in a string literal, however, the code works.

[2020-06-17 20:55] steren commented on #436
Note that we expect error messages to now be better propagated thanks to https://github.com/googleapis/google-api-go-client/commit/4554f64b6b0b7213cbe6bf75678cacc28ed28a03

What release of the client library are you using?

If the latest is still not propagating the error message, then we have more work to do.

[2020-06-18 02:57] codyoss commented on #536
Thanks for the report, I will look into this and let you know what I find.

[2020-06-18 03:22] codyoss commented on #536
Out of curiosity, when you say "If I pass in a string literal, however, the code works.". How are you passing a string literal if the method takes a slice?

[2020-06-18 04:16] kwilliamnrys commented on #536
For some reason, the code compiles despite me passing in a string literal. I have no idea how. I was inspired by sample code provided by YouTube: https://developers.google.com/youtube/v3/quickstart/go

[2020-06-18 09:43] tj commented on #436
ahhh weird I was v0.26.0, for some reason Go didn't fetch the latest, but it looks like v0.27.0 also responds with ` Error 400: The request has errors, badRequest` and no additional details

[2020-06-18 15:32] codyoss commented on #536
Ah, I think you were looking at the docs for the new version of this client, but locally you have the old version. Can you confirm what version of `google.golang.org/api` you are running and run `go env` for me?

[2020-06-18 16:01] kwilliamnrys commented on #536
How do I check which version of the API I have and what should I be looking for when I run `go env`

[2020-06-18 16:10] codyoss commented on #536
1. Are you using Go Modules for dependencies? If so check your go.mod. If not look at the code please search the youtube code for the string `gdcl/20` and let me know it's full value.
2. Can you share the value of `GO111MODULE`
3. Can you share the value of `go version`

[2020-06-18 16:56] kwilliamnrys commented on #536
Just checked go.mod. I had the wrong version. Thank you very much!

[2020-06-18 16:56] #536 closed

[2020-06-18 19:02] codyoss commented on #536
No problem, glad I could help. 😄

[2020-06-18 20:26] tritone commented on #449
The fix for this has been released and also propagated into the latest release of cloud.google.com/go/storage .

[2020-06-18 20:50] tritone commented on #392
Noting for posterity here that we did end up scoping this specifically to storage for now. See #538 .

[2020-06-18 23:47] salrashid123 opened #542 "idtoken: computeEngine should support format and license options"
id tokens set the format to `full` always which may include a lot of extra information in the token

eg. the gce instanceid, zone, etc, see https://github.com/googleapis/google-auth-library-nodejs/issues/792#issuecomment-575188336

and described [here](https://cloud.google.com/compute/docs/instances/verifying-instance-identity#token_format)

compute metadata based token uses by default `&format=st

[2020-06-19 13:54] codyoss commented on #542
Thanks for opening the feature request. As you said switching the default might be hard to do at this point. Overall though this seems like something that we could make configurable. cc @broady

[2020-06-19 16:12] hegemonic opened #544 "iam: Markdown links in comments are handled incorrectly"
When a Markdown link appears in a proto comment that's used for a Go struct, that link can get split across multiple lines and rendered in the comments as-is. Example from [`iam/v1/iam-gen.go`](https://github.com/googleapis/google-api-go-client/blob/db1157f86c79a0df6bbdab53ad52c4b78980f580/iam/v1/iam-gen.go#L1350):

[code]

Here's how this gets rendered on [`pkg.go.dev`](https://pkg.go.dev/google.

[2020-06-19 19:37] mauricio opened #545 "Unclear how to disable IPV6 completely on clients"
Hello folks,

We're running on an environment where we don't have IPV6 support so we tried disabling it like this:

`
        config, err := google.JWTConfigFromJSON(credentialsJSON, ""https://www.googleapis.com/auth/calendar" ")
	if err != nil {
		return nil, err
	}

	dialer := &net.Dialer{
		Timeout: time.Second * 10,
	}

	tcp4Transport := &http.Transport{
		Dial: func(network, addr string) (net

[2020-06-21 14:09] peterwillis opened #547 "idtoken claims"
Since the ID token is always validated against google, it would be nice if the payload was more specific than just the base set for a generic jwt. I am thinking of the set shown here:

https://developers.google.com/identity/protocols/oauth2/openid-connect#obtainuserinfo

[2020-06-22 13:28] codyoss commented on #547
Additional claims can always be found in `idtoken.Payload.Claims`: https://pkg.go.dev/google.golang.org/api/idtoken?tab=doc#Payload

[2020-06-22 13:37] codyoss commented on #544
Thanks for pointing this out.

[2020-06-22 14:26] codyoss commented on #545
I think you have the write idea of passing in your own Dial functions

You are correct. There is no current way to configure this client.

cc @broady

[2020-06-22 14:32] mauricio commented on #545
@codyoss we did that and it doesn't work, this happens eventually:

Would you folks take a PR to allow configuring a dialer for the token source?

[2020-06-22 15:23] black-snow commented on #185
+1
For now I have to fetch the contents from ENV and write it to a temporary file in order to provide it to the gradle plugin (java project here). But the file contents may leak / the file might persist which is bad.

[2020-06-22 16:08] justinsb opened #548 "oauth2.Service.TokenInfo.AccessToken errors may contain the access token"
An error from the oauth2 Service TokenInfo AccessToken call may contain the access token, which is likely to cause logging of sensitive information.

For example, this code:
[code]

Resulted in my logging this (I added the redaction, it was the remainder of the token):

[code]

[2020-06-22 17:22] wyuan1704 commented on #494
@broady What do you think about my last comment? Thanks.

[2020-06-22 20:50] codyoss commented on #548
Under the hood this error is just a [net/url.Error](https://pkg.go.dev/net/url?tab=doc#Error) I believe. The same would be true if you just used an http client directly:

[code]
[code]

[2020-06-22 21:40] broady commented on #185
Hi folks, an update on this feature request.

We won't be implementing this any time soon, but it's on our list of ideas for improvements to our auth libraries.

[2020-06-22 22:45] codyoss commented on #403
If you are looking to validate ID tokens I suggest you try out our new `idtoken` package. [idtoken.Validate](https://pkg.go.dev/google.golang.org/api/idtoken?tab=doc#Validate)

[2020-06-22 22:45] #403 closed

[2020-06-22 23:18] codyoss commented on #436
I will look more into why the error message is not making back to the client. @tj Would you mind trying the following: `client, err := run.NewService(ctx, option.WithEndpoint("https://europe-west1-run.googleapis.com/"))`. The API you are trying to call requires using a regional endpoint I believe.

[2020-06-22 23:35] codyoss commented on #436
I double checked the error being returned from the service in this instance and there is indeed no extra details. All the information known is being returned to the client.

[2020-06-23 10:51] nhue2310 opened #550 "healthcare: duplicate query param key"
- I was try to search FHIR resource with `_include` query param like below
[code]
### Expect
`https://healthcare.googleapis.com/v1/projects/x/locations/x/datasets/x/fhirStores/x/fhir/PractitionerRole?_include=Practitioner&_include=Organization`
### Real result
`https://healthcare.googleapis.com/v1/projects/x/locations/x/datasets/x/fhirStores/x/fhir/PractitionerRole?_include=Organization`
 => Searc

[2020-06-23 13:52] tj commented on #436
Oh wow, looks like it works now thanks a lot @codyoss! Sorry about that, I'm pretty new to GCP maybe, but that explains why it's returning a pretty generic error. I guess the only actionable thing would be to return an error specific to the endpoint being invalid

[2020-06-23 13:55] codyoss commented on #436
Glad it worked. I am going to re-close this issue as the only action item sounds like returning some better error messages from the server and that will be tracked internally.

[2020-06-23 13:55] #436 closed

[2020-06-23 14:14] codyoss commented on #550
Can you please show how you are using `queryPractitioner` & `queryOrganization` in the snippet provided above.

[2020-06-23 14:25] nhue2310 commented on #550
@codyoss
Sorry, i updated detail
`queryPractitioner & queryOrganization` has been appended into queries.

[2020-06-23 14:39] codyoss commented on #550
Thanks, I will need to do some digging and then I will get back to you.

[2020-06-23 14:48] tbpg commented on #550
cc @noerog

[2020-06-23 16:36] plusworxchris opened #552 "admin/directory: Problem setting boolean values"
I am currently using google.golang.org/api/admin/directory/v1 v0.28.0 with Go version 1.14.2 on Ubuntu 20.04.

When I try to set boolean values in the structs provided by the client, I can set them to true but not to false. The boolean fields in structs such as User, have json tags with omitempty as an option. This means that false values are ignored when trying to set them through the api.

After

[2020-06-23 16:52] codyoss commented on #552
Please see [User. ForceSendFields](https://pkg.go.dev/google.golang.org/api/admin/directory/v1?tab=doc#User)

From the docs:
[code]

[2020-06-23 16:55] #552 closed

[2020-06-23 21:29] steren commented on #436
It seems that the Go library still struggles to surface error messages, see my comment in https://github.com/googleapis/google-api-go-client/issues/436#issuecomment-645619987

[2020-06-23 21:34] codyoss commented on #436
@steren I checked the raw response as mentioned in https://github.com/googleapis/google-api-go-client/issues/436#issuecomment-647821435 and there are no extra details included in the error that I saw. Were you expecting more details to be returned to the client?

[2020-06-23 23:51] aaron-lerner commented on #436
I see the server returning more details to the client. Here's an example with curl:
[code]
Returns:
[code]
Is the go library definitely handling these error responses properly? All INVALID_ARGUMENTS are returned in a similar manner by Cloud Run. Using the test case added in https://github.com/googleapis/google-api-go-client/commit/4554f64b6b0b7213cbe6bf75678cacc28ed28a03 as an example, it can be t

[2020-06-24 02:29] codyoss commented on #436
@aaron-lerner The only difference between the requests you are making and the Go Client makes are the headers.

Exploring this I decided to selectively remove some of the headers from the Go Client requests. If I remove the user agent header I get the following:

[code]
This returns the following error to the client in this case.

[code]

When I add the user-agent back in:

[code]

Which results i

[2020-06-24 12:05] plusworxchris commented on #552
Thanks very much. This is just what I needed.

Kind regards,

Chris

On Tue, 23 Jun 2020 at 17:55, Cody Oss <notifications@github.com> wrote:

--
*

Disclaimer​

​Confidentiality: This email and any attached files are
confidential and may be legally privileged. It is intended solely for the
addressee(s). Access to this email by anyone else is unauthorised. If you
are not an addressee, any disclosu

[2020-06-24 15:58] asticode opened #554 "youtube: using false bool values in insert and update methods does nothing"
Hey guys,

First off, thanks for this awesome library, it saves us all a lot of time! ❤️

However I'm experiencing a specific issue that raises a bigger issue: when trying to set `LiveBroadcastStatus.SelfDeclaredMadeForKids` to `false` explicitely on a `liveBroadcast.insert`, it does nothing and the Live Streaming UI still asks whether the live broadcast is made for kids.

Indeed the `json` tag of

[2020-06-24 16:01] codyoss commented on #554
You can use [ForceSendFields](https://github.com/googleapis/google-api-go-client/blob/master/youtube/v3/youtube-gen.go#L2696) 😄

[2020-06-24 16:01] #554 closed

[2020-06-24 21:14] steren commented on #436
Wow, that was not expected. Thanks for catching that.

We'll track this internally and remove this special behavior (internal issue: 159834830)

[2020-06-24 22:14] codyoss commented on #519
After more investigation I think autosynth is not the right choice for us right now.

1. It is more tailored for generating gapics with context aware commits.
2. There is no ability to change the PR title. This means upon squashing the changes you need to manually rename the commit every time.
3. The PR will not update if open for more than one day.

For these reasons I think we should do somethin

[2020-06-25 12:25] gokhanm commented on #328
@ont  Did you solve that? What is your work-around solution without forking the repo?

Also PaymentState should be a pointer too @jadekler

[2020-06-25 13:37] codyoss commented on #328
Looks like you could also inspect the value of `UserCancellationTimeMillis` to see if `CancelReason` is really zero.

[2020-06-25 14:14] CoreyGriffin opened #556 "Admin API - Users: update Request - Error 409: Entity already exists"
All of a sudden running into `409` errors when making user update requests ... having the same issue with the [google-api-python-client](https://github.com/googleapis/google-api-python-client) ([x-post](https://github.com/googleapis/google-api-python-client/issues/949))

The request seems to succeed and actually make the changes to the account in G Suite but then returns `googleapi: Error 409: Ent

[2020-06-25 15:23] codyoss commented on #556
This sounds like a backend service error to me. I suggest that you open an issue on the [Admin SDK Issue Tracker](https://issuetracker.google.com/savedsearches/566232). Being that this is happening in two of our client libraries, I think we can rule out the issue being here.

[2020-06-25 15:23] #556 closed

[2020-06-26 04:14] hengfengli opened #558 "option: unable to determine the type of an option.ClientOption"
When we provide both `option.WithoutAuthentication()` and `option.WithCredentialsFile("/path/to/key.json")`, it throws an error:

[code]

In cloud spanner client lib, when we set `SPANNER_EMULATOR_HOST`, it will set `option.WithoutAuthentication()` and so the following code will throw an error:

[code]

One possible solution is to remove `option.WithCredentialsFile()` from the list when `SPANNER_E

[2020-06-26 06:19] hengfengli commented on #558
Same problem makes the solution impossible in https://github.com/googleapis/google-cloud-go/issues/1975.

ADC is checked inside:

https://github.com/googleapis/google-cloud-go/blob/d4e53b5eb0fefbd9f2af8dd3fd881050a46a8fb2/spanner/client.go#L172

However, we are unable to move the check of pool settings forward:

https://github.com/googleapis/google-cloud-go/blob/d4e53b5eb0fefbd9f2af8dd3fd881050a46

[2020-06-26 11:24] Trane9991 opened #559 "androidpublisher: non informative errors"
Hello,
we are having some errors from the server like `googleapi: Error 400: Invalid Value, invalid` which doesn't say what is wrong at all.

I found similar issues:
- https://stackoverflow.com/questions/41091275/error-400-invalid-value-invalid
- https://github.com/Pallinder/go-iap/issues/3
- https://github.com/googleapis/google-cloud-go/issues/196.

The only thing left is to guess what can be wro

[2020-06-26 13:28] codyoss commented on #559
@Trane9991 Sorry you are having issues, can you please post a small reproducer so I can assist you better.

[2020-06-26 13:48] codyoss commented on #558
This is intentional. I am not sure it makes sense to have both set.

Is there a reason `option. WithCredentialsFile` can just not be passed in?

In general adding a method to an interface is a breaking change. Although, here it might technically be possible since the interface references internal which makes it impossible for others to implement.

One solution for this one is to make it an integra

[2020-06-29 00:19] hengfengli commented on #558
The case happens when a user sets a `option.WithCredentialsFile("/path/to/key.json")` in the source code. Then, the user wants to run this code against the emulator so `SPANNER_EMULATOR_HOST` is set and `option.WithoutAuthentication()` is enabled. In this case, the above error will happen. This requires the user to change the source code by removing `option.WithCredentialsFile("/path/to/key.json")

[2020-06-29 07:36] broady commented on #558
I don't want to break the abstraction, out of principle. We found a couple other cases like this where it was tempting to break it, but we ended up adding "internal" options, not to be used by end developers:
https://godoc.org/google.golang.org/api/option/internaloption

Interestingly, those options are all to do with endpoints, and so is emulators, in a way. So it's probably a good match.

I sugg

[2020-06-29 23:22] hengfengli commented on #558
`internaloption.WithEmulator(...)` sounds good to me.

[2020-06-30 10:30] Spazzlo opened #563 "Thread Safety?"
I was wondering how this library does on thread safety? As in, if a client is created, then used at the same time in two goroutines, would it be able to handle it? Some libraries, like python's, isn't able to handle this properly.

[2020-06-30 10:57] Trane9991 commented on #559
Hey. Unfortunately, I can not.
We do IAP purchases verification of behalf of users of our SDK, so we just pass the data that the client gave to us.
And this is part of the problem because this is probably misusage of misconfiguration on their side, however, because of the non-informative error we don't know what exactly they (or us) did wrong.

We suspect that this could be the following issue, ht

[2020-07-02 04:33] marvin5064 opened #565 "idtoken: client created with WithCredentialsJSON failed"
trying to use idtoken with google service account for cloud function execution

I got error `multiple credential options provided` from [this line](https://github.com/googleapis/google-api-go-client/blob/8809fe2216f75c184cf682992f90bd98f325c278/internal/settings.go#L76-L78)

example:
[code]

with `option.WithCredentialsFile`, it seems working fine, probably because of the [backwards compatibility]

[2020-07-06 03:33] Spazzlo commented on #563
After reviewing the code, I've come to the conclusion that this library is very thread safe.

[2020-07-06 03:33] #563 closed

[2020-07-06 10:55] tj opened #566 "403 on BatchEnable"
I was hoping someone could point me in the right direction, I couldn't find relevant documentation.

I'm getting a `403: The caller does not have permission` on `BatchEnable` when using a service account, with what should have the required permissions using these roles:

[code]

Sounds like I should only need `Owner` and `Service Usage Consumer` based on the docs here https://cloud.google.com/serv

[2020-07-06 12:08] tj commented on #566
Just leaving a trail of what I've tried here in case it helps someone Google the same issue in the future. I've tried the "Policy Troubleshooter" with my service account and it says both of those permissions required for `BatchEnable` are fine as well

[2020-07-06 12:57] tj commented on #566
I guess I should maybe be using user auth instead of a service account anyway, since it's a CLI, I'll look more into that and see if it works

[2020-07-06 12:57] #566 closed

[2020-07-06 14:09] codyoss commented on #559
What version of `google.golang.org/api` are you using?

[2020-07-06 15:13] codyoss commented on #565
Thanks for the report, we will get this fixed. For now, a couple workarounds:

- Write JSON to a tempfile
- Do similar logic found in NewClient, but only pass in the relevant ClientOptions

[2020-07-09 15:21] tbpg opened #572 "all: set up Renovate for dependency updates"
Related to https://github.com/googleapis/google-cloud-go/issues/2565.

[2020-07-09 15:30] codyoss opened #573 "all: setup convention commit checker bot for PRs"

[2020-07-09 20:04] #572 closed

[2020-07-10 16:42] bakins opened #577 "idtoken: support authorized_user credentials"
I run several services in Cloud Run using https://cloud.google.com/run/docs/authenticating/overview as well as services on GKE behind IAP.

I also have command line utilities for testing, querying, etc to talk to these services.  When possible, I'd rather use personal credentials rather than walking other developers through creating service accounts with keys, etc.   Also using personal credential

[2020-07-12 05:50] rcmarini commented on #436
Thank you very much @steren. This comment was help me a lot.

[2020-07-13 15:07] twessling commented on #404
if these two are incompatible, what's the approach for using provided credentials(either file or raw bytes) along with proxy configuration (that usually goes on http.Transport inside the http.Client)? There must be a way without relying on env vars?

[2020-07-13 18:51] codyoss commented on #404
For now, I would use the well known proxy env-var. We are considering adding a new client option in the future that might make this easier. https://github.com/googleapis/google-cloud-go/issues/1962

[2020-07-13 19:42] twessling commented on #404
Hm, I'll have to look into that - might mean some refactoring on my side - not all http.Clients in that software should use the proxy. Thanks for the link, that's indeed the direction I was hoping to find something :)

[2020-07-14 15:00] bradfitz opened #582 "idtoken: package is pretty heavy just to validate tokens"
The idtoken package has a surprising number of dependencies when the goal is just to validate a token.

(In our use case, we need our server to validate an idtoken passed to us by an Android app doing Google account sign-in)

We used idtoken at first but then discovered it brought in grpc and protobuf and opencensus and more:

[code]

We ended up forking the package and only keeping the validate f

[2020-07-14 15:05] bradfitz opened #583 "idtoken: TestValidateES256/works test is flaky"
We've had CI failures on `google.golang.org/api/idtoken` (or rather, our fork of it due to #582).

The failures also repro with `google.golang.org/api/idtoken`, which is much easier to see once you patch in https://code-review.googlesource.com/c/google-api-go-client/+/57550 to speed up your tests to remove the `time.Sleep(2 * time.Second)` in the tests.

[code]

/cc @codyoss @broady

[2020-07-14 15:07] bradfitz commented on #583
FYI @crawshaw @dshynkev too (who were encountering this test failure)

[2020-07-14 15:09] codyoss commented on #583
Thanks for the report, I will take a look!

[2020-07-14 15:15] codyoss commented on #582
I believe this is do to our use of `cloud.google.com/go/compute/metadata`... We use it as a part of NewClient/NewTokenSource to detect if the code is running on on GCE and if so, use the metadata server for getting the token.

[2020-07-14 15:19] bradfitz commented on #582
An alternative design might be having a registration package that both `compute/metadata` and `idtoken` depend on, where `compute/metadata` then registers itself with that, say, `tokensourceregistry` package.

Then a user of `idtoken` who just wants `Validate` can import it alone.

But if they had other cloud stuff imported, it also includes the GCE metadata package.

Or they can opt-in with, say:

[2020-07-14 20:04] deka108 opened #586 "storage: Question about go sdk for Google Cloud Storage"
Hi,

I wanted to ask about the status of https://github.com/googleapis/google-api-go-client/ and its future roadmap. For some context, I have been using the high-level client library at https://github.com/googleapis/google-cloud-go/. From my understanding, that client library used the raw auto-generated API from this package. However, I have some use case which are not covered by the high-level cl

[2020-07-14 20:13] codyoss commented on #586
1. There is no plan to remove this package, we just recommend using cloud.google.com/go/storage as it is nicer to work with.
2. Yup.
3. This whole repository is full of client libraries. The client libraries found in this package are all HTTP based. Whereas most-all of the clients in cloud.google.com/go are gRPC based. `storage` is an exception to this rule and is just a wrapper around this reposi

[2020-07-15 01:17] #565 closed

[2020-07-15 13:20] deka108 commented on #586
I'm still figuring out how to best do the uploading process for large files under GCS.
Our use case is related to low-level filesystem requests that we would map to cloud store APIs. Thus, having a fine-grained control over what and when the actual HTTP upload request is sent would be nice (eg: streaming upload / buffer vs bufferless, dynamic chunked size, etc.)

A little bit of background: I thin

[2020-07-15 13:39] tritone commented on #586
You're correct that we don't have support for parallel multipart upload, though we do have support for object composition via this library-- so using this library, it's possible to use parallel goroutines to upload component objects and then compose them at the end (and I've definitely seen applications which take this approach).

As described in the [docs for Writer.ChunkSize](https://pkg.go.dev/

[2020-07-15 13:41] #583 closed

[2020-07-15 15:13] #586 closed

[2020-07-15 15:53] deka108 commented on #586
Okay, I have two follow-up questions:

1. For the chunked upload when does each chunk request actually get sent to the server? Is each chunk
- sent as soon as the chunked buffer is full (data inside buffer == ChunkSize)
- sent as soon as the flush / close is called (buffer is not full, usually the case for the last chunk)
?

2. If we're using `Writer` object from `cloud.google.com/go/storage` when

[2020-07-15 18:06] deka108 opened #588 "storage: question about upload mechanism for Google Cloud Storage"
I have some follow up questions for upload request related to my question in https://github.com/googleapis/google-api-go-client/issues/586

1. For the chunked upload when does each chunk request actually get sent to the server? Is each chunk
- sent as soon as the chunked buffer is full (data inside buffer == ChunkSize)
- sent as soon as the flush / close is called (buffer is not full, usually the

[2020-07-16 13:57] codyoss opened #590 "all: regen PRs should not need to be manually updated"
For some reason our last couple of nightly regens are adding a dep to our `go.mod` file that is not really needed. Example #589. I have manually ran `go mod tidy` on the PR to fix it. Let's figure out why this is happening all of the sudden.

[2020-07-18 03:43] JustinBeckwith opened #593 "Enable master branch protection"
This repository does not seem to have master branch
          protection enabled, at least in the way I'm expecting.
          I was hoping for:

          - master branch protection
          - requiring at least one code reviewer
          - requiring at least two status checks
          - enforcing rules for admins

          Please turn it on!

[2020-07-21 14:16] codyoss commented on #590
The reason why I could not reproduce this locally is because I use 1.14. It seem like changes to the `go` command in 1.13 limited the number of dependencies that would be auto-updated when running `go build` or `go mod download`.

[2020-07-21 15:06] codyoss commented on #590
Related:
- https://github.com/golang/go/issues/34450
- https://github.com/golang/go/issues/34822

[2020-07-21 18:42] #547 closed

[2020-07-22 11:39] Elessar8 opened #597 "Support for Bussiness Messaging private API?"
Are there any plans to support the official bussiness messaging and communications API?
The discovery document is located here: https://businessmessages.googleapis.com/$discovery/rest?version=v1 but it is only accesible with an API-key (which I have).

However, since it is not listed on https://www.googleapis.com/discovery/v1/apis I have to generate the library code myself. According to comments m

[2020-07-22 14:06] codyoss commented on #597
As mentioned in #283 this repository will only generate libraries from that public listing. If you want to try out the generator and see if it works for you can. You would need to clone this repo and generate from within it as the code it generates will rely upon some internal packages here. If you have a support contact you can reach out through them to see if/when the service team is planning on

[2020-07-22 14:06] #597 closed

[2020-07-24 22:16] codyoss commented on #577
Hey sorry for the slow response here. I would like to propose a different solution that might work here. If you had a service account and granted uses the Token creator role you could use the iamcredentials API to generate yourself an ID token.

I took a quick look at your PR and it does not actually generate you a token with the correct audience. You can run it through the `Validate` function and

[2020-07-24 22:16] #577 closed

[2020-07-26 02:07] eriklott opened #601 "Webfonts: incorrect api endpoint? Receiving 404 not found responses only."
v0.29.0

When using the `google.golang.org/api/webfonts/v1` package to list webfonts, I'm receiving only **404 Not Found** responses. I could be wrong, but is the internal webfonts `basepath` const incorrect?
https://github.com/googleapis/google-api-go-client/blob/v0.29.0/webfonts/v1/webfonts-gen.go#L77

The `basepath` is currently `https://www.googleapis.com/`. If I change the Basepath on the ser

[2020-07-26 02:14] codyoss commented on #601
Thanks for the report, we will look into this. For now it looks like you have a workaround. You could also make use of the option `WithEndpoint`: https://pkg.go.dev/google.golang.org/api/option?tab=doc#WithEndpoint

[2020-07-26 03:51] eriklott commented on #601
`WithEndpoint` solution feels a little better, so I'll use that. Thanks for the tip.

[2020-07-26 14:31] plusworxchris opened #602 "DeliverySettings not returned in Members for MembersListCall"
I am using v0.29.0 of the admin/directory/v1 package. When I get the results from a MembersListCall the DeliverySettings field is always an empty string even though I know that the field has been set.

If I do a MembersGetCall for individual members, the DeliverySettings field is returned with its correct value. I'm not sure what's going on here.

[2020-07-26 14:39] codyoss commented on #602
I don't think this is an issue with the generated client, it sounds more like something at the service layer. I recommend reaching out to the service team with one of the suggestions on their [support page](https://developers.google.com/admin-sdk/directory/support).

[2020-07-26 14:39] #602 closed

[2020-07-26 19:10] plusworxchris commented on #602
Thanks for your response. I searched the issue tracker and there are 2 open issues for this: 116535610 and 122446589. I've starred both but there are only 3 stars for each issue so I don't hold out much hope of a fix any time soon.

While I realise there are priorities when dealing with these issues, I can't imagine this particular issue would be too difficult to fix given that the MembersGetCall

[2020-07-27 04:39] lufia opened #605 "appengine: Retrieving custom labels from the API"
**Is your feature request related to a problem? Please describe.**
I'd like to filter some services with custom labels. Though I can do that on Cloud Console, I couldn't find how to retrieve custom labels by gRPC/REST API.

**Describe the solution you'd like**
I want to get custom labels from the API. For example, I want to do that by adding *Labels* field to the *appengine.Service*.
https://godoc

[2020-07-27 13:48] codyoss commented on #605
These libraries are auto-generated from a source spec. If you wanted to request a feature like this I would recommend to search/create an issue on the App Engine issue tracker. You can find links on this page: https://cloud.google.com/support/docs/issue-trackers#trackers-list

[2020-07-27 13:48] #605 closed

[2020-07-27 15:00] bakins commented on #577
@codyoss Thanks for the feedback.  I can look at the iamcredentials API. Any quick links to examples?  Also, FWIW, idtokens work fine with fully managed cloud run authenticated services (which is what we generally use) https://cloud.google.com/run/docs/authenticating/developers 🤷

[2020-07-27 15:53] codyoss commented on #601
This is fixed, but has not been released yet. https://github.com/googleapis/google-api-go-client/blob/56379540dde61c59a1f2556eaf628829c0a759dd/webfonts/v1/webfonts-gen.go#L77

I will get a release cut today or tomorrow.

[2020-07-27 15:53] #601 closed

[2020-07-27 22:04] codyoss commented on #577
I am not sure we have samples for that api, but here is something I wrote quick:

[code]

[2020-07-28 02:22] mookjp opened #608 "option: change WithGRPCDialOption to get options as arguments"
This is no big change but it would be easy to understand to take options as arguments, IMO

[code]

Example:

[code]

[2020-07-28 15:19] codyoss commented on #593
Audited and all four are true.

[2020-07-28 15:19] #593 closed

[2020-07-28 19:11] dustin-decker opened #610 "ForceSendFields creates security issues"
This lib has a field called `ForceSendFields` to allow you to specify sending particular fields when they are set to their 'default' value.

The bool default value is `false`, and typically causes the most issues.

Take CloudSQL instances, for example. `Ipv4Enabled` controls whether the instance is created with a public IP. The field defaults to true (but not the value). So if you specify `false`

[2020-07-28 19:55] codyoss commented on #610
It was a design decision of these clients to to work with builtin types rather than making everything a pointer to make the experience more idiomatic . Because of this, in conjunction with the fact we use `omitemtpy` on all fields, we needed a way to send default values: `ForceSendFields`. In the case of a bool this gives us three options: true, false(with ForceSendFields), false(with ForceSendFie

[2020-07-28 19:55] #610 closed

[2020-07-28 23:49] hengfengli commented on #558
@codyoss  I just want to follow up with this issue. Is there any plan/schedule for this?

[2020-07-29 13:56] codyoss commented on #588
The docs for Writer go into these details: https://pkg.go.dev/cloud.google.com/go/storage?tab=doc#Writer

Here is a link to the underlying [implementation](https://github.com/googleapis/google-api-go-client/blob/master/internal/gensupport/buffer.go#L34) and [this](https://github.com/googleapis/google-api-go-client/blob/dec4990267b387639de624cd235758ea649d3a46/internal/gensupport/resumable.go#L127)

[2020-07-29 13:56] #588 closed

[2020-07-30 06:47] grayside opened #611 "idtoken: Default token struct to stringify as AccessToken"
Code to mint an identity token and authenticate with a Cloud Run service presents troubleshooting challenges to developers: whether the HTTP header is wrong or IAM is misconfigured, the same HTTP 401 response is sent.

Sending the wrong token in Go is as easy as serializing the entire minted token object:

[code]

Instead of attaching just the token header value

[code]

### Proposed

Streamline t

[2020-07-30 13:54] codyoss commented on #611
An [oauth2.Token](https://pkg.go.dev/golang.org/x/oauth2@v0.0.0-20200107190931-bf48bf16ab8d?tab=doc#Token) is the type that is returned from the `Token` method. This itself provides a method to sign a request, see [SetAuthHeader](https://pkg.go.dev/golang.org/x/oauth2@v0.0.0-20200107190931-bf48bf16ab8d?tab=doc#Token.SetAuthHeader). Also, if a user of the idtoken package uses the [NewClient](https:

[2020-07-30 13:55] codyoss commented on #611
Maybe we could address this by putting some samples right in the godoc?

[2020-07-30 15:49] grayside commented on #611
Shows me not to file a late-night issue, got the wrong repo.

Identifying to use the `AccessProperty` was not difficult from looking at the struct, this is more a case where it's easy in the course of refactoring to drop that property and it does not look wrong.

As a further consideration, in GCP terms this isn't an Access token, but as you say, this is a from a general oauth interface.

A godoc

[2020-07-30 16:32] codyoss commented on #611
I hear what you are saying. For this issue let's add a godoc sample to help steer people in right direction.

I think the String method is a good suggestion to be clear, this is just not the right repo to do that in. Could you file a similar issue on https://github.com/golang/oauth2?

[2020-07-31 20:54] codyoss commented on #558
I recently added, it is not in a released version yet, `SkipDialSettingsValidation`: [link](https://github.com/googleapis/google-api-go-client/blob/f10cc94b4f1ec2f17bebd8f39f16c6e8822f6658/option/internaloption/internaloption.go#L44). Maybe you could also pass this in the case of an emulator? It basically is for cases like this where "I know how this works, trust me" :) `DailSettings.NoAuth` is ch

[2020-08-02 23:03] hengfengli commented on #558
Thanks for the update. I will try it out once it is released.

[2020-08-04 14:28] codyoss commented on #559
Closing due to lack of response.

[2020-08-04 14:28] #559 closed

[2020-08-04 14:32] Trane9991 commented on #559
Sorry, @codyoss, forgot about this one:
`google.golang.org/api v0.29.0`

[2020-08-04 15:47] codyoss commented on #558
[v0.30.0](https://github.com/googleapis/google-api-go-client/releases/tag/v0.30.0) Should have that new internal option. Let me know if that does not work for you and we can look at a different approach.

[2020-08-05 18:43] ivucica opened #616 "Repository size over 500mb"
Hi,

The total directory size for `$GOPATH/src/google.golang.org/api` is 692.7MB, out of which `$GOPATH/src/google.golang.org/api/.git` is 548.1MB.

Even a single checkout is large, but if someone keeps different projects in different `$GOPATH`s, this means storing multiple copies of half-a-gigabyte directory. `go get` [doesn't support shallow clones](https://golang.org/issue/13078) and doing so w

[2020-08-05 20:54] codyoss commented on #616
Hey,

We are aware that the project is quite large right now and have had discussions on this topic in the past. I will re-bring up the topic again and see if anything has changed.

I don't know if we would do this, but we have talked about splitting into multiple modules in the past.

This would be tricky and a potentially dangerous. I am not sure how this would work with git tags and modules.

[2020-08-05 23:37] ivucica commented on #616
I forgot about the existence of modules -- I'm firmly in the self-managed `GOPATH` world, happily ignoring the existence of modules. In my old-school world, breaking things up would mean simply nuking the old `${GOPATH}/src/google.golang.org/api` folder and letting `go get` resolve the new Git repositories, with the HTML pages serving one per API.

Thinking about the Go modules world (which I have

[2020-08-06 14:33] tbpg commented on #616
Go modules, by default with recent versions of Go, are distributed as zip files of just the source code for that particular version.

When in GOPATH mode, repositories are downloaded with `git clone` (which clearly isn't ideal).

So, if you're using modules, the size of the total git repository does not matter -- only the size of the source at the version you are asking for.

That's one of the mai

[2020-08-06 15:15] codyoss commented on #430
Closing due to lack of response, please feel free to re-open if you are still having this issue.

[2020-08-06 15:15] #430 closed

[2020-08-06 19:51] LewisLebentz commented on #378
I'm trying to create a tool that will allow me to add delegates to Gmail, but seem to be having a similar issue.

I've granted a service account DwD, but can't seem to be able to get Go to use the creds, or impersonate a user so I can modify the Gmail settings.

@salrashid123 I saw your sample for Drive, but it looks like it isn't possible to modify Gmail settings for G Suite users using Go at the

[2020-08-06 21:29] carnott-snap commented on #378
can you try git.sr.ht/~urandom/dwd? I published my CL as a package, and that should let you do what you need. If it works we can lean on getting it merged, or maybe put it in this repo, if the core team does not want it in oauth2.

[2020-08-06 22:31] LewisLebentz commented on #378
@carnott-snap not great at Go yet, trying to use it with this API:

https://developers.google.com/gmail/api/v1/reference/users/settings/delegates

How would I go about using your library to auth for the delegates API?

[2020-08-10 00:03] hengfengli commented on #558
This issue has been fixed: https://github.com/googleapis/google-cloud-go/pull/2701/files. @codyoss Thanks for adding the new internal option.

[2020-08-10 00:03] #558 closed

[2020-08-11 07:00] TatyanaBol opened #622 "Unable to go get gensupport"
This can be reproduced by doing

`go get -d  google.golang.org/api/gensupport`

with output:

`go get google.golang.org/api/gensupport: module google.golang.org/api@upgrade found (v0.30.0), but does not contain package google.golang.org/api/gensupport
`

[2020-08-11 08:13] taitelman commented on #622
maybe #398 is the same ?

[2020-08-11 13:58] codyoss commented on #622
`gensupport` is an internal package: https://github.com/googleapis/google-api-go-client/tree/master/internal/gensupport

This has been the case since https://github.com/googleapis/google-api-go-client/releases/tag/v0.11.0.

[2020-08-11 13:58] #622 closed

[2020-08-12 14:03] tbpg commented on #616
I wrote a blog post expanding on why modules are faster than GOPATH: https://dev.to/tbpalsulich/why-go-modules-are-faster-than-gopath-blj

Closing this. We may take some action to reduce the repo size in the future, but modules solve much of the issues today. So, we're not planning to change anything for the moment.

[2020-08-12 14:03] #616 closed

[2020-08-12 18:24] carnott-snap commented on #378
Mail delegation should be orthogonal to the actual token delegation. E.g. I used that lib to interact with the directory api, where my service account needed to impersonate my google account: https://developers.google.com/admin-sdk/directory/v1/guides/delegation

[2020-08-14 15:58] codyoss commented on #608
For now, I think we will leave it as is. There is already a way to do this, and the option name implies a singe DialOption.

[2020-08-14 15:58] #608 closed

[2020-08-14 16:24] codyoss commented on #573
This is now live.

[2020-08-14 16:24] #573 closed

[2020-08-14 16:41] #548 closed

[2020-08-14 16:57] codyoss commented on #522
@sam-virta, is this still an issue for you?

[2020-08-14 19:04] codyoss commented on #457
I have filed an internal issue to update this documentation.

[2020-08-14 19:37] codyoss commented on #432
The recommendation is to use ForceSendFields, as you have discovered. I am hesitant to change this field.

[2020-08-14 19:37] #432 closed

[2020-08-19 19:29] broady commented on #582
@bradfitz did those packages end up in your final binary?

[2020-08-19 19:47] codyoss commented on #582
A little testing with a blank project that only calls idtoken.Validate(...)

[code]

<details>
  <summary>My modules.txt after vendoring</summary>

[code]
</details>

[2020-08-24 01:30] Robvio commented on #95
Is there any other offering from google that allows you to access the google adwords api from golang?

[2020-08-24 23:51] derekperkins opened #637 "cloudidentity: can't set permissions"
Whenever we try and use this package, we get permission denied errors. When going to edit a custom role, there are no cloudidentity permissions available. I can create/patch an organization role with those permissions as shown, but then the role editor shows that they are hidden. Once those permissions are added to a role, I can no longer add that role to a service account, and any service account

[2020-08-25 08:13] zimnx opened #638 "gensupport: allow passing in buffer for uploads to reduce allocations"
When uploading lots of files using ObjectStorage.Insert(), **each file** allocates his own buffer. This results in increased CPU usage and high RSS memory.

Graph below shows how many space was allocated during upload of ~30k of 10MB files:
![Selection_132](https://user-images.githubusercontent.com/3951334/90792638-ff434c00-e30a-11ea-9088-240c5d204252.png)

User should be able to pass his own buff

[2020-08-25 13:47] salrashid123 commented on #160
@name-schema   i dont' think `google.golang.org/api/idtoken` will work here since it just looks to validate against [google OIDC and IAP JWK urls](https://github.com/googleapis/google-api-go-client/blob/master/idtoken/validate.go#L27-L28).

this library isn't a geric JWT validator but others like google auth python can validate servcie account signed JWTs.  For example, in google-auth python, you

[2020-08-25 15:17] codyoss commented on #160
@name-schema Could you file a feature request  issue for this?

[2020-08-25 18:47] codyoss commented on #637
Thanks for the through report. I need to investigate a little and get back to you when I know a little more.

[2020-08-25 19:11] derekperkins commented on #637
As we've kept digging, we're still getting stuck. Following the instructions [here](https://cloud.google.com/identity/docs/how-to/setup#auth-no-dwd), we've added the service account to the Groups Admin role inside G Suite, still with no luck. https://developers.google.com/admin-sdk/directory/v1/reference/roleAssignments/insert

For reference, we tried to tackle this 5 months ago and were unsuccess

[2020-08-25 19:15] derekperkins commented on #637
We've also tried via `gcloud beta identity groups` and gotten the same errors, so it is likely a server-side issue. It would be nice to get some Go examples on https://cloud.google.com/identity/docs/how-to/setup#auth-no-dwd

[2020-08-25 19:30] codyoss commented on #637
It sounds like the feature is pre-GA which is might be why we don't have better language coverage for that sample.
To do something similar in Go thought you could use the following two client options when creating your client:

[code]

[2020-08-25 21:34] name-schema commented on #160
@salrashid123 Thank you very much for the guidance, I'll try and complete the task using what you've provided. Just kinda bummed because I thought the google-api-go-client would have something to validate against it's own tokens, but I guess that's neophic thinking.

@codyoss CERTAINLY!! I'll figure out how to do that, and get it done asap.

[2020-08-25 21:39] codyoss commented on #638
@zimnx Thanks!

[2020-08-25 21:45] keyslapperdev opened #640 "idtoken: support providing custom certificate URLs"
The current documentation for Google Chat bot verification shows

In their code examples they show that the url to get the keys for validation should be https://www.googleapis.com/service_accounts/v1/metadata/x509/ + ${theAboveIsuee}

As of now this repo doesn't support the kind of JWT validation specified in the docs.

I feel a solution would be to create a module, or extend current functionality

[2020-08-25 21:59] codyoss commented on #640
Thanks for the feature request!

[2020-08-26 14:29] codyoss commented on #637
Just to follow up here, I have pinged some people internally and seeing if I can find out more. A couple of questions that came up:

1. Are you using setIAMPolicy to grant permissions to create groups? These permissions should be instead granted from the Admin Console I believe.

2. What is your current setting for creating groups in the Admin Console?("Anyone in this domain can create groups", "O

[2020-08-26 19:35] derekperkins commented on #637
1. Yes, setIAMPolicy is what we tried first. When that didn't work, we [found the docs](https://github.com/googleapis/google-api-go-client/issues/637#issuecomment-680217857) about adding it via the G Suite api. There's no way to add a service account via the console. The service account in question now has the Groups Admin role.

1. "Anyone in this domain can create groups"

1. @mordfustang21 Can

[2020-08-26 20:00] MordFustang21 commented on #637
We aren't doing anything special just.
[code]

[2020-08-27 13:49] aruandre commented on #333
has this actually been solved? I'm encountering the same issue. The documented code sample does not mention anything about jobName. https://cloud.google.com/storage-transfer/docs/create-manage-transfer-program#python

[2020-08-27 14:05] codyoss commented on #333
The internal bug is still open, I have pinged the issue. Are you getting the same exact error, so slightly different?

[2020-08-27 14:51] aruandre commented on #333
The exact same 403.

[2020-08-28 14:32] codyoss commented on #637
@MordFustang21 Can or have you tried to pass the scopes recommended [here](https://cloud.google.com/identity/docs/how-to/setup#authenticating_and_authorizing_the_service_account)?

For you, this would look something like:

[code]

[2020-08-28 21:58] codyoss commented on #637
Also, not sure this has any information you have not already looked at, but the gSuite updates blog did publish [this article](https://gsuiteupdates.googleblog.com/2020/08/use-service-accounts-google-groups-without-domain-wide-delegation.html) yesterday.

[2020-08-31 18:02] profsmallpine opened #645 "gmail: Error 400: Precondition check failed., failedPrecondition"
Howdy,

I've searched wide and far on this Precondition check failed error, and I can only find issues where users fix the underlying problem and this is solved. We are seeing this error happening, which then kicks it back into a queue. Once the job retries, the API call is successful. I'm not sure if it's related to this go client, but I have not been able to make any progress on how/why this is